@import '~scss/variables';
@import '~scss/mixins';

.name {
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;

  @include ellipsis;

  img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin: -4px 12px 0 0;
    vertical-align: bottom;
  }
}
