@import '~scss/variables';
@import '~scss/mixins';

.wrapper {
  position: relative;
  padding: 12px;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  background-color: $white;
  cursor: pointer;
  transition: all $trans-speed ease-in-out;

  &:hover {
    border-color: $border-hover-color;
    box-shadow: 0 4px 8px 0 rgba(36, 46, 66, 0.2);
  }
}

.placeholder {
  padding: 9px 0;
  text-align: center;
  @include TypographyParagraph($dark-color04);
}

.form {
  position: relative;
  padding: 12px 12px 20px 12px;
  border-radius: 4px 4px 0 0;
  border: solid 1px $border-hover-color;
  background-color: $white;
  box-shadow: 0 4px 8px 0 rgba(36, 46, 66, 0.2);
}

.confirm {
  position: absolute;
  bottom: -36px;
  left: -1px;
  right: -1px;
  width: auto;
  border-radius: 0 0 4px 4px;
}

.placement {
  display: flex;
  gap: 12px;
  align-items: center;

  & > div {
    min-width: 200px;
    margin-right: 12px;
    flex: 1;
  }

  .icon {
    flex: none;
  }
}

.option {
  display: block;
  position: relative;
  width: 100%;
  @include ellipsis;
  & > span,
  & > img {
    display: inline-block;
    vertical-align: text-bottom;
    margin-right: 6px;
    width: 16px;
    height: 16px;
  }
}

.tip {
  @include vertical-center;
  right: 0;
}
