@import '~scss/variables';

.wrapper {
  margin: 0 !important;
  background-color: #ffffff;
  border: 1px solid #d8dee5;

  :global {
    .column {
      padding: 12px 18px;
    }
  }
}

.options {
  display: flex;
  align-items: center;
}
