@import '~scss/variables';
@import '~scss/mixins';

.userWrapper {
    flex: 1;
    margin-left: 20px;

    :global {
        .level {
            margin-bottom: 14px;
        }

        .input-search {
            margin-left: 24px;
        }

        .tag {
            border-radius: 10px;
            padding: 0 10px;
            margin-left: 6px;
            min-width: 30px;
        }
    }
}

.scrollWrapper {
    background-color: #fff;
    border-radius: $border-radius;
    height: calc(100% - 46px);
    padding: 12px;

    .empty{
        @include middle;
    }

    .item {
        border: 1px solid $border-color;
        padding: 12px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 2px;

        :global {
            .button {
                padding: 5px 20px;
            }
        }
    }

    .item+.item {
        margin-top: 8px;
    }

    .avatar {
        border-radius: 50%;
        align-items: center;
        opacity: 1;
        flex: 1;
    }

    .text {
        flex: 1;
        word-break: break-all;
        margin-left: 20px;
        margin-right: 10px;
    }
}

.tabPanel {
    height: 100%;
    display: none;

    &.active {
        display: block;
    }
}