/* BEGIN Regular */
@font-face {
  font-family: Roboto;
  src: url("./Roboto-Regular.woff2") format("woff2"),
       url("./Roboto-Regular.woff") format("woff"),
       url('./Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  src: url("./Roboto-Regular.woff2") format("woff2"),
       url("./Roboto-Regular.woff") format("woff"),
       url('./Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* END Regular */

/* BEGIN Italic */
@font-face {
  font-family: Roboto;
  src: url("./Roboto-Italic.woff2") format("woff2"),
       url("./Roboto-Italic.woff") format("woff"),
       url('./Roboto-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: Roboto;
  src: url("./Roboto-Italic.woff2") format("woff2"),
       url("./Roboto-Italic.woff") format("woff"),
       url('./Roboto-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

/* END Italic */

/* BEGIN Medium */
@font-face {
  font-family: Roboto;
  src: url("./Roboto-Medium.woff2") format("woff2"),
       url("./Roboto-Medium.woff") format("woff"),
       url('./Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

/* END Medium */

/* BEGIN Medium Italic */
@font-face {
  font-family: Roboto;
  src: url("./Roboto-MediumItalic.woff2") format("woff2"),
       url("./Roboto-MediumItalic.woff") format("woff"),
       url('./Roboto-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

/* END Medium Italic */

/* BEGIN Bold */
@font-face {
  font-family: Roboto;
  src: url("./Roboto-Bold.woff2") format("woff2"),
       url("./Roboto-Bold.woff") format("woff"),
       url('./Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  src: url("./Roboto-Bold.woff2") format("woff2"),
       url("./Roboto-Bold.woff") format("woff"),
       url('./Roboto-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/* END Bold */

/* BEGIN Bold Italic */
@font-face {
  font-family: Roboto;
  src: url("./Roboto-BoldItalic.woff2") format("woff2"),
       url("./Roboto-BoldItalic.woff") format("woff"),
       url('./Roboto-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: Roboto;
  src: url("./Roboto-BoldItalic.woff2") format("woff2"),
       url("./Roboto-BoldItalic.woff") format("woff"),
       url('./Roboto-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

/* END Bold Italic */