@import '~scss/variables';

.connects__column {
  vertical-align: top;
  // width: 35px;
  display: inline-block;
  padding-top: 80px;

  svg {
    height: 100%;
    width: 70px;
    overflow: visible;
  }
}

.editButton {
  &:hover {
    circle {
      cursor: pointer;
      stroke: #329dce;
    }
  }
}
