@import '~scss/variables';
@import '~scss/mixins';

.wrapper {
  & > header {
    font-weight: bold;
    color: $dark-color07;
    margin-bottom: 8px;
  }

  & > div {
    padding: 8px;
    background: $light-color02;
  }

  & + .wrapper {
    margin-top: 8px;
  }
}