@import '~scss/variables';

.body {
  background-color: $white;
}

.formItem {
  width: 640px;
}

.urlInput {
  .label {
    display: block;
    margin-bottom: 4px;
    line-height: 20px;
    color: $text-color;
  }

  .desc {
    margin-top: 4px;
    font-weight: 300;
    line-height: 20px;
    color: #657d95;
  }

  .field {
    margin-top: 12px;
    margin-bottom: 12px;

    &Input {
      position: relative;
      display: flex;
      flex-wrap: nowrap;

      .protocol {
        width: 110px;
        margin-right: 8px;
      }

      .url {
        width: 336px !important;
        margin-right: 8px;
      }

      &.validated {
        .url {
          padding-right: 30px;
        }
      }

      .validStatus {
        position: absolute;
        top: 2px;
        left: 423px;
        padding: 4px;
        background-color: transparent;

        :global {
          .spin {
            padding: 0;
            padding-top: 4px;
          }

          .kubed-icon-success {
            color: #00aa72;
            fill: #90e0c5;
          }

          .kubed-icon-error {
            color: #fff;
            fill: rgb(234, 70, 65);
          }
        }
      }
    }
  }

  .access {
    display: flex;
    margin-bottom: 12px;

    &Item {
      width: 223px;
      margin: 0 8px 0 0;
    }

    :global(.input) {
      width: 100%;
    }

    .verifyBtn {
      margin-top: 24px;
    }
  }

  .verifyBtn {
    width: 80px;
    height: 32px;
    padding-left: 0;
    padding-right: 0;
  }
}
