.close {
  height: 20px;
  overflow: hidden;
}

.header {
  cursor: pointer;
}

.title {
  font-size: 12px;
  font-weight: 600;
  color: #000000;
  line-height: 20px;
  height: 20px; 
}

.count {
  font-size: 12px;
  color: #79879C;
  line-height: 20px;
  height: 20px;
}

.text {
  font-size: 12px;
  font-weight: 600;
  color: #000000;
  line-height: 24px;
}

.value {
  font-size: 12px;
  font-weight: 600;
  color: #bb8f00;
  line-height: 24px;
  word-break: break-all;
}