@import '~scss/variables';

$toolbarHeight: 48px;
$logCountColor: #329dce;

.searchBar {
  display: flex;
  position: relative;
  margin-left: 12px;
  margin-right: 12px;
  margin-bottom: -23px;
  background: #fff;
  border-radius: 4px;
  border: solid 2px #d8dee5;
  @at-root {
    .searchInput {
      position: relative;
      flex: 1;
      border: none;
      border-right: solid 2px #d8dee5;
      border-left: solid 2px #d8dee5;
      border-radius: 0;
    }
    .select {
      width: 120px;
      line-height: 40px;
      :global {
        .select-control {
          height: 40px;
          border: none;
          box-shadow: none !important;
        }

        .select-options {
          width: auto !important;
          min-width: 130px;
        }
      }
    }
  }
}

.searchResult {
  border-radius: $border-radius;
  background-color: $lightest;
  padding: 25px 12px 14px 12px;
  border: solid 1px #d8dee5;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.toolbar {
  height: $toolbarHeight;
  line-height: $toolbarHeight;
  border-radius: 4px;
  background-color: #242e42;
  margin: 8px 0;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  .frequencyOpts {
    margin-left: 4px;

    & > span {
      display: inline-block;
      vertical-align: middle;
    }
  }
  .frequencyOptions {
    display: inline-block;
    vertical-align: middle;
    width: 100px;
    :global {
      .select-options {
        line-height: 30px;
        font-size: 10px;
      }
      .select-value {
        color: #fff !important;
      }
      .select-control {
        border: none;
        background: transparent;
        box-shadow: none;
        height: 40px;
        &:hover {
          background: transparent;
        }
      }
    }
  }
}

.chartContainer {
  margin-bottom: 12px;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(36, 46, 66, 0.06);
  background-color: #ffffff;
  display: flex;
  align-items: center;
  padding: 0 32px;
  @at-root {
    @at-root {
      .recentSummary {
        width: 140px;
        margin-right: 10px;
        h2 {
          font-weight: bold;
          font-size: 32px;
        }
        p {
          font-size: 12px;
          font-weight: 600;
          line-height: 1.67;
        }
      }
      .chart {
        flex: 1;
        height: 160px;
      }
    }
  }
}

.table {
  border-radius: 4px;
  background-color: #ffffff;
  flex: 1;
  overflow: hidden;
  @at-root {
    .logItem {
      flex: 3.8;
      white-space: pre-line;
    }
  }
}

.count {
  color: $logCountColor;
}

.showHistogramBtn {
  cursor: pointer;
}

.exportBtn,
.pollingBtn {
  line-height: 32px;
  width: 32px;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  &:hover {
    border-radius: 2px;
    background-color: #36435c;
  }
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 500px;
}

.hightLightMatch {
  background: #ffc781;
}

.hightLog {
  em {
    background: #ffc781;
    font-style: normal;
  }
}
