@import '~scss/variables';
@import '~scss/mixins';

.card {
  position: relative;
  padding: 20px 24px;
  border-radius: 4px;
  background-color: #ffffff;
  border: solid 1px $light-color03;

  .text {
    display: inline-block;
    vertical-align: middle;
    min-width: 230px;
    margin-left: 24px;
    padding-right: 24px;
    border-right: dashed 1px #d8dee5;
  }

  .version {
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
  }

  .right {
    right: 12px;
    min-width: 96px;
    @include vertical-center;
  }

  & + .card {
    margin-top: 8px;
  }
}

.icon {
  position: relative;
  display: inline-block;
  
  .istio {
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    right: 0;
    bottom: 0;
    background-color: #fff;
    border: 2px solid #329dce;
    border-radius: 50%;

    :global .icon {
      margin-top: -6px;
    }
  }
}