@import '~scss/variables';
@import '~scss/mixins';

.wrapper {
  padding: 12px;
  border-radius: 4px;
  background-color: $lightest;
}

.limits {
  right: 20px;
  @include vertical-center;
  @include TypographyTitleH6();

  .limit {
    :global .icon {
      margin-right: 4px;
    }

    & + .limit {
      margin-left: 14px;
    }

    & > span {
      vertical-align: middle;
    }
  }
}

.message {
  span + span {
    margin-left: 8px;
  }
}
