@import '~scss/variables';

.tabs {
  height: 100%;
  border: none;
  border-radius: 4px;
  overflow: hidden;

  :global {
    .tabs {
      min-width: 48px;
      ul {
        border-right-style: none !important;

        & > li {
          border: none;
          min-width: unset !important;
        }

        &.is-active {
          border-right: none !important;
          z-index: 1;
          background-color: $white;
        }
      }
    }

    .tab-content {
      width: 446px;
      overflow-y: auto !important;
      padding: 10px 0 0 10px;
      transform: translateX(-2px);
    }
  }

  .content {
    .title {
      font-size: 12px;
      font-weight: 600;
      color: $dark-color07;
      line-height: 20px;
      height: 20px;
    }

    .center {
      margin: 10px;

      .row {
        display: flex;
        margin-bottom: 10px;

        .rowTitle {
          font-size: 12px;
          color: $dark-color01;
          line-height: 20px;
          height: 20px;
          width: 110px;
        }

        .rowDesc {
          font-size: 12px;
          font-weight: 600;
          color: $dark-color07;
          line-height: 20px;
          height: 20px;
          margin-left: 10px;
        }
      }
    }
  }

  .bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 10px auto;
    background-color: $light-color01;
    border-radius: 4px;
    padding: 15px;

    .reason {
      font-size: 12px;
      font-weight: 600;
      color: $dark-color07;
      line-height: 20px;
    }

    .message {
      font-size: 12px;
      color: $dark-color07;
      line-height: 20px;
    }
  }
}

.category {
  width: 54px;
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
  height: 20px;
  text-align: center;
  border-radius: 1px;
}

.normal {
  color: $dark-color06;
  background-color: $light-color02;
}

.warning {
  color: $white;
  background-color: #f5a623;
}
