.tabs {
  height: 100%;

  :global(.tabs) {
    min-width: 48px;
  }

  ul {
    border-right-style: none !important;

    li {
      padding: 8px !important;
      margin: 0 !important;
      border: 1px solid #d5dee7 !important;
      transform: translate(-1px, -1px);
    }

    :global(li.is-active) {
      border-right: none !important;
      z-index: 1;
      background-color: white;
    }

    li:last-child {
      transform: translate(-1px, -2px) !important;
    }
  }

  :global(.tab-content) {
    width: 446px;
    height: 100% !important;
    overflow-y: auto !important;
    padding: 10px 0 0 10px;
    border-left: 1px solid #d5dee7;
    transform: translateX(-2px);
  }

  .content {
    .title {
      font-size: 12px;
      font-weight: 600;
      color: #242E42;
      line-height: 20px;
      height: 20px;
    }
  
    .center {
      margin: 10px;
    
      .row {
        display: flex;
        margin-bottom: 10px;
    
        .rowTitle {
          font-size: 12px;
          color: #79879C;
          line-height: 20px;
          height: 20px;
          width: 110px;
        }
    
        .rowDesc {
          font-size: 12px;
          font-weight: 600;
          color: #242E42;
          line-height: 20px;
          height: 20px;
          margin-left: 10px;
        }
      }
    }
  }

  .bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 88px;
    margin: 10px auto;
    background-color: #F9FBFD;
    border-radius: 4px;
    padding: 15px;
  
    .reason {
      font-size: 12px;
      font-weight: 600;
      color: #242E42;
      line-height: 20px;
      height: 20px;
    }
  
    .message {
      font-size: 12px;
      color: #242E42;
      line-height: 20px;
      height: 20px;
    }
  }
}

.category {
  width: 54px;
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
  height: 20px;
  text-align: center;
  border-radius: 1px;
}

.normal {
  color: #36435C;
  background-color: #eff4f9;
}

.warning {
  color: #ffffff;
  background-color: #F5A623;
}