.modal {
  height: 100%;

  :global(.modal-content) {
    position: absolute;
    right: 20px;
    bottom: 20px;
    border: 1px solid #d5dee7;

    :global(.modal-card-body) {
      padding: 0;
    }

    :global(.modal-card-head) {
      display: none;
    }
  }

  @media screen and (max-width: 999px) {
    :global(.modal-content) {
      bottom: 28px;
      right: 0;
    }
  }
}

.detail {
  :global(.tabs) {
    min-width: 32px;
  }

  :global(.tabs:not(:last-child)) {
    margin-bottom: 0;
  }

  ul {
    border-right-color: transparent !important;

    li {
      padding: 8px !important;
      margin: 0 !important;
      border: 1px solid #d5dee7 !important;
      transform: translate(-1px, -1px);
    }
  
    :global(li.is-active) {
      border-right: none !important;
      z-index: 1;
      background-color: white;
    }

    li:last-child {
      transform: translate(-1px, -2px) !important;
    }
  }

  :global(.tab-content) {
    height: 100% !important;
    overflow-y: auto !important;
    padding: 10px 0 0 10px;
    border-left: 1px solid #d5dee7;
    transform: translateX(-3px);
  }

  .content {
    width: 430px;
    height: 488px;
    overflow-y: scroll;
  
    .title {
      font-size: 12px;
      font-weight: 600;
      color: #242E42;
      line-height: 20px;
      height: 20px;
    }
  
    .center {
      margin: 10px;
    
      .row {
        display: flex;
        margin-bottom: 10px;
    
        .rowTitle {
          font-size: 12px;
          color: #79879C;
          line-height: 20px;
          height: 20px;
          width: 110px;
        }
    
        .rowDesc {
          font-size: 12px;
          font-weight: 600;
          color: #242E42;
          line-height: 20px;
          height: 20px;
          margin-left: 10px;
        }
      }
    }
  
    .bottom {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 88px;
      margin: 10px auto;
      background-color: #F9FBFD;
      border-radius: 4px;
      padding: 15px;
    
      .reason {
        font-size: 12px;
        font-weight: 600;
        color: #242E42;
        line-height: 20px;
        height: 20px;
      }
    
      .message {
        font-size: 12px;
        color: #242E42;
        line-height: 20px;
        height: 20px;
      }
    }
  }
}