@import '~scss/variables';

.wrapper {
  display: flex;

  .sort {
    padding: 10px 0 ;
    width: 36px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: $light-color01;
    
    :global {
      .icon {
        cursor: pointer;
        width: 20px;
        height: 20px;
      }
    }
  }

  .form {
    flex: 1;
    background: $white;
    padding: 10px;
  }

  .firstLine {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .name {
    width: 376px;
    display: inline-block;
  }

  .interval {
    margin-left: 10px;
    margin-top: 0;
    width: 200px;
    display: inline-block;
  }

  & + .wrapper {
    margin-top: 10px;
  }

  .exprInput {
    margin-top: 10px;
  }
}

