@import '~scss/variables';
@import '~scss/mixins';

.item {
  position: relative;
  padding: 12px;
  padding-right: 150px;
  margin-bottom: 12px;
  border-radius: $border-radius;
  border: solid 1px $border-color;
  background-color: #ffffff;

  &.on {
    box-shadow: 0 4px 8px 0 rgba(36, 46, 66, 0.2);
    border-color: $dark-color01;
  }
}

.switch {
  position: absolute;
  @include vertical-center;
  right: 12px;
}
