@import '~scss/variables';

.contentWrapper {
  min-height: 500px;
  max-height: calc(100vh - 222px);
  overflow-y: auto;
}

.content {
  width: 920px;
  margin: 0 auto;
  padding: 20px 0 48px 0;
}

.footer {
  padding: 12px 20px;
  background-color: $lightest;
  text-align: right;
}

.confirm {
  width: 920px;
  bottom: 64px;
  left: 50%;
  transform: translateX(-50%);
}
