@import '~scss/variables';
@import '~scss/mixins';

.wrapper {
  padding: 12px;
  background-color: $lightest;
  border-radius: $border-radius;
}

.mount {
  margin-top: 12px;

  ul > li {
    display: flex;
    background-color: $bg-color;
    padding: 8px;
    border-radius: 4px;

    & > div {
      display: flex;
      color: $text-color;
      font-weight: $font-bold;
      min-width: 200px;
      word-break: break-all;
    }

    & + li {
      margin-top: 8px;
    }

    :global .icon {
      flex: none;
      margin-right: 8px;
    }
  }
}

.title {
  width: 30%;
}
