@import '~scss/variables';

.formBody {
  .row {
    margin-bottom: 12px;
  }

  .title {
    display: flex;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 12px;
  }

  .item {
    padding: 12px;
    border: solid 1px $light-color03;
    border-radius: 4px;
  }

  .isHorizon {
    display: flex;

    :global {
      .form-item-label {
        margin-bottom: 0;
        margin-right: 8px;
      }
    }
  }

  :global {
    .form-item-label {
      font-weight: 600;
    }
  }
}

.wrapper {
  max-width: 455px;
}

.listWrapper {
  padding: 12px;
  border: solid 1px $light-color03;
  border-radius: 4px;
  margin-top: 6px;
}

.tag {
  margin-bottom: 4px;
  :global {
    .icon {
      margin-left: 4px;
    }
  }
}

.tag + .tag {
  margin-left: 4px;
}

.tips {
  margin-bottom: 12px;
}

.footer {
  text-align: right;
}
