@import '~scss/variables';

.item {
  display: flex;
  padding: 12px;

  background-color: $light-color01;

  & + .item {
    margin-top: 8px;
  }

  & > div {
    margin-right: 12px;
    width: 30%;
    max-width: 120px;
  }

  & > div.pie {
    width: unset;
    margin: -4px;
    margin-right: 12px;
  }
}
