.wrapper {
  display: flex;
  border: 1px solid #abb4be;
  border-radius: 4px;

  .input {
    width: calc(100% - 58px);
    border: none;
    border-radius: 4px 0px 0px 4px;

    &:focus,
    &:active {
      box-shadow: none !important;
    }
  }

  .unit {
    width: 58px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0px 12px;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    color: #36435c;
  }
}
