@import '~scss/variables';
@import '~scss/mixins';

.quota {
  display: flex;
  padding: 20px;
  background-color: $lightest;

  &:hover{
    background-color: $light-color02;
  }
}

.item {
  flex: 1;
  min-width: 160px;
  margin-left: 20px;

  & > div {
    @include TypographyTitleH6($dark-color07);
  }

  & > p {
    @include TypographyParagraph($dark-color01);
  }
}

.bar {
  width: 100%;
  height: 20px;
  border-radius: 2px;
}
