@import '~scss/variables';

.wrapper {
  :global {
    .h5 {
      line-height: 1.5;
      margin: 20px 0;
    }

    .radio-default {
      display: inline-flex;
    }
  }
}

.pane_content {
  margin: 0 116px;
}

.content {
  min-height: 400px;
}

.header {
  display: flex;
  align-items: center;
  padding: 20px 116px;
  background-color: $bg-color;

  .name {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.67;
    color: $text-color;
  }

  .description {
    font-size: 12px;
    line-height: 1.67;
    color: $second-text-color;
  }
}

.valuesFormColumns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 24px;
}

.formItem {
  margin-top: 12px;
}

.form_content {
  max-height: calc(100vh - 184px);
  min-height: 500px;
  overflow: auto;
  padding: 1em 0;
}

.footer {
  padding: 0 20px;
  line-height: 56px;
  background-color: $bg-color;
}

.logo {
  position: relative;
  float: left;
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-right: 12px;
}

.params {
  position: relative;
  margin-top: 42px;

  :global {
    .radio-default {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}

.latestVer {
  display: inline-block;
  background: #f5a623;
  border-radius: 2px;
  padding: 2px 8px;
  font-size: 12px;
  margin-left: 10px;
  color: #fff;
}
