@import '~scss/variables';

.wrapper {
  display: flex;
  border-radius: 4px;
  border: solid 1px $light-color08;
  overflow: hidden;
}

.label {
  min-width: 96px;
  line-height: 32px;
  padding: 0 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $light-color02;
  border-right: solid 1px $light-color08;
}

.content {
  flex: 1;

  :global {
    .select-control {
      border: none;
    }

    .select,
    .input {
      border: none;
      max-width: none;
    }
  }
}