@import '~scss/variables';

.item {
  display: flex;
  position: relative;
  padding: 12px 32px;
  border-radius: 60px;
  border: solid 1px $border-color;
  background-color: $bg-color;

  & + .item {
    margin-top: 8px;
  }

  &:hover {
    .operations {
      display: block;
    }
  }
}

.operations {
  display: none;
  position: absolute;
  top: 50%;
  right: 6px;
  transform: translateY(-50%);

  button {
    margin-left: 8px;
  }
}

.tag {
  padding: 0 8px;
  font-weight: 500;
  line-height: 1.67;
  margin-left: 12px;
  color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 4px 0 rgba(85, 188, 138, 0.36);
  background-color: $green;
}
