@import '~scss/variables';

.avatar {
  padding: 2px;
}

.bannerIcon {
  img {
    width: 36px;
    height: 36px;
    padding: 5px 3px 4px 5px;
  }
}

.loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
