@import '~scss/variables';
@import '~scss/mixins';

.preview {
  position: relative;
  padding: 8px 12px;
  padding-right: 64px;
  border-radius: $border-radius;
  background-color: $light-color03;

  .item {
    @include TypographyParagraph;
    word-break: break-all;
  }

  .edit {
    position: absolute;
    @include vertical-center;
    right: 12px;
    color: $blue-color03;
  }
}
