@import '~scss/variables';
@import '~scss/mixins';

.wrapper {
  padding: 4px 0;
  color: $white;
  background-color: $dark-color07;
  border-radius: 4px;

  header {
    font-size: 12px;
    line-height: 20px;
    padding: 8px 12px;
  }

  li {
    position: relative;
    padding: 6px 12px 6px 36px;
    line-height: 20px;
    cursor: pointer;
    &:hover {
      background-color: $dark-color06;
    }
  }

  :global {
    .icon {
      position: absolute;
      @include vertical-center;
      width: 16px;
      height: 16px;
      left: 12px;
    }
  }
}
