@import '~scss/variables';
@import '~scss/mixins';

.wrapper {
  display: flex;
  margin: 0 -10px;
}

.box {
  width: 25%;
  padding: 0 10px;
}

.card {
  display: flex;
  height: 80px;
  padding: 20px;
  background-color: $th-bg-color;
  border-radius: 4px;

  :global(.icon) {
    min-width: 40px;
    margin-right: 20px;
  }

  & > div {
    width: calc(100% - 60px);
  }

  .name {
    font-size: $size-normal;
    font-weight: 600;
    line-height: 1.43;
    @include ellipsis;
  }

  .value {
    line-height: 1.67;
  }
}

.menu {
  :global(.menu) {
    min-width: 100px;
  }
}
