@import '~scss/variables';

.wrapper {
  line-height: 36px;
  border-radius: 4px;
  border: dashed 1px $light-color06;
  margin: 10px;
  cursor: pointer;
  padding: 0 10px;
  transition: all $trans-speed ease-in-out;

  & > span {
    margin-right: 10px;
  }

  &:hover {
    background-color: $bg-color;
  }
}
