@import '~scss/variables';
@import '~scss/mixins';

.selector {
  &.active {
    .arrow {
      transform: rotate(-180deg);
    }

    .dropdown {
      visibility: visible;
      opacity: 1;
      top: calc(100% + 8px);
    }
  }

  .dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
    z-index: 20;
  }
}

.button {
  position: relative;
  z-index: 10;
  min-width: 230px;
  padding: 6px !important;
  line-height: 20px;
  color: $white;
  border: none;
  border-radius: 4px;
  background-color: $dark;

  &:hover {
    background-color: $dark !important;
  }

  & > div {
    display: flex;
    justify-content: center;
  }

  p {
    width: calc(100% - 30px);
    margin-left: 6px;
    margin-right: 24px;
    text-align: left;

    @include ellipsis;
  }

  .arrow {
    position: absolute;
    top: 8px;
    right: 6px;
    width: 16px;
    height: 16px;
    transition: all 0.3s ease;
  }
}

.mask {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  z-index: 10;

  &.active {
    display: block;
  }
}

.content {
  display: flex;
  width: 760px;
  padding: 20px;
  border-radius: 4px;
  background-color: $white;
  box-shadow: 0 4px 8px 0 rgba(36, 46, 66, 0.06);

  & > div {
    width: 50%;
  }
}
