.body {
  padding-bottom: 0;
}

.wrapper {
  display: flex;

  img {
    margin-left: -20px;
  }
}

.content {
  padding-top: 18px;

  ul {
    list-style: disc;
    margin-top: 8px;
    margin-left: 20px;
    margin-bottom: 12px;
  }

  :global {
    label.checkbox input[type='checkbox'],
    label.checkbox:before {
      width: 12px;
      height: 12px;
    }
  }
}

.title {
  font-weight: 600;
  font-size: 14px;
}
