@import '~scss/variables';

.card {
  position: relative;
  min-height: 408px;
  padding: 15px 20px;
  border-radius: 4px;
  background-color: #ffffff;
  border: solid 1px #d8dee5;
}

.tabs {
  margin-bottom: 12px;

  .label {
    display: block;
    margin-bottom: 4px;
    line-height: 20px;
    color: #242e42;
  }
}

.selectors {
  margin: 0 -4px;
}
