@import '~scss/variables';
@import '~scss/mixins';

.wrapper {
  display: inline-flex;
  padding: 4px 8px;
  border-radius: 3px;
  background-color: $dark-color07;

  & > div {
    @include TypographySymbolText(#fff);

    & + div {
      position: relative;
      padding-left: 84px;
      &::before {
        content: '';
        @include vertical-center;
        left: 16px;
        height: 1px;
        width: 52px;
        border-bottom: 1px dashed $light-color07;
      }
    }

    :global {
      .icon {
        margin-top: -2px;
        margin-right: 8px;
      }
    }
  }
}
