@import '~scss/variables';

.operations {
  display: flex;
  :global {
    .select, .input {
      width: 188px;
      margin-right: 12px;
    }

    .select-value {
      font-size: 12px;
    }
  }
}

.tag {
  float: right;
  display: flex;
  align-items: center;
}
