@import '~scss/variables';

.operations {
  display: flex;

  & :global {
    .select,
    .input {
      width: 188px;
      margin-right: 12px;
    }

    .select-value {
      font-size: 12px;
    }
  }
}

.timeSelect {
  margin-right: 12px;

  & > button {
    background: white;
    border: 1px solid #abb4be;
    color: $dark-color06;

    &:hover {
      background: white !important;
      border-color: #79879c;
    }
  }

  :global {
    .datepicker {
      .input {
        width: 100%;
        max-width: 455px;
        margin-right: 0;
      }
    }

    .form {
      & > div:last-child {
        bottom: 10px;
      }
    }
  }
}

.tag {
  float: right;
  display: flex;
  align-items: center;
}
