@import '~scss/variables';
@import '~scss/mixins';

.select {
  width: 250px;
  margin-right: 12px;

  input::placeholder {
    color: $text-color;
    font-weight: bold;
  }
}

.option {
  @include ellipsis;
  & > span,
  & > img {
    display: inline-block;
    vertical-align: text-bottom;
    margin-right: 6px;
    width: 16px;
    height: 16px;
  }
}
