@import '~scss/variables';

.wrapper {

  display: flex;
  padding: 0 15px;
  margin-bottom: 5px;
  line-height: 44px;
  background-color:$white;
  justify-content: space-between;

  h3 {
    font-weight: 800;
    font-size: 12px;
    color: $dark-color06;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .tools {
    flex-shrink: 0;
  }

  .edit {
    visibility: hidden;
  }

  &:hover {
    .edit {
      visibility: visible;
    }
  }

  .tools {
    :global {
      .icon {
        width: 18px;
        height: 18px;
        margin-left: 5px;
        cursor: pointer;
      }
    }
  }

}
