@import '~scss/variables';
@import '~scss/mixins';

$toolbar-height: 52px;

.content {
  position: relative;
  top: -$header-height;
  z-index: 11;

  :global {
    .tabs-new {
      & > .tabs {
        background-color: $bg-color;
        & > ul {
          margin: 0 auto;
          max-width: $apps-content-width;

          & > li {
            padding: 16px 12px;
          }
        }
      }

      & > .tab-content {
        position: relative;
        width: $apps-content-width;
        padding: 32px 20px;
        margin: 0 auto;
      }
    }
  }

  .loading {
    display: block;
    padding: 150px;
  }

  .deployButton {
    position: absolute;
    z-index: 11;
    top: -42px;
    right: 40px;
  }

  .keywords {
    margin-top: 20px;

    :global {
      .tag {
        margin-right: 8px;
      }
    }
  }
}

.deployModal {
  & > div {
    padding: 0;
    overflow: hidden;
    max-height: none;
  }
}
