@import '~scss/variables';
@import '~scss/mixins';

.item {
  position: relative;
  padding: 11px 12px;
  padding-left: 64px;
  margin-bottom: 8px;
  border-radius: 4px;
  background-color: $white;
  border: solid 1px $border-color;
  transition: all $trans-speed ease-in-out;

  &:last-child {
    margin-bottom: 0;
  }

  &:hover {
    border-color: $border-hover-color;
    box-shadow: 0 4px 8px 0 rgba(36, 46, 66, 0.2);

    :global .buttons {
      display: block;
    }
  }

  :global .buttons {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    height: 62px;
    padding: 16px 4px;
    border-radius: 4px;
    background-color: #fff;

    & > button {
      width: 56px;
      margin-left: 4px;
    }
  }
}

.icon {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 12px;
  left: 12px;
}

.texts {
  display: flex;
}

.text {
  min-width: 160px;
  padding-right: 20px;

  &:first-of-type {
    min-width: 200px;
  }

  .title {
    @include TypographyTitleH6($dark-color07);
  }

  .description {
    @include ellipsis;
    @include TypographyParagraph($dark-color01);

    span + span {
      margin-left: 12px;
    }
  }
}

.clusters {
  position: absolute;
  top: 12px;
  right: 12px;

  .text {
    text-align: right;
    padding-right: 0;

    .title > span {
      margin-left: 4px;
    }
  }
}

.add {
  position: relative;
  padding: 11px 12px;
  border-radius: 4px;
  border: 1px dashed $border-color;
  background-color: $white;
  cursor: pointer;
  transition: all $trans-speed ease-in-out;

  &:hover {
    box-shadow: 0 4px 8px 0 rgba(36, 46, 66, 0.2);
    border-color: $border-hover-color;
  }
}

.paths {
  margin: 12px 0 0 -52px;
}

.path {
  padding: 6px 12px;
  border-radius: 4px;
  background-color: $bg-color;

  & + .path {
    margin-top: 4px;
  }

  span {
    display: inline-block;
    @include TypographyParagraph($dark-color01);

    & + span {
      color: $dark-color07;
      margin-left: 5px;
    }
  }
}

.error {
  margin-top: 12px;
  color: $red !important;
}
