@import '~scss/variables';

.pipeline_column {
  display: inline-block;
  width: 256px;

  vertical-align: top;
}

.container {
  width: 100%;
  overflow: hidden;
  min-height: 400px;
  height: 100%;
  position: relative;
  background-image: url('/assets/pipelineBg.svg');
  background-repeat: repeat;
}

.controls {
  width: 22px;
  position: absolute;
  z-index: 5;
  top: 20px;
  right: 25px;
}

.control {
  cursor: pointer;
  margin-bottom: 4px;
}

.slider-wrapper {
  height: 150px;
  margin-top: 14px;
  margin-bottom: 10px;
  margin-left: -4px;
}
