@import '~scss/variables';

.banner {
  margin: 0 0 12px;
  border-radius: $border-radius;
  box-shadow: 0 2px 4px 0 rgba(36, 46, 66, 0.12),
    0 4px 8px 0 rgba(36, 46, 66, 0.06);
  overflow: hidden;

  & > div {
    box-shadow: none;
    border-radius: 0;
    margin: 0;
  }

  .main {
    background-image: none;
    background-color: #2a425c;
  }
}
