@import '~scss/variables';
@import '~scss/mixins';

.wrapper {
  position: relative;

  & > div:first-child {
    margin-top: 6px;
    padding: 4px 8px;
    border-radius: 2px;
    background-color: $dark-color06;

    @include TypographyParagraph(#fff);
  }

  &.selected > div:first-child {
    background-color: $green-color04;
  }
}
