@import '~scss/variables';

.body {
  padding: 0;
}

.header {
  margin-bottom: 38px;
  height: 180px;
  background-color: $card-bg-color;

  img {
    float: left;
    margin-right: 40px;
    width: 210px;
    height: 207px;
  }

  .title {
    padding: 46px 0 12px;
    line-height: 28px;
    font-size: 20px;
    color: $head-color;
    font-weight: 500;
  }

  .description {
    margin-right: 32px;
    line-height: 20px;
    font-size: 12px;
    color: $second-text-color;
  }
}

.item {
  padding-bottom: 20px;
}

.more {
  button {
    margin-top: 12px;
  }

  .note {
    margin-top: 8px;
    line-height: 20px;
    font-size: 12px;
    color: $text-color;

    a {
      color: $blue;
    }
  }
}
