.wrapper {
  display: flex;
  width: 100%;

  :global {
    .slider-wrapper {
      width: 100%;
    }
  }

  .inputBox {
    width: 120px;
    height: 32px;
    position: relative;
    border: 1px solid #abb4be;
    border-radius: 4px;
    margin-left: 22px;

    .input {
      height: 30px;
      width: calc(100% - 24px);
      border: none;

      &:focus,
      &:active {
        box-shadow: none !important;
      }
    }

    .unit {
      width: 10px;
      position: absolute;
      font-weight: 600;
      font-size: 12px;
      line-height: 20px;
      right: 12px;
      top: 6px;
    }
  }
}
