@import '~scss/variables';
@import '~scss/mixins';

.wrapper {
  position: relative;
  font-size: 12px;

  &.active {
    .dropdown {
      visibility: visible;
      opacity: 1;
      top: calc(100% + 8px);
    }
  }

  .dropdown {
    position: absolute;
    padding: 12px;
    border-radius: $border-radius;
    top: 100%;
    right: 0;
    width: 450px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
    z-index: 10;
    background: $white;
    box-shadow: $card-shadow;
  }
}

.mask {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  z-index: 10;

  &.active {
    display: block;
  }
}

.content {
  display: grid;
  grid-template-columns: 12px 1fr 12px;
  grid-gap: 12px;
  padding: 5px 11px;
  border: solid 1px $dark-color06;
  border-radius: $border-radius;
  background-color: $text-color;
  line-height: 20px;
  font-weight: $font-bold;
  cursor: pointer;
  color: $white;
  user-select: none;
  transition: all $trans-speed ease-in-out;

  &:hover {
    background-color: $dark-color06;
  }
}

.title {
  @include TypographySymbolText;
  margin-bottom: 8px;
}

.recentWrapper {
  margin-bottom: 12px;
  span {
    font-weight: bold;
    display: inline-block;
    padding: 0 6px;
    border-radius: 2px;
    background: $light-color04;
    margin-bottom: 8px;
    margin-right: 8px;
    cursor: pointer;
    &:hover {
      background: $light-color07;
    }
  }
}

.footer {
  margin-top: 10px;
  display: grid;
  align-items: end;
  grid-template-columns: 265px 73px;
  justify-content: space-between;
}
