@import '~scss/variables';
@import '~scss/mixins';

.item {
  display: flex;

  & > div {
    margin-right: 12px;
    min-width: 200px;
  }

  :global {
    .icon {
      margin-right: 4px;
    }
  }
}

.monitoring {
  .bar {
    position: relative;
    margin-bottom: 12px;
    display: flex;
    justify-content: flex-end;

    button {
      margin-left: 12px;
      border-radius: 4px;
      padding: 5px 12px;
      box-shadow: none;
    }
  }
}

.notify {
  .title {
    padding: 12px;
    background-color: $card-bg-color;
    border-radius: $border-radius;
    @include TypographyTitleH6;
  }
  .content {
    margin-top: 4px;
    padding: 12px;
    background-color: $card-bg-color;
    border-radius: $border-radius;
    @include TypographyParagraph;
  }
}

.query {
  font-family: $font-family-code;
  font-weight: bold;
}
