@import '~scss/variables';
@import '~scss/mixins';

.body {
  bottom: 0 !important;
  max-height: calc(100vh - 144px);

  &.hideFooter {
    :global {
      .tabs-button {
        margin-bottom: 0;
      }
    }
  }

  :global {
    .tabs-container {
      .tabs {
        position: fixed;
        right: 0;
        top: 144px;
        z-index: 5;
        padding: 8px 20px;
        max-width: 1070px;
        min-width: 800px;
        width: 80%;
        border-bottom: 1px solid $border-color;
        background-color: $card-bg-color;
      }

      .tabs-button {
        margin-bottom: 80px;
      }

      .tab-content {
        margin-top: 48px;
        padding: 0;
      }
    }
  }
}

.downloadInfo {
  margin-bottom: 12px;
  border: 1px dashed $border-color;
  background-color: $white;
}

.screenshots {
  margin-top: 32px;

  .title {
    margin-bottom: 12px;
    line-height: 20px;
    font-size: 14px;
    font-weight: bold;
    color: $title-color;
  }

  ul {
    padding: 12px 0 0 12px;
    border-radius: $border-radius;
    background-color: $bg-color;
    overflow: hidden;
  }

  li {
    display: inline-block;
    margin-right: 12px;
    margin-bottom: 12px;
    width: 208px;
    height: 118px;
    line-height: 118px;
    background-color: $white;
    text-align: center;
  }
}

.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 4;
  max-width: 1070px;
  min-width: 800px;
  width: 80%;
  height: 80px;
  padding: 24px 20px;
  border-radius: 0;
  background-color: $bg-color;
  text-align: right;

  button {
    margin-left: 10px;
    min-width: 96px;
    &:first-of-type {
      margin-left: 0;
    }
  }
}
