@import '~scss/variables';
.header {
  position: relative;
  margin-bottom: 12px;

  p {
    position: relative;
    z-index: 2;
  }

  img {
    position: absolute;
    right: 0;
  }

  .img1 {
    width: 96px;
    height: 117px;
    right: 160px;
    top: 0;
  }

  .img2 {
    width: 72px;
    height: 56px;
    right: 62px;
    top: 22px;
  }

  .img3 {
    width: 97px;
    height: 128px;
    top: 42px;
    right: 12px;
  }
}
