@import '~scss/variables';

.graph {
  display: flex;
  position: relative;
  height: 100%;
  padding: 12px;
  border-radius: $border-radius;
  box-shadow: 0 4px 8px 0 rgba(36, 46, 66, 0.06);
  background-color: #fff;
}

.graphContent {
  position: relative;
  width: 100%;
  height: 100%;
}

.edgeWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 9999px;
  height: 9999px;
  z-index: 1;
}

.body {
  display: flex;
  position: relative !important;
  height: 100%;
  max-height: calc(100vh - 140px);
  top: 0 !important;
  bottom: 0 !important;
  background-color: #fff;
}

.fullScreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 0;
  z-index: 2000;
}

.loading {
  position: absolute;
  left: 20px;
  bottom: 14px;
  z-index: 100;
  color: #96a2b3;
}

.dragger {
  &:last-child {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}

.mainContent {
  bottom: 0;
  right: 0;
}
