@import '~scss/variables';

.wrapper {
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

.header {
  position: relative;
  margin-bottom: 12px;
  border-radius: $border-radius;
  overflow: hidden;
  background-color: #36435c;
  box-shadow: 0 4px 8px 0 rgba(36, 46, 66, 0.06);

  .leftIcon {
    position: absolute;
    top: 0;
    left: 0;
    width: 188px;
  }

  .rightIcon {
    position: absolute;
    top: 0;
    right: 0;
    width: 150px;
  }
}

.title {
  padding: 30px 40px;
  color: #ffffff;

  :global {
    .h4 {
      color: #ffffff;
      line-height: 1.4;
      text-shadow: 0 4px 8px rgba(36, 46, 66, 0.1);
    }
  }

  & > p {
    color: #eff4f9;
    margin-top: 3px;
  }
}

.userIcon {
  display: inline-block;
  vertical-align: middle;
  width: 32px;
  height: 32px;
  margin-top: 4px;
  margin-right: 5px;
  border-radius: 50%;
  border: solid 2px #ffffff;
}

.name {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;

  p {
    color: #79879c;
    line-height: 1.67;
    font-weight: normal;
  }

  strong {
    color: $text-color;
    font-family: $font-family-id;
  }
}