@import '~scss/variables';
@import '~scss/mixins';

.content {
  margin: 0 -6px;
  @include clearfix;

  .box {
    float: left;
    width: 50%;
    padding: 6px;

    &:first-child {
      width: 100%;
    }
  }
}

.status {
  height: 190px;
  padding: 0 6px;
  background-color: $card-bg-color;
}
