@import '~scss/variables';

.rules {
  .item {
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 4px;
    background-color: $card-bg-color;

    & + .item {
      margin-top: 8px;
    }

    :global {
      .icon {
        margin: 0 12px;
      }
    }

    .details {
      strong {
        display: inline-block;
        line-height: 20px;
      }
    }
  }
}

.receivers {
  padding: 12px;
  border-radius: 4px;
  background-color: $card-bg-color;

  & > .item + .item {
    margin-top: 8px;
  }

  .item {
    display: flex;
    align-items: center;
    padding: 8px;
    border: 1px solid $light-color03;
    border-radius: 2px;
    background-color: $white;

    .avatar {
      width: 32px;
      height: 32px;
      border: 1px solid #fff;
      border-radius: 50%;
      margin: 0 12px;
    }

    .details {
      p {
        color: $second-text-color;
      }
    }
  }
}
