@import '~scss/variables';
@import '~scss/mixins';

.trigger {
  position: fixed;
  right: -16px;
  bottom: 64px;
  z-index: $kube-tools-z-index;
  transition: right $trans-speed ease;

  &:hover {
    right: 0px;
  }
}

.tools {
  position: absolute;
  bottom: 70%;
  right: 0;
  height: 0;
  overflow: hidden;

  &.showTools {
    height: auto;
    overflow: unset;
    padding-bottom: 20px;
    animation: toolFadeIn 0.3s ease;
  }
}

.toolsWrapper {
  width: 420px;
  background-color: $white;
  border-radius: $border-radius;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(36, 46, 66, 0.2);
}

.toolsContent {
  padding: 12px;
  background-color: $white;
}

.toolsHeader {
  padding: 12px;
  background-color: $card-bg-color;
}

.toolsTitle {
  padding: 12px;
  border-radius: $border-radius;
  background-color: $dark-color07;

  & > div > div {
    color: $white !important;
  }
}

.toolsFooter {
  padding: 10px 12px;
  background-color: $card-bg-color;

  & > p {
    @include TypographyParagraph($dark-color01);
  }
}

.groupTitle {
  margin: 12px 0;
  @include TypographySymbolText;
}

.toolItem {
  cursor: pointer;
}

.button {
  padding: 5px 20px 5px 7px !important;
  border-radius: 100px 0 0 100px;
}

@keyframes toolFadeIn {
  0% {
    opacity: 0;
    padding-bottom: 0;
  }

  100% {
    opacity: 1;
    padding-bottom: 20px;
  }
}
