@import '~scss/variables';
@import '~scss/mixins';

.content {
  position: relative;
  top: -$header-height;
}

.formWrapper {
  width: $apps-content-width;
  padding: 32px 24px;
  margin: 0 auto;
  margin-bottom: 0 !important;
}

.form {
  padding-right: 76px;
}

.steps {
  background-color: $bg-color;
}

.control {
  width: 200px;
  button {
    width: 100%;
  }
}

.loading {
  display: block;
  padding: 150px;
}
