@import '~scss/variables';

.card {
  padding: 12px 24px;
  border-radius: 60px;
  background-color: $bg-color;
  border: solid 1px $border-color;

  & + .card {
    margin-top: 8px;
  }

  p {
    font-family: $font-family-id;
    font-size: $size-normal;
    line-height: 1.43;
  }

  span {
    font-size: $size-small;
    line-height: 1.67;
    color: $second-text-color;
    margin-right: 8px;
  }
}
