@import '~scss/variables';


.title {
  padding: 12px;
}

.resource {
  display: flex;
  justify-content: space-between;
  padding: 8px 12px;
  box-shadow: 0 1px 0 0 $light-color04, 0 -1px 0 0 $light-color04;
  background-color: $light-color01;
}