@import '~scss/variables';

.header {
  position: relative;
  display: flex;

  & > div {
    min-width: 260px;
    margin-right: 20px;
  }
}

.content {
  display: flex;
  padding: 20px;
  margin-top: 12px;
  margin-left: -12px;
  margin-right: -12px;
  background-color: $light-color01;

  & > div {
    width: 250px;
    margin-right: 20px;
  }
}

.tip {
  margin-bottom: 12px;
}

.unbind {
  position: absolute;
  top: 56px;
  right: 20px;
}

@mixin button {
  position: absolute;
  top: 4px;
  right: 6px;
  height: 32px;
}

.manage {
  @include button();
  width: 92px;
  min-width: 0px !important;
}

.singleButton {
  @include button();
  min-width: 92px;
}
