@import '~scss/variables';
@import '~scss/mixins';

.table {
  width: 100%;
  table-layout: fixed;
  border-spacing: 0px;
  margin-bottom: 20px;
  padding: 8px 12px 8px 12px;
  border: 1px solid $light-color03;
  box-sizing: border-box;
  border-radius: 4px;
  background: #fff;

  td,
  th {
    width: auto;
    padding: 8px 12px 8px 12px;
    text-align: right;
    @include ellipsis;

    a {
      text-decoration: underline;
      font-weight: 600;
    }

    &:first-of-type {
      width: 200px;
      text-align: left;
    }
  }

  th {
    cursor: pointer;
  }
}
