@import '~scss/variables';

.status {
  display: inline-block;
  font-weight: 600;
  color: $dark-color07;
  line-height: 20px;
}

.noBolder {
  font-weight: normal;
}

.status_icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  background-repeat: no-repeat;
  background-size: 20px;
  display: inline-block;
  vertical-align: top;
}

.synced {
  background-image: url('/assets/cd/synced.svg');
}

.pruneskipped,
.outofsync {
  background-image: url('/assets/cd/outofsync.svg');
}

.syncfailed {
  background-image: url('/assets/cd/syncfailed.svg');
}

.unknown {
  background-image: url('/assets/cd/unknown.svg');
}

.healthy {
  background-image: url('/assets/cd/health.svg');
}

.degraded {
  background-image: url('/assets/cd/degraded.svg');
}

.progressing {
  background-image: url('/assets/cd/progressing.svg');
}

.suspended {
  background-image: url('/assets/cd/suspended.svg');
}

.missing {
  background-image: url('/assets/cd/missing.svg');
}
