@import '~scss/variables';
.icon {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 15px;
  margin-right: 6px;
}

.health {
  background-image: url('/assets/health.svg')
}

.subhealth {
  background-image: url('/assets/subhealth.svg')
}

.error {
  background-image: url('/assets/health-error.svg')
}

.nostatus {
  background-image: url('/assets/health-nostatus.svg')
}