@import '~scss/variables';

.title {
  display: flex;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 8px;
}

.row {
  margin-bottom: 12px;
}

.item {
  padding: 12px;
  border: solid 1px $light-color03;
  border-radius: 4px;
  background-color: white;
}

.labelWrapper {
  display: flex;
  align-items: center;
  :global {
    .icon {
      margin-left: 4px;
    }
  }
}

.wrapper {
  max-width: 455px;
}

.listWrapper {
  margin-top: 12px;
}

.listItem {
  background-color: $light-color01;
  :global {
    .buttons {
      background-color: $light-color01;
    }
  }
}

.boxWrapper {
  margin-top: 4px;
  padding: 12px;
  background-color: $light-color01;
  border-radius: 4px;
  min-height: 80px;
  .empty {
    text-align: center;
    color: $dark-color01;
    line-height: 56px;
  }
}

.tag {
  margin-bottom: 4px;
  :global {
    .icon {
      margin-left: 8px;
    }
  }
}

.tag + .tag {
  margin-left: 8px;
}
