@import '~scss/variables';

.cluster {
  display: flex;
}

.info {
  position: relative;
  width: 30%;
  min-width: 366px;
  overflow: hidden;

  .title {
    margin-bottom: 20px;
  }

  .desc {
    & > div {
      margin-bottom: 16px;
    }
  }

  .cornerIcon {
    position: absolute;
    top: -80px;
    right: -60px;
    opacity: 0.1;
  }
}

.chart {
  position: absolute;
  top: 100px;
  right: 0;
}

.monitor {
  margin-left: 12px;
  flex: 1;
  padding: 12px;
  border-radius: 2px;
  background-color: $card-bg-color;

  & > div {
    background-color: $white;
    border-radius: 3px;
    border: solid 1px $border-color;
  }
}
