@import '~scss/variables';
@import '~scss/mixins';

.codeEditor {
  height: 382px;
}

.checkResult {
  position: absolute;
  left: 18px;
  bottom: 14px;
  max-width: 700px;
  img {
    width: 24px;
    margin-right: 4px;
    line-height: 32px;
    vertical-align: middle;
  }
  span {
    color: $red;
    text-indent: 1em;
    @include ellipsis;

    span {
      margin-right: 5px;
    }
  }
}

.body {
  max-height: none;
}
