@import '~scss/variables';

.wrapper {
  margin-top: 8px;

  :global {
    .form-item + .form-item {
      margin-top: 8px;
    }
  }
}

.add {
  margin-top: 12px;
  text-align: right;
}

.item {
  display: flex;
  padding: 5px 10px 5px 20px;
  border-radius: 22px;
  border: 1px solid $border-color;
  background-color: $bg-color;
}
