@import '~scss/variables';
@import '~scss/mixins';

.wrapper {
  position: relative;
  margin-bottom: 12px;
}

.title {
  margin-bottom: 8px;
  @include TypographySymbolText();
}

.panel {
  padding: 12px;
  border-radius: $border-radius;
  background-color: $white;
  box-shadow: $card-shadow;
}

.empty {
  padding: 12px;
  border-radius: $border-radius;
  background-color: $card-bg-color;
  font-size: 16px;
  font-weight: $font-bold;
  color: $light-color07;
}

.loading {
  margin-left: 50%;
  transform: translateX(-50%);
}
