@import '~scss/variables';
@import '~scss/mixins';

.annotations {
  & > li {
    padding: 12px 32px;
    border-radius: 60px;
    background-color: $bg-color;
    border: solid 1px $border-color;
    font-family: $font-family-id;

    & + li {
      margin-top: 8px;
    }
  }
}
