@import '~scss/variables';

.wrapper {
  padding: 20px;

  :global .h5 {
    line-height: 1.5;
    margin-bottom: 12px;

    svg {
      width: 20px;
      height: 20px;
      margin-right: 12px;
      vertical-align: sub;
    }
  }
}

.formWrapper {
  position: relative;
  height: calc(100vh - 320px);
  padding: 20px 12px;
  border-radius: 4px;
  border: 1px solid $light-color03;
  background-color: #ffffff;
  overflow: auto;
}

.containers {
  min-height: unset;
}

.containerForm,
.probeForm {
  height: calc(100vh - 240px);
  overflow: auto;
  padding: 20px;

  :global {
    .h4 {
      font-size: 16px;
      margin-bottom: 14px;
      line-height: 1.5;

      svg {
        width: 20px;
        height: 20px;
        margin-right: 12px;
        vertical-align: sub;
      }
    }

    form {
      min-height: calc(100% - 84px);
      padding: 20px 12px;
      border-radius: 4px;
      border: 1px solid $light-color03;
      background-color: #ffffff;
      overflow: auto;
    }
  }
}

.probeForm {
  :global {
    .probe-radio-group {
      margin: 0;
      margin-bottom: 12px;

      & > p {
        display: none;
      }
    }
  }

  form {
    margin: 0;
    overflow: auto;
    padding-bottom: 60px;
  }
}
