@import '~scss/variables';
@import '~scss/mixins';


.wrapper {
  :global {
    .table-title {
      display: none;
    }
  }
}

.title {
  margin-bottom: 8px;
  line-height: 20px;
  font-weight: bold;
  color: $head-color;
}
