@import '~scss/variables';
@import '~scss/mixins';

.form {
  width: 854px;
}

.formContent {
  height: 320px;
  border: solid 1px $dark-color01;
  border-radius: 2px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  overflow: auto;

  :global {
    .form-group-header {
      display: none;
    }
  }

  & > div {
    border: none;
  }
}

.modify {
  position: absolute;
  @include vertical-center;
  right: 8px;
}

.confirm {
  bottom: -23px;
  border-radius: 2px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}