@import '~scss/variables';

.wrapper {
  padding: 20px 145px;
  border-radius: 4px;
  background-color: #ffffff;
  border: solid 1px $light-color03;
}

.authorization {
  padding: 12px;

  .rules {
    margin-top: 20px;

    :global .checkbox-group .checkbox {
      min-width: 25%;
      margin: 4px 0;
    }
  }

  :global .field {
    padding-left: 28px;
    margin-bottom: 0 !important;

    &.has-addons {
      flex-wrap: wrap;
    }
  }
}

.name {
  font-size: $size-medium;
  font-weight: $font-bold;
  line-height: 1.5;
  color: $text-color;
}
