@import '~scss/variables';

.main {
  position: relative;
  padding: 20px;
  height: calc(100vh - #{$header-height});
}

.sider {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 354px;
  min-width: 354px;

  @media screen and (max-width: 1280px) {
    width: 300px;
    min-width: 300px;
  }
}

.content {
  padding-left: 374px;

  @media screen and (max-width: 1280px) {
    padding-left: 320px;
  }
}

.nav {
  display: flex;
  align-items: center;
  height: 48px;
  padding: 0 14px;
  border-radius: 4px;
  background-color: $dark;
  margin: 0 0 12px;

  &Item {
    min-width: 96px;
    height: 32px;
    line-height: 32px;
    margin: 0 6px;
    padding: 0 14px;
    font-weight: 500;
    color: $white;
    border: 1px solid transparent;
    text-align: center;
    transition: all $trans-speed;

    &:first-child{
      margin: 0 6px 0 0;
    }

    &.active {
      border-radius: 4px;
      box-shadow: $btn-primary-shadow;
      background-color: $primary;
      border-color: $primary;

      &:hover {
        color: $white;
      }
    }
  }
}
