@import '~scss/variables';
.title {
  padding: 20px 0 12px;
  color: #000;
  font-size: 14px;
  font-weight: 600;
  display: flex;

  :global {
    .icon {
      margin-right: 6px !important;
      svg {
        fill: #329dce;
      }
    }
  }
}

.footer {
  background: #eff4f9;
}

.modalBody {
  padding-top: 0;
}
