@import '~scss/variables';

.modalBody {
  min-width: 320px;
  color: $dark;
  background-color: $white;

  .title {
    display: flex;
    align-items: center;
    height: 20px;
    line-height: 20px;
    margin-bottom: 8px;

    strong {
      font-size: $size-normal;
    }

    :global {
      .icon {
        margin-right: 6px !important;
        svg {
          fill: #329dce;
        }
      }
    }
  }
  .content {
    line-height: 1.67;
  }
}

.footer {
  padding: 8px 20px;
  background-color: $light;
}
