# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/dist

# misc
.DS_Store

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.idea/

# local config
/server/local_config.yaml

*.rdb
/build
