# macOS
.DS_Store

# JetBrains
.idea/

# Visual Studio Code
.vscode/*
## Local History for Visual Studio Code
.history/

# Node.js
**/node_modules/

# Yarn
.yarn/*
!.yarn/releases
!.yarn/patches
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Config
configs/local_config.yaml

# TypeScript
*.tsbuildinfo

# Testing
coverage/

# Production
**/dist/
**/cjs/
**/esm/
packages/*/lib/

# Cache
*.rdb
.cache-loader

# Misc
bin/
