@import '~scss/variables';

.rules {
  & > li {
    padding: 20px 24px;
    border-radius: 4px;
    background-color: $lightest;

    & + li {
      margin-top: 8px;
    }
  }

  span {
    display: inline-block;
    vertical-align: middle;
    color: #5f708a;
  }

  .name {
    width: 200px;
    margin-right: 60px;
    font-size: $size-normal;
    font-weight: $font-bold;
    line-height: 1.43;
    color: $text-color;
  }
}
