@import '~scss/variables';

.body {
  background-color: $white;
}

.wrapper {
  padding: 0 95px;
}

.title {
  line-height: 1.5;
  margin-bottom: 20px;
}

.content {
  min-height: 450px;
  padding: 20px;
  border-radius: 4px;
  background-color: $card-bg-color;
}

.inputs {
  & > div + div {
    margin-top: 8px !important;
  }
}
