@import '~scss/variables';

.message {
  margin-top: 12px;
  padding: 8px;
  border-radius: 4px;
  background-color: $bg-color;

  p + p {
    margin-top: 4px;
  }
}

.imageSearch {
  padding: 12px 8px;
}

.columns {
  margin-top: 0;
}

.type {
  max-width: unset;
}
