@import '~scss/variables';

.wrapper {
  max-width: 1400px;
  padding: 0 20px;
  margin: 16px auto;
}

.back {
  margin-bottom: 16px;

  a {
    transition: all $trans-speed ease;
  }

  svg {
    margin-right: 5px;
    vertical-align: text-bottom;
  }
}

.appBlock {
  max-width: 1055px;
  border-radius: $border-radius;
  box-shadow: 0 4px 8px 0 rgba(36, 46, 66, 0.06);
  background-color: #ffffff;
  padding: 20px;
  margin-bottom: 12px;

  & > p + p {
    margin-top: 12px;
  }

  .selectVersion {
    color: $primary;
  }
}

.appTemplate {
  display: grid;
  grid-template-columns: 1fr 284px;
  grid-column-gap: 21px;

  .toolbar {
    padding: 8px 20px;
    height: 48px;
    background-color: $lightest;
  }
}

.appHeader {
  padding: 0;
}

.appOutline {
  overflow: hidden;
  padding: 20px;

  .appLogo {
    width: 80px;
    height: 80px;
    margin-right: 20px;
    float: left;
  }

  :global .h3 {
    line-height: 1.33;
    font-family: $font-family-id;
    text-shadow: 0 2px 4px rgba(36, 46, 66, 0.1);
  }

  small {
    float: right;
    font-size: 12px;
    color: #79879c;
    font-weight: normal;
    margin-top: 9px;
  }

  p {
    height: 40px;
    margin-top: 8px;
    overflow: hidden;
  }
}

.tag_button {
  border: solid 1px transparent;
  line-height: 32px;
  color: #5f708a;
  background: transparent;
  padding: 0 1.5em;
  cursor: pointer;
  outline: none;
}

.tag_button + .tag_button {
  margin-left: 1em;
}

.tag_selected {
  background-color: $bg-color;
  border: solid 1px $border-color;
  border-radius: 100px;
}

.appBasic {
  h3 {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.43;
    margin-bottom: 12px;
  }

  dt,
  dd {
    font-family: $font-family-id;
    padding: 6px 0;
    word-break: break-all;
  }

  dt {
    float: left;
    width: 104px;
    clear: left;
    color: #5f708a;
  }

  dd {
    padding-left: 104px;
  }
}

.markdown {
  min-height: 500px;
}

.deployModal {
  z-index: 100;

  & > div {
    padding: 0;
    overflow: hidden;
    max-height: none;
  }
}

.loading {
  display: block;  
}