.pathGroup {
  border-radius: 23px;
  border: solid 1px $border-color;
  background-color: $bg-color;
  line-height: 32px;
  padding: 6px 17px;
  margin-bottom: 8px;
}

.pathInput {
  width: 440px;
}

.delete {
  float: right;
  cursor: pointer;
}

.addPath {
  text-align: right;
}