@import '~scss/variables';

.wrapper {
  min-height: calc(100vh - 108px);
}

.header {
  margin-bottom: 12px;
}

.banner {
  margin-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.toolbar {
  padding: 8px 20px;
  background-color: $card-bg-color;
  border-radius: 0 0 $border-radius $border-radius;
}

.keyword {
  width: 100%;
  padding: 2px 0;
  margin-right: 12px;
}

.loading {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.bottomLine {
  display: flex;
  text-align: center;
  color: #79879c;
  margin: 20px 20em;

  span {
    padding: 0 2em;
  }
  &:before,
  &:after {
    content: '';
    flex: 1;
    background: linear-gradient(transparent 50%, #ccc 50%, transparent 54%);
  }
}
