@import '~scss/variables';

.card {
}

.content {
  padding: 8px;
  border-radius: 4px;
  background-color: $card-bg-color;
}

.table {
  width: 100%;

  tr {
    border-bottom: 4px solid $card-bg-color;
  }

  th,
  td {
    width: 25%;
    line-height: 20px;
  }

  th {
    padding: 4px 0 8px 20px;
    color: $second-text-color;
  }

  td {
    padding: 8px 0 8px 20px;
    background-color: $white;
  }
}
