@import '~scss/variables';
@import '~scss/mixins';

.input {
  max-width: 560px !important;
}

.option {
  position: relative;
  width: 100%;
  @include ellipsis;
  & > span,
  & > img {
    display: inline-block;
    vertical-align: text-bottom;
    margin-right: 6px;
    width: 16px;
    height: 16px;
  }
}

.tip {
  @include vertical-center;
  right: 0;
}
