.icon {
  margin-right: 4px;

  :global {
    svg {
      color: rgba(255, 255, 255, 0.9);
      fill: #329dce;
    }
  }
}

.title {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

.desc {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #242e42;
  margin-top: 12px;
}
