@import '~scss/variables';

.selectWrapper {
  display: flex;
  align-items: center;

  & > div + div {
    margin-left: 12px;
  }

  & > div {
    &:nth-child(1) {
      flex: 0 0 200px;
    }

    &:nth-child(2) {
      flex: 0 0 180px;
    }

    &:nth-child(3) {
      flex: 1;
    }
  }

  :global {
    .select,
    .input {
      max-width: none;
    }
  }
}

.optionsContainer {
  position: relative;

  .optionsList {
    max-height: 175px;
    overflow-y: auto;
  }

  .customSelect {
    display: flex;
    padding: 8px 12px;
    border-top: 1px solid $dark-color02;
    :global {
      input.input {
        background-color: transparent;
        border-color: $dark-color04;
        flex: 1;
        color: #fff;
      }
    }
  }
}

.iconWrapper {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $dark-color04;
  border-radius: 4px;
  margin-left: 8px;
  cursor: pointer;
  &:hover {
    background-color: $dark-color06;
  }
}
