@import '~scss/variables';

.wrapper {
  padding: 20px;
  border-radius: 4px;
  background-color: $lightest;

  & > ul > li {
    :global .h6 {
      line-height: 1.43;
    }

    .value {
      margin-top: 8px;
      padding: 12px;
      border-radius: 4px;
      background-color: #ffffff;
      border: solid 1px $light-color03;
    }

    & + li {
      margin-top: 12px;
    }
  }
}