@import '~scss/variables';

.header {
  height: 100px;
  margin-bottom: 12px;
  padding: 24px 20px;
  border-radius: 4px;
  background-color: #ffffff;
  &:hover {
    box-shadow: 0 4px 8px 0 rgba(223, 226, 233, 0.06);
  }

  h3 {
    height: 32px;
    text-shadow: 0 2px 4px rgba(36, 46, 66, 0.1);
    font-family: $font-family-id;
    font-size: 24px;
    line-height: 1.33;
    font-weight: 600;
    color: $dark-color07;
  }

  p {
    height: 20px;
    font-family: $font-family-id;
    font-size: 12px;
    line-height: 1.67;
    color: $dark-color01;
  }

  .icon {
    float: left;
    margin-right: 20px;
    width: 52px;
    height: 52px;
    border-radius: 100px;
    border-top-right-radius: 0px;
    background-color: $light-color02;

    svg {
      width: 40px;
      height: 40px;
    }
  }
}

.status {
  :global .icon {
    margin-left: 4px;
  }
}

.tabs {
  cursor: pointer;
  padding: 2px;
  border-radius: 18px;
  display: inline-block;
  background-color: $bg-color;
  border: 1px solid #d8dee5;
  margin-right: 20px;

  span {
    display: inline-block;
    text-align: center;
    min-width: 120px;
    line-height: 32px;
    color: #79879c;
    padding: 0 30px;
  }
}

.tabs__selected {
  border-radius: 16px;
  background-color: #36435c;
  color: white !important;
}
