@import '~scss/variables';

.wrapper {
  padding: 20px;
  border-radius: 4px;
  border: 1px solid $light-color03;
  background-color: #fff;
}

.title {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.43;
  margin-bottom: 10px;

  & + p {
    color: #5f708a;
  }
}

.item + .item {
  margin-top: 20px;
}
