@import '~scss/variables';

.kubectl {
  display: flex;
  height: 100%;
}

.pane {
  border-radius: 4px;
  overflow-y: auto;
}

.doc {
  padding: 12px;
}

.tipWrapper {
  width: 320px;
  margin-left: 12px;
  border-radius: 4px;
  background-color: $lightest;
}

.terminal {
  flex: 1;
  border-radius: 4px;
  overflow: auto;
  position: relative;
  background-color: #242e42;
  & > * {
    box-sizing: border-box;
  }
}

.download {
  border-radius: 16px;
  position: absolute;
  right: 0;
  z-index: 100;
  margin: 12px;
  height: 32px;
  line-height: 32px;
  background-color: #36435c;
  padding: 0 12px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}