.wrapper {
  display: flex;
  margin: 12px 0;
  box-shadow: none;

  .text {
    flex: 1;
  }

  .switch {
    width: 111px;

    span {
      min-width: 39px;
    }
  }
}

.settings {
  padding: 12px;
  background: #f9fbfd;
  border-radius: 4px;

  .title {
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    color: #242e42;
  }

  .container {
    padding: 12px;
    border-radius: 4px;
    border: 1px solid #ccd3db;
    background-color: #fff;
    margin-top: 8px;

    .limit {
      margin-bottom: 12px;
    }

    .checkItem {
      display: flex;
      margin-bottom: 12px;

      :global {
        label.checkbox:before {
          top: 10px;
        }
      }

      .text {
        margin-left: 12px;

        span {
          display: block;
        }

        .title {
          font-weight: 600;
          font-size: 12px;
          line-height: 20px;
          color: #242e42;
        }

        .des {
          font-size: 12px;
          line-height: 20px;
          color: #79879c;
        }
      }
    }
  }

  .group {
    :global {
      .form-group {
        margin-top: 12px !important;
        margin-bottom: 0px !important;
        padding: 12px;
      }

      .form-group-content {
        padding: 0px;
        margin: 0px;
        background: none;
        padding-top: 12px;
      }

      .input {
        max-width: 100%;
      }
    }

    .settings {
      margin-top: 10px;
    }
  }
}
