@import '~scss/variables';
@import '~scss/mixins';

.item {
  position: relative;
  padding: 6px 68px 6px 17px;
  border-radius: 60px;
  background-color: $bg-color;
  border: solid 1px $border-color;

  & + .item {
    margin-top: 4px;
  }

  & > input {
    max-width: none !important;
  }
}

.delete {
  right: 6px;
  @include vertical-center;
}

.add {
  margin-top: 12px;
}

.desc {
  position: absolute;
  left: 0;
  bottom: 14px;
  color: $second-text-color;
}