@import '~scss/variables';
@import '~scss/mixins';

.item {
  position: relative;
  padding: 6px 68px 6px 17px;
  border-radius: 60px;
  background-color: $bg-color;
  border: solid 1px $border-color;

  & + .item {
    margin-top: 4px;
  }

  & > input {
    max-width: none !important;
  }
}

.delete {
  right: 6px;
  @include vertical-center;
}

.desc {
  color: $second-text-color;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}

.errorText {
  padding: 3px 68px 3px 17px;
  margin-top: 4px;
  font-family: $font-family;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: normal;
  color: $red-color03;
}
