@import '~scss/variables';

.container {
  position: relative;
  flex-grow: 1;
  overflow: hidden;
  background-image: url('/assets/pipelineBg.svg');
  background-color: $bg-color;
  background-repeat: repeat;
  cursor: grab;
  touch-action: none;
}

.main_content {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  padding: 20px;
  will-change: transform;
  transform: translateZ(0);
  transform-origin: 0 0;
}

.controls {
  width: 22px;
  position: absolute;
  z-index: 5;
  top: 20px;
  right: 20px;
}

.control {
  cursor: pointer;
  margin-bottom: 15px;
}

.slider-wrapper {
  height: 150px;
  margin-bottom: 10px;
  margin-left: -4px;
}

:global(.zoom-slider) {
  :global(.slider-rail) {
    width: 10px;
    background-color: #b9c2cb;
  }
  :global(.slider-track) {
    background-color: transparent;
  }
  :global(.slider-handle) {
    border: 2px solid #54657f;
    margin-left: -5px;
  }
  &:hover {
    :global(.slider-rail) {
      width: 10px;
      background-color: #b9c2cb;
    }
    :global(.slider-track) {
      background-color: transparent;
    }
    :global(.slider-handle) {
      border: 2px solid #54657f;
    }
  }
}

.normalSize,
.autoSize {
  display: block;
  width: 16px;
  height: 16px;
  text-align: center;
  color: #54657f;
  font-weight: $font-bold;
  border-radius: 3px;
  user-select: none;

  &:hover {
    background-color: #f5f7fa;
  }
}

.autoSize {
  font-size: 10px;
}
