@import '~scss/variables';

.group {
  :global {
    label.checkbox {
      width: 220px;
      padding: 4px 8px;
      margin-right: 12px;
      border-radius: 2px;
      background-color: $light-color03;
    }

    label.checkbox.checked {
      background-color: $dark-color07;

      .label-value {
        color: #fff;
      }

      .kubed-icon {
        color: rgba(255,255,255,0.9);
        fill: rgba(255,255,255,0.4);
      }
    }

    label.checkbox.checked::after {
      left: 14px;
      top: 8px;
    }

    label.checkbox span.label-value {
      padding: 0 4px;

      & > span {
        margin-right: 2px;
        display: inline-block;
        vertical-align: middle; 
      }
    }
  }
}
