@import '~scss/variables';

.table {
  box-shadow: none;
  margin: 0 -20px -20px;
}

.top {
  margin-bottom: 12px;
}

.item {
  display: flex;

  .icon {
    margin-right: 12px;
    width: 40px;
    height: 40px;
  }

  span {
    display: block;
  }
}

.title {
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  color: #242e42;
}

.des {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #79879c;
}

.bottom {
  display: flex;
}

.item_bg {
  background: #f9fbfd;
  border-radius: 4px;
  padding: 12px;
  flex: 1;
  margin-right: 12px;

  &:last-of-type {
    margin-right: 0px;
  }
}
