@import '~scss/variables';

.wrapper {
  padding: 38px 72px;
  border-radius: $border-radius;
  background-color: #ffffff;
  box-shadow: $base-shadow;
  text-align: center;

  img {
    margin-bottom: 20px;
  }
}

.desc {
  margin-bottom: 12px;
  line-height: 20px;
  text-align: center;
  color: #242e42;
}
