@import '~scss/variables';
@import '~scss/mixins';

.billTotal {
  padding: 12px;
  box-shadow: 0 2px 8px rgba(36, 46, 66, 0.2);
  margin-bottom: 20px;
  background: #fff;

  .parentCostContainer {
    display: flex;
    justify-content: space-between;

    & > div > {
      h3 {
        color: $dark-color06;

        strong {
          font-weight: 700;
          margin: 0 5px;
        }
      }
      span {
        color: $dark-color01;
      }
    }

    p {
      font-size: 28px;
      font-weight: 700;
      color: #030012;
      span {
        font-size: 12px;
        margin-right: 5px;
      }
    }
  }

  & > div:first-child > h3 {
    margin-bottom: 12px;
    color: $dark-color01;

    strong {
      margin: 0 5px;
      font-weight: 700;
      color: $dark-color06;
    }
  }

  .totalPrice {
    margin-bottom: 20px;

    h4 {
      font-weight: 700;
      font-size: 28px;
      line-height: 38px;
      color: #030012;
    }

    p {
      line-height: 20px;
      color: $dark-color07;
    }
  }

  .consumContainer {
    width: 100%;
    display: flex;

    .noPriceTip {
      & > li {
        width: 100%;
        text-align: center;
        align-self: center;
      }
    }

    ul {
      flex-wrap: wrap;
      display: flex;
      flex: 1 1 auto;

      li {
        width: 30%;
        margin-right: 3%;
        margin-bottom: 10px;

        div {
          height: 25px;
          font-weight: 700;
          margin-bottom: 2px;
          font-size: 20px;
          color: #030012;
        }

        p {
          color: $dark-color01;

          span {
            &:first-child {
              word-break: break-all;
            }

            &:nth-child(2) {
              font-weight: bold;
              margin-left: 3px;
            }
          }
        }
      }
    }
    .line {
      height: 110px;
      width: 2px;
      border-left: 1px solid #8996a8;
      margin-right: 40px;
    }
  }
}
