@import '~scss/variables';

.wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  padding: 0px 12px;
}

.left {
  flex: 1;
  display: flex;

  :global {
    .icon {
      margin-left: 8px;
    }
  }
}

.isolate {
  margin-left: 15px;
  color: $dark-color01;
}

.isolatetitle {
  font-weight: 600;
  color: $dark-color07;
}
