@import '~scss/variables';

.container {
  & > div {
    margin-bottom: 12px;
  }
}

.wrapper {
  :global .h5 {
    line-height: 20px;
    margin-bottom: 12px;

    svg {
      width: 20px;
      height: 20px;
      margin-right: 8px;
      vertical-align: sub;
    }
  }
}

.toggle {
  margin: 12px 0;

  a {
    display: inline-block;
    color: #329dce;
    vertical-align: middle;
  }

  :global .icon > svg {
    color: #329dce;
  }
}

.formGroup {
  border-radius: 4px;
  padding: 12px;
  border: solid 1px $light-color03;
  background-color: #ffffff;

  .header {
    padding-bottom: 12px;
    .info {
      .title {
        height: 20px;
        font-size: 12px;
        font-weight: 600;
        color: #242e42;
      }
      .desc {
        height: 20px;
        font-size: 12px;
        color: #79879c;
      }
    }
  }
}

.formArea {
  padding: 12px;
  margin: 12px;
  margin-top: 24px;
  outline: $light-color01 solid 12px;
  border-radius: 4px;
  border: solid 1px $light-color03;
}
