@import '~scss/variables';

.wrapper {
  position: relative;
}

.title {
  position: relative;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.43;
  color: $dark-color07;
}

.switch {
  position: absolute;
  top: -8px;
  right: 0;
}

.codeWrapper {
  padding: 8px;
  height: calc(100vh - 500px);
  min-height: 500px;
  border-radius: $border-radius;
  border: 1px solid $border-color;
  box-sizing: content-box;
}

.schemaWrapper {
  min-height: 500px;
}

.loading {
  display: block;
  padding: 150px;
}
