@import '~scss/variables';

.wrapper {
  margin-bottom: 12px;
  padding: 11px 20px;
  border-radius: 4px;
  border: solid 1px $border-color;
  background-color: $white;

  .title {
    font-weight: $font-bold;

    :global {
      label.checkbox span.label-value {
        font-weight: $font-bold;
      }
    }
  }

  .desc {
    color: $second-text-color;
    padding-left: 28px;
  }
}