@import '~scss/variables';

.wrapper {
  display: flex;
  padding: 6px 12px;
  transition: all $trans-speed ease-in-out;
  cursor: pointer;

  &:hover {
    background-color: $bg-color;
  }

  &:active {
    background-color: $btn-default-hover-bg;
  }
}

.text {
  margin: -2px 0;
  margin-left: 6px;
}