@import '~scss/variables';

.control {
  position: fixed;
  right: -110px;
  bottom: 45px;
  z-index: 9999;
  padding: 10px 20px;
  background-color: $dark;
  border-radius: 100px 0 0 100px;
  color: $white;
  font-weight: 600;
  line-height: 20px;
  user-select: none;
  cursor: pointer;
  transition: right $trans-speed cubic-bezier(0.175, 0.35, 0.32, 1);

  p {
    display: inline-block;
    vertical-align: middle;
    width: 90px;
    text-align: center;
  }

  :global {
    .icon {
      margin-right: 10px;
      cursor: ns-resize;
    }

    .spin {
      margin-right: 10px;
      vertical-align: middle;
    }
  }

  &.active {
    right: -10px;
  }
}
