@import '~scss/variables';
@import '~scss/mixins';

.card {
  & > div + div {
    margin-top: 8px;
  }
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;

  label {
    margin-right: 20px;
  }
}

.operations {
  position: relative;
  display: flex;

  .button {
    padding: 5px 10px;
    margin-left: 12px;
    border-radius: 4px;
    box-shadow: none;
  }
}

.content {
  position: relative;
  z-index: 1;
}

.showDropDown {
  z-index: 102;
}

.clusters {
  width: 150px;
  margin-right: 12px;
}
