@import '~scss/variables';
@import '~scss/mixins';

.body {
  padding: 0;
  max-height: none;
  overflow: none;

  .header {
    width: 100%;
    height: 180px;
    background: $light-color01;

    .logo {
      position: absolute;
      width: 230px;
      height: 218px;
    }
    .text {
      padding-top: 46px;
      padding-left: 250px;
      padding-right: 32px;
      > h2 {
        font-size: 20px;
        line-height: 28px;
        color: $dark-color07;
        text-shadow: 0 4px 8px 0 rgba(36, 46, 66, 0.1);
        margin-bottom: 12px;
      }
      > p {
        font-size: $size-small;
        line-height: 20px;
        color: $dark-color01;
      }
    }
  }

  .footer {
    padding: 58px 20px 20px;
  }
}

.item {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  padding: 8px 10px 8px 12px;
  border-radius: 4px;
  background-color: $light-color01;
  transition: all $trans-speed ease-in-out;
  cursor: pointer;
  font-size: $size-small;

  img {
    width: 40px;
    height: 40px;
  }

  &:hover {
    box-shadow: 0 8px 16px 0 rgba(36, 46, 66, 0.08);
    border-color: #ccd3db;

    .enterIcon {
      opacity: 1;
    }
  }

  &.disable {
    opacity: 0.6;
    cursor: default;

    &:hover {
      box-shadow: none;
      border: 1px solid $light-color03;

      .enterIcon {
        opacity: 0;
      }
    }
  }

  .text {
    margin-left: 12px;
    flex: 1;

    div {
      @include TypographyTitleH6($dark-color07);
    }

    p {
      @include TypographyParagraph($dark-color01);
    }
  }
}
