@import '~scss/variables';
@import '~scss/mixins';

.pipelineCard {
  min-height: 400px;
  box-shadow: 0 4px 8px 0 rgba(36, 46, 66, 0.06);
}

.pipelineCard__toolbar {
  height: 52px;
  line-height: 52px;
  background-color: $lightest;
  box-shadow: 0 1px 0 0 $light-color03;

  button {
    margin: 0 10px;
  }

  .icon {
    margin-right: 20px;
  }

  .btn-disabled {
    opacity: 0.6;
    cursor: auto;
  }
}

.pipelineCard__btnGroup {
  text-align: right;
}

.pipelineCard__main {
  background-color: $bg-color;
  overflow: auto;
  height: calc(100vh - 350px);
  min-height: 600px;
}
