@import '~scss/variables';

.wrapper {
  position: absolute;
  border-radius: 4px;
  bottom: 0px;
  left: 0;
  width: 100%;
  background-color: $dark;
  text-align: right;
  z-index: 999;
}

.button {
  display: inline-block;
  padding: 8px 20px;
  margin-right: 12px;
  transition: all $trans-speed ease-in-out;
  cursor: pointer;
  color: #fff;

  &:hover {
    background-color: $dark-color06;
  }

  &:active {
    background-color: $dark-color08;
  }
}