@import '~scss/variables';

.body {
  :global {
    .h5 {
      font-weight: $font-normal;
      line-height: 2;
      color: $title-color;
      text-shadow: 0 2px 4px rgba(72, 91, 127, 0.2);
    }

    p {
      margin-top: 20px;
      color: $third-text-color;
    }
  }
}
