@import '~scss/variables';
@import '~scss/mixins';

.wrapper {
  padding: 20px;
}

.header {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .item {
    flex: 1;
  }
}

.item {
  margin-left: 12px;

  & > div {
    @include TypographyTitleH6($dark-color07);
  }

  & > p {
    @include TypographyParagraph($dark-color01);
  }
}

.content {
  display: flex;
  justify-content: flex-start;
  padding: 20px 40px;
  background-color: $lightest;
}

.contentItem {
  display: flex;
  min-width: 200px;
}