@import '~scss/variables';

.wrapper {
  width: 30%;
  min-width: 356px;
  background-color: #fff;
  border-radius: $border-radius;
  border: 1px solid $border-color;
  overflow: auto;
}

.treeWrapper {
  display: inline-block;
  padding: 20px;
}