@import '~scss/variables';
@import '~scss/mixins';

.statusBox {
  display: inline-flex;
  padding: 4px;
  background: $white;
  border-radius: 14px;
  overflow: auto;

  :global {
    li {
      border: 1px solid $white;
      border-radius: 12px;
      margin-left: -4px;
      padding: 0px 6px;
      min-width: 24px;
      text-align: center;
      font-weight: 600;
      font-size: 12px;
      line-height: 20px;
    }
  }
}

.tipContent {
  padding-left: 12px;
  min-width: 98px;
  position: relative;
  display: flex;

  span {
    display: inline-block;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: $white;

    &:nth-of-type(1) {
      margin-right: 12px;
    }

    &:nth-of-type(2) {
      flex: 1;
      text-align: right;
    }
  }

  &::before {
    content: '';
    width: 6px;
    height: 6px;
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    background: $green-color03;
    border-radius: 4px;
  }
}

.li-inactive {
  background: $green-color01;
  color: $green-color05;
  margin-left: 0px !important;
  z-index: 10;
}

.li-pending {
  background: $yellow-color01;
  color: $yellow-color05;
  z-index: 8;
}

.li-firing {
  background: $red-color01;
  color: $red-color05;
  z-index: 6;
}

.li-disabled {
  background: $light-color04;
  color: $dark-color07;
  z-index: 4;
}

.pending {
  &::before {
    background: $yellow-color03;
  }
}

.inactive {
  &::before {
    background: $green-color03;
  }
}

.firing {
  &::before {
    background: $red-color03;
  }
}

.disabled {
  &::before {
    background: $light-color02;
  }
}

.disabled {
  color: $light-color06 !important;

  &::before {
    background: $light-color06;
  }
}

.iconDisabled {
  color: $light-color06 !important;
  background: $light-color02 !important;
}
