@import '~scss/variables';
@import '~scss/mixins';

.avatar {
  display: flex;

  .icon {
    position: relative;
    margin-right: 12px;

    .indicator {
      position: absolute;
      top: 28px;
      right: 0;
    }
  }

  .title {
    @include TypographyTitleH6($dark-color07);
  }

  .desc {
    @include TypographyParagraph($dark-color01);
  }
}
