@import '~scss/variables';
@import '~scss/mixins';

.body {
  position: relative;
  padding: 0;
  padding-top: 180px;
  overflow: hidden;
  max-height: none;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 180px;
  padding: 50px 24px 50px 314px;
  background-color: $bg-color;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 274px;
    height: 200px;
  }

  .title {
    & > div {
      @include TypographyTitleH4($dark-color07);
    }

    & > p {
      margin-top: 12px;
      @include TypographyParagraph($dark-color01);
    }
  }
}

.content {
  margin-top: 20px;
  min-height: 300px;
}

.cluster {
  max-width: unset !important;

  :global .select-option {
    position: relative;
  }
}


.toolmessage {
  margin-left: 10px;

  &>span {
    vertical-align: middle;
  }
}