@import '~scss/variables';

.wrapper {
  display: flex;
}

.chart {
  width: 372px;

  :global {
    .recharts-polar-grid-concentric {
      .recharts-polar-grid-concentric-circle{
        stroke: $light-color04;

        &:last-child {
          fill: $light-color02;
          opacity: .5;
        }
      }
    }
  }
}

.list {
  flex: 1;
}
