@import '~scss/variables';
@import '~scss/mixins';

.header {
  display: flex;
  align-items: center;
  margin-bottom: 8px;

  .item {
    flex: 1;
    margin-left: 12px;

    & > div {
      @include TypographyTitleH6($dark-color07);
    }

    & > p {
      @include TypographyParagraph($dark-color01);
    }
  }
}

.modalHeader {
  position: relative;
  padding-left: 52px;
  margin-bottom: 20px;

  :global .icon {
    @include vertical-center;
    left: 0;
  }

  .title {
    & > div {
      @include TypographyTitleH6($dark-color07);
    }

    & > p {
      @include TypographyParagraph($dark-color01);
    }
  }
}
