@import '~scss/variables';

.bar {
  display: flex;
  justify-content: space-between;
  padding: 6px 20px;
  background-color: $card-bg-color;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
}

.content {
  position: relative;
  padding: 20px;
  height: calc(100vh - 188px);
  overflow: auto;
}

.loading {
  display: block;
  padding: 150px;
}
