@import '~scss/variables';

.content {
  display: flex;
  flex-wrap: wrap;
  margin: -6px !important;
}

.wrapper {
  width: calc(100% / 3);
  padding: 6px;
}

.item {
  padding: 12px;
  border-radius: 4px;
  background-color: $card-bg-color;

  &.cursor {
    cursor: pointer;

    canvas {
      cursor: pointer;
    }
  }
}

.clusterSelector {
  width: 200px;
  color: $white;
  margin-left: 15px;

  :global {
    .select-control {
      background: $dark-color07 !important;
    }

    .select-value-label {
      color: $white !important;
    }
  }

}