@import '~scss/variables';
@import '~scss/mixins';

.builderItem {
  height: 64px;
  display: block;
  border-radius: 4px;
  margin-bottom: 8px;
  padding: 18px 20px;
  border: solid 1px $light-color03;
  background-color: #ffffff;
  &:hover {
    cursor: pointer;
  }
  label {
    display: flex;
    margin-bottom: 0 !important;
    input {
      flex-basis: 20px;
    }
    :global(.label-value) {
      margin-top: -5px;
    }
  }
}

.checkboxCard {
  margin-top: 20px;
  min-height: 64px;
  padding: 10px 15px;
  border-radius: 4px;
  border: solid 1px $border-color;
  background-color: #ffffff;
  label {
    .title {
      font-weight: 600;
      color: #242e42;
    }
    height: 20px;
  }
  .desc {
    color: #79879c;
  }
  &:hover {
    box-shadow: 0 8px 16px 0 rgba(36, 46, 66, 0.08);
  }
}

.title {
  height: 20px;
  font-size: 14px;
  font-weight: 600;
  color: #242e42;
}

.desc {
  min-height: 20px;
  font-size: 12px;
  color: $dark-grey;
  text-indent: 35px;
  @include ellipsis;
}

.builderSelector {
  min-height: 248px;
  padding: 12px;
  margin-top: 20px;
  border-radius: 4px;
  background-color: $lightest;
}
