@import "~scss/variables";

.appBase {
  h3 {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.43;
    margin-bottom: 12px;
  }

  dt,
  dd {
    font-family: $font-family-id;
    padding: 6px 0;
    word-break: break-all;
  }

  dt {
    float: left;
    width: 130px;
    color: $second-text-color;
  }

  dd {
    margin-left: 130px;
    color: $text-color;
  }
}
