@import '~scss/variables';
@import '~scss/mixins';

.body {
  padding: 0;
  max-height: none;
}

.bar {
  padding: 6px 20px;
  box-shadow: 0 1px 0 0 #e3e9ef, 0 -1px 0 0 $border-color;
  background-color: $bg-color;
}

.radioGroupWrapper {
  :global {
    .radio-group-button label.radio-button {
      padding-right: 12px;
      padding-left: 12px;
    }
  }
}

.list {
  height: 472px;
  padding: 12px;

  .listWrapper {
    height: 100%;
    padding: 12px;
    border-radius: 4px;
    background-color: $lightest;
  }
}

.card {
  .icon {
    width: 40px;
    height: 40px;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

.searchWrapper {
  position: relative;
  .cluster {
    @include vertical-center;
    left: 12px;
    z-index: 5;
  }

  .search {
    max-width: 390px;

    &.withSelect {
      padding-left: 124px;
    }

    .content {
      flex-wrap: nowrap;
    }

    :global .input {
      opacity: 1;
      border-color: #79879c !important;
      box-shadow: none !important;
    }
  }
}
