@import '~scss/variables';

.body {
  background-color: $white;
  padding: 0;
}

.header {
  display: flex;
  padding: 15px 20px;
  border-bottom: 1px solid $border-color;

  .title {
    font-size: $size-normal;
    font-weight: 600;
    color: $dark;
    line-height: 20px;
    margin: 10px 0 10px 20px;
  }
}

.content {
  padding: 20px;

  .topbar {
    height: 20px;
    line-height: 20px;
    margin-bottom: 20px;

    p {
      float: left;
      font-weight: 600;
      color: $third-text-color;
    }

    button {
      float: right;
      padding: 0 5px;
      color: $green;
      border: none !important;
    }
  }
}

.footer {
  padding: 9px 20px;
  border-top: 1px solid $border-color;
  text-align: right;
  background-color: $white;

  button {
    margin-left: 10px;
    &:first-of-type {
      margin-left: 0;
    }
  }
}

.codeEditor {
  height: 382px;
}
