@import '~scss/variables';
@import '~scss/mixins';

.container {
  display: flex;

  & > .item {
    flex: 1;
    padding: 12px;
    margin-right: 12px;
    align-items: center;

    & > div {
      @include TypographyTitleH6($dark-color07);
    }
    & > p {
      @include TypographyParagraph($dark-color01);
    }

    &:last-child {
      flex: 2;
      margin-right: 0;
      padding-right: 0;
    }
  }

  .header {
    display: flex;
    margin-right: 12px;
    padding: 12px;
    flex: 1;
    border-radius: 4px;
    align-items: center;

    &:last-child {
      margin-right: 0;
    }

    .item {
      margin-left: 12px;

      & > div {
        @include TypographyTitleH6($dark-color07);
        word-break: break-all;
      }
      & > p {
        @include TypographyParagraph($dark-color01);
      }
    }

    .customIcon {
      width: 40px;
      height: 40px;
      padding-top: 5px;
      svg {
        width: 40px;
        height: 30px;
      }
    }
  }
  & + div {
    .header {
      background: $light-color01;
    }
  }
}

.annotations {
  margin-top: 12px;
  border-radius: 4px;
  padding: 12px;
  background: $light-color01;

  & > p {
    font-size: $size-small;
    font-weight: $font-bold;
    line-height: 1.43;
  }

  & > ul {
    margin-top: 8px;

    & > li {
      height: 44px;
      padding: 12px 32px;
      border-radius: 60px;
      background-color: $bg-color;
      border: solid 1px $border-color;
      font-family: $font-family-id;
      display: flex;

      & + li {
        margin-top: 8px;
      }

      & > span {
        display: inline-block;
        flex: 1;
        @include TypographyParagraph($dark-color01);

        & + span {
          margin-left: 20px;
          @include TypographyTitleH6($dark-color07);
        }
      }
    }
  }
}
.bgWhite {
  background: $white !important;
}
.federatedContainer {
  background: $light-color01;

  & > div {
    & + div {
      .header {
        background: $white;
      }
    }
  }
}
