@import '~scss/variables';

.loading {
  display: block;
  height: 200px;
}

.panel {
  background: #fff;
  border-radius: $border-radius;
  box-shadow: 0 4px 8px 0 rgba(36, 46, 66, 0.06);
  padding: 20px;
  margin: 8px 0;
  &:hover {
    box-shadow: 0 6px 16px 0 rgba(33, 43, 54, 0.2);
  }
  h2 {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 14px;
    color: #242e42;
  }
}
