@import '~scss/variables';

:global {
  .codequality-icon {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-top: -2px;
    margin-right: 8px;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: 12px;
    vertical-align: middle;
  }
}

.blocker {
  animation: rotate 2s linear infinite;
  background-image: url('/assets/blocker.svg');
}

.critical {
  background-image: url('/assets/critical.svg');
}

.info {
  background-image: url('/assets/info.svg');
}

.major {
  background-image: url('/assets/major.svg');
}

.minor {
  background-image: url('/assets/minor.svg');
}

.codeStatus {
  margin-right: 4px;
}

.status {
  line-height: 20px;
  font-size: 12px;
  color: $dark-grey;
  svg {
    margin-top: -4px;
  }
  .type {
    margin-right: 20px;
  }
}

.header {
  height: 40px;
  margin: 0px -20px;
  padding: 0px 20px 0px 20px;
  border-bottom: solid 1px $light-color03;
  .title {
    float: left;
    height: 20px;
    margin-right: 40px;
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: #242e42;
  }
  .details {
    font-size: 12px;
    line-height: 20px;
    color: $dark-grey;
    float: left;
    & > span {
      margin-right: 20px;
      font-size: 12px;
      color: $dark-grey;
      & > span {
        margin-right: 8px;
      }
    }
  }
}

.content {
  padding-top: 1px;
}

.fileTitle {
  line-height: 20px;
  margin-top: 20px;
  margin-bottom: 8px;
  font-size: 12px;
  font-weight: 600;
  color: #212b36;
}

.errorCard {
  margin-bottom: 4px;
  padding: 8px 20px;
  height: 56px;
  border: 1px solid transparent;
  .codeStatus {
    margin-right: 20px;
  }
  .message {
    height: 20px;
    font-weight: 600;
    color: #212b36;
  }
}

.card-blocker,
.card-critical {
  background-color: rgba(202, 38, 33, 0.1);
  &:hover {
    border: 1px dashed #dd4040;
    transition: all 0.3s ease;
  }
}

.card-minor {
  background-color: rgba(245, 166, 35, 0.1);
  &:hover {
    border: 1px dashed #e7e438;
    transition: all 0.3s ease;
  }
}

.card-info {
  background-color: #fafbfc;
  &:hover {
    border: 1px dashed #329dce;
    transition: all 0.3s ease;
  }
}

.titleShowMore {
  font-size: 12px;
  font-weight: normal;
  color: #5f708a;
  span {
    margin-left: 4px;
    font-weight: 600;
    color: #329dce;
    cursor: pointer;
  }
}

.displayAll {
  height: 42px;
  border-radius: $border-radius;
  background-color: #fafbfc;
  text-align: center;
  cursor: pointer;
  line-height: 42px;
  font-size: 12px;
  font-weight: 500;
  color: #329dce;
}
