@import '~scss/variables';
@import '~scss/mixins';

.wrapper {
  cursor: pointer;

  &:hover {
    a {
      color: $primary;
    }
  }
}

.title {
  width: 140px;
  margin-left: 10px;
  white-space: nowrap;
}

.texts:nth-child(2) {
  min-width: 60px;
}
