@import '~scss/variables';

.header {
  display: flex;
  position: relative;
  align-items: center;

  & > div + div {
    min-width: 20%;
    margin-left: 20px;
  }

  .more {
    position: absolute;
    right: 0;
    top: 0;
  }
}

.cluster {
  position: relative;
  width: 326px;
  padding: 8px;
  border-radius: 2px;
  background-color: $dark-color07;
}

.content {
  margin-top: 12px;
  border-radius: $border-radius;
  padding: 12px;
  background-color: $light-color01;
}
