.wrapper {

  display: flex;
  justify-content: space-between;
  line-height: 44px;
  padding: 0 14px;

  h3 {
    font-weight: bold;
  }

  .tools {
    visibility: hidden;
  }

  input {
    outline: none;
    border: none;
    background: transparent;
  }

  &:hover {
    .tools {
      visibility: visible;
      :global {
        .icon {
          width: 20px;
          height: 20px;
          margin-left: 8px;
          cursor: pointer;
        }
      }
    }
  }
}