@import '~scss/variables';

.body {
  padding: 0;
  overflow: hidden;
  max-height: none;
}

.content {
  min-height: 500px;
  max-height: calc(100vh - 270px);
  width: 920px;
  margin: 0 auto;
  padding: 20px 0 48px 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.footer {
  padding: 12px 20px;
  background-color: $bg-color;
  text-align: right;
}
