@import '~scss/variables';

.title {
  font-weight: 600;
  line-height: 20px;

  &:not(:first-child) {
    margin-top: 20px;
  }
}

.workloads {
  display: inline-block;
  vertical-align: bottom;
  max-width: none;
  width: auto;
}

.trafficCard {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  padding: 12px;
  border-radius: 2px;
  background-color: $lightest;

  :global {
    .h5 {
      box-shadow: none;
      font-family: $font-family-id;
      line-height: 1.5;
    }
  }

  p {
    color: #79879c;

    :global {
      .icon {
        margin-right: 4px;
        vertical-align: middle;
      }
    }
  }
}
