@import '~scss/variables';

.title {
  width: 691px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 32px;

  :global {
    .h4 {
      margin-bottom: 12px;
      line-height: 1.4;
      text-shadow: 0 4px 8px rgba(36, 46, 66, 0.1);
    }
  }

  p {
    color: #5f708a;
  }
}
