@import '~scss/variables';

.loading {
  display: block;
  height: 200px;
}

.empty {
  text-align: center;
  p {
    font-size: 12px;
    line-height: 1.67;
    color: #79879c;
    margin-top: 20px;
    margin-bottom: 12px;
  }
}

.pane {
  background: #fff;
  border-radius: $border-radius;
  box-shadow: 0 4px 8px 0 rgba(36, 46, 66, 0.06);
  padding: 20px;
  margin: 8px 0;
  &:hover {
    box-shadow: 0 6px 16px 0 rgba(33, 43, 54, 0.2);
  }
  h2 {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 14px;
    color: #242e42;
  }
}

.collection {
  cursor: pointer;
}

.collectionCount {
  text-align: center;
  background-image: radial-gradient(closest-side, #ccc 0, transparent 100%);
  background-repeat: no-repeat;
  background-size: 100% 1px;
  background-position: 50%;
  span {
    line-height: 20px;
    padding: 0 1em;
    color: #79879c;
    background-image: linear-gradient(transparent, $body-bg-color, transparent);
  }
}

.collectionSummery {
  padding: 20px 24px;
  display: grid;
  grid-template-columns: 40px 1fr 130px 130px 130px;
  grid-gap: 20px;
  @at-root {
    .dl {
      h3 {
        font-size: 12px;
        font-weight: 600;
        line-height: 1.5;
        color: #242e42;
      }
      p {
        font-size: 12px;
        line-height: 1.67;
        color: #79879c;
      }
    }
  }
}

.logCount {
  line-height: 54px;
  height: 54px;
  border-radius: 0 0 $border-radius $border-radius;
  background-color: $lightest;
}

.header {
  margin-bottom: 12px;

  @at-root {
    .toolbar {
      padding: 10px 20px;
      border-radius: 0 0 $border-radius $border-radius;
      background-color: $lightest;
      text-align: right;
      .refresh {
        text-align: center;
        line-height: 30px;
      }
    }
  }
}

.form {
  border-radius: 4px;
  background-color: $lightest;
}
