@import '~scss/variables';

.title {
  font-weight: $font-bold;
  margin-bottom: 8px;
}

.app {
  margin-top: 12px;
}

.group {
  padding: 12px;
  border-radius: $border-radius;
  background-color: #eff4f960;
  border: 1px dashed #e1e7ed;
  transition: all $trans-speed ease-in-out;

  &:hover {
    background-color: rgba(199, 222, 239, 0.5);
  }

  &.selected {
    border-color: #329dce;
    background-color: rgba(199, 222, 239, 0.5);
  }

  &.error {
    border-color: #ca2621;
    background-color: rgba(202, 38, 33, 0.1);
  }
}

.pods {
  font-weight: $font-bold;

  img {
    margin-right: 10px;
    vertical-align: middle;
  }
}
