@import '~scss/variables';

.wrapper {
  :global {
    .h5 {
      line-height: 20px;
      margin-bottom: 12px
    }

    .radio-default {
      display: inline-flex;
    }
  }
}

.pane_content {
  padding: 20px 26px;
}

.content {
  min-height: 400px;
}

.header {
  padding: 20px 0;
  background-color: $lightest;
}

.valuesFormColumns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 24px;
}

.formItem {
  margin-top: 12px;
}

.form_content {
}

.footer {
  padding: 24px 20px;
  height: 80px;
  background-color: $bg-color;

  button {
    min-width: 100px;
  }
}

.logo {
  width: 40px;
  height: 40px;
  margin-right: 12px;
}

.app_name {
  height: 20px;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.67;
  color: #242e42;
}

.source {
  height: 20px;
  font-size: 12px;
  line-height: 1.67;
  color: #79879c;
}

.params {
  position: relative;
  margin-top: 42px;

  :global {
    .radio-default {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}
