.wrapper {
  display: flex;
}

.text {
  display: inline-block;
  vertical-align: middle;
  margin-left: 16px;

  :global .h2 {
    line-height: 1.38;
    text-shadow: 0 4px 8px rgba(36, 46, 66, 0.1);
  }

  p {
    color: #79879c;
  }
}
