@import '~scss/variables';

.wrapper {
  background: $white;
  padding: 12px;

  .config {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    & > div {
      margin-top: 0;
    }
  }
  
  .metric {
    margin-top: 10px;
  }
}

.input {
  width: 100%;
  border: none;
  background: $white;
}
