@import '~scss/variables';
@import '~scss/mixins';

.taskList {
  height: calc(100% - 80px);
  overflow: auto;
  margin: 0 -20px;
  padding: 0 20px;
}

.task {
  display: flex;
  padding: 12px 12px 12px 24px;
  border-radius: 4px;
  background-color: #ffffff;
  border: solid 1px $light-color03;
  margin-bottom: 8px;
  color: #242e42;
  cursor: pointer;

  &:hover {
    box-shadow: 0 8px 16px 0 rgba(36, 46, 66, 0.08);
  }
}

.taskIcon {
  flex-basis: 48px;
  min-width: 48px;
  line-height: 38px;
}

.taskInfo {
  flex-flow: 1;
}

.taskName {
  font-weight: 500;
  span {
    margin-right: 6px;
  }
}

.desc {
  word-break: break-all;
}

.back {
  float: left;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  vertical-align: center;
  cursor: pointer;
}

.tabs {
  display: flex;
  height: 40px;
  padding: 5px;
  margin-bottom: 15px;
  border-radius: 4px;
  background-color: $bg-color;
}

.tab {
  flex-shrink: 1;
  flex-grow: 1;
  color: #5f708a;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 4px;
  background-color: $bg-color;
  margin: 0 4px;
  cursor: pointer;
}

.tab_active {
  color: white;
  border-radius: 100px;
  box-shadow: 0 8px 16px 0 rgba(35, 45, 65, 0.28);
  background-color: #242e42;
  border: solid 1px #242e42;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
