@import '~scss/variables';
@import '~scss/mixins';

.title {
  margin-bottom: 8px;
  line-height: 20px;
  font-weight: bold;
  color: $head-color;
}

.appInfo {
    > div {
      max-width: 100%;
    }
}
