.content {
  display: flex;
  max-width: 32.7%;
  flex: 1 1;
  height: 92px;
  padding: 14px;
  transition: all 0.3s ease;
  border-radius: 4px;
  margin-right: 0.95%;
  position: relative;
  justify-content: center;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    background: #f9fbfd;
    cursor: pointer;
    .info .radio {
      opacity: 1 !important;
    }
  }

  &--checked {
    background: #f9fbfd;
  }

  .chart {
    position: relative;
    z-index: 0;

    .innerIcon {
      width: 24px;
      height: 24px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .info {
    margin-left: 12px;

    .radio {
      position: absolute;
      right: 4px;
      top: 4px;
      opacity: 0;
      transition: all 0.3s ease;

      &::before {
        width: 11px;
        height: 11px;
      }
      &::after {
        width: 5px;
        height: 5px;
        top: 5px;
        left: 3px;
      }

      &--show {
        opacity: 1;
      }
    }

    .label {
      font-size: 12px;
      line-height: 20px;
      color: #79879c;
    }

    .type {
      font-weight: 600;
      font-size: 12px;
      line-height: 20px;
      color: #242e42;
    }

    .number {
      color: #242e42;
      font-weight: 600;
      line-height: 28px;
      font-size: 16px;

      .master {
        font-size: 24px;
      }
    }
  }
}
