@import '~scss/variables';
@import '~scss/mixins';

.wrapper {
  display: flex;
  border: solid 1px $light-color08;
  border-radius: 4px;
  line-height: 24px;
  padding: 0 4px;
  align-items: baseline;

  :global {
    input.input:not([readonly]):not([disabled]):focus {
      box-shadow: none;
    }
  }
}

.trigger {
  border-radius: 2px;
  color: $white;
  padding: 0 10px;
  display: inline-block;
  cursor: pointer;
  height: 24px;
  background: $dark-color07;
}

.input {
  flex: 1;
}

.debug {
  background: $yellow-color05;
  vertical-align: center;
}

