@import '~scss/variables';

.clusterSelector {
  width: 200px;
  color: $white;
  font-size: 12px;
  margin-left: 15px;

  :global {
    .select-control {
      background-color: $dark-color07 !important;
      box-shadow: none !important;
      border: none !important;
    }

    .select-value {
      color: $white !important;
    }

    .select-icon .kubed-icon-dark {
      color: $white;
    }
  }
}