@import '~scss/variables';

.wrapper {
  position: relative;
}

.trigger {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 455px;
  z-index: -1;
}

.content {
  width: 360px;
  padding: 20px;

  & > p {
    font-weight: bold;
    line-height: 20px;
  }
}

.rules {
  padding: 12px;
  margin-top: 8px;
  margin-bottom: 8px;
  border-radius: 4px;
  background-color: $lightest;

  & > li {
    line-height: 20px;

    :global {
      .icon {
        margin-right: 12px;
      }
    }

    & + li {
      margin-top: 8px;
    }
  }
}

.barWrapper {
  position: relative;
  width: 100%;
  height: 8px;
  border-radius: 4px;
  background-color: $lightest;
  margin-top: 4px;

  .bar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    border-radius: 4px;
  }
}

.tip {
  margin-top: 12px;
  font-weight: normal !important;
  color: #79879c;
  line-height: 20px;
}

.trigger {
  position: absolute;
  width: 100%;
  height: 100%;
}

.icon {
  border-radius: 24px;
  background-color: $light-color07;

  &.selected {
    background-color: $green;
  }
}
