@import '~scss/variables';

.footer {
  border-color: $bg-color;
  border-top: 1px solid $border-color;
}

.icons {
  margin: 0 30px 0 -6px;

  >label {
    display: inline-block;
    margin: 0 4px 4px 0;
    width: 32px;
    height: 32px;
    line-height: 28px;
    text-align: center;
    border: 1px solid transparent;
    cursor: pointer;

    svg {
      opacity: 0.4;
    }

    &.active,
    &:hover {
      border-color: $border-hover-color;
      box-shadow: $base-shadow;
      border-radius: $border-radius;

      svg {
        opacity: 1;
      }
    }
  }
}
