@import '~scss/variables';

.wrapper {
  max-width: 1400px;
  padding: 20px;
  min-height: calc(100vh - #{$header-height} - 40px);
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  margin: 12px 0 40px;

  .avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    margin-right: 20px;
    border: 2px solid $white;
    border-radius: 50%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }

  .title {
    overflow: hidden;

    strong {
      font-size: 20px;
      font-weight: 600;
      line-height: 1.4;
    }

    .info {
      display: flex;
      align-items: center;

      p {
        display: flex;
        align-items: center;
        margin-right: 40px;
        color: #79879c;
        line-height: 1.67;

        :global {
          .icon {
            margin-right: 6px;
          }
        }
      }
    }
  }
}
