@import '~scss/variables';

.formBody {
  border-radius: 4px;
  background-color: $lightest;
  padding: 12px;
  margin-bottom: 12px;
}

.formAttrs {
  border-radius: $border-radius;
  box-shadow: 0 4px 8px 0 rgba(36, 46, 66, 0.06);
  background-color: #ffffff;
  border: solid 1px $light-color03;
  padding: 12px;
  :global {
    .form-item {
      margin-bottom: 8px;
    }
  }
  label {
    font-weight: bold;
  }
}

.row {
  :global {
    .form-item {
      width: 50%;
      display: inline-block;
      max-width: 370px;
      margin-right: 20px;
      vertical-align: top;
      margin-top: 0;
      margin-bottom: 8px;
      label {
        font-weight: bold;
      }
    }
  }
}

:global {
  .form-item{
    .textarea{
      max-width: 760px;
    }
  }
}

.footer {
  text-align: right;
}

.tips {
  margin-bottom: 12px;
}
