@import '~scss/variables';
@import '~scss/mixins';

.wrapper {
  position: relative;

  .errorItem {
    :global {
      .input[name='key'] {
        box-shadow: 0 4px 8px 0 rgba(202, 38, 33, 0.2);
        border: 2px solid #ca2621 !important;
        &:focus,
        &:hover {
          border: 2px solid #ca2621 !important;
        }
      }
    }
  }

  .error {
    position: absolute;
    left: 20px;
    bottom: 6px;
    line-height: 32px;
    color: #a80600;
  }
}

.inputItem {
  & + .inputItem {
    margin-top: 8px;
  }
}

.item {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  padding: 6px 17px;
  border-radius: 60px;
  background-color: $bg-color;
  border: solid 1px $border-color;
}

.inputs {
  position: relative;
  display: flex;
  flex: 0 1 800px;

  & > input,
  :global(.select) {
    width: 33.3333% !important;
    max-width: none !important;
  }
}

.tips {
  position: absolute;
  top: 14px;
  right: 102px;
  width: 16px;
  height: 16px;

  :global(.icon) {
    vertical-align: top;
  }
}

.actions {
  display: flex;
  flex: 1 0 50px;
  margin-right: -10px;
  margin-left: 10px;

  button {
    width: 50px;
    padding: 0 !important;
    margin: 0 !important;
  }
}

.add {
  margin-top: 12px;
}
