@import '~scss/variables';
@import '~scss/mixins';

.body {
  background: $white;
  padding: 0;

  .describtion {
    background: url('/assets/about-bg.svg') no-repeat left top / auto 100%
      $light-color01;
    padding: 24px 20px 24px 24px;

    p {
      @include TypographyParagraph();
      margin-bottom: 12px;
    }

    img {
      width: 200px;
      height: 40px;
      margin-bottom: 12px;
    }
  }

  .links {
    padding: 20px 20px 20px 24px;
    overflow: hidden;

    span + span {
      margin-left: 12px;
      &:before {
        content: '|';
        color: $light-color04;
        margin-right: 12px;
        vertical-align: middle;
      }
    }

    a {
      display: inline-block;
      line-height: 20px;
      vertical-align: middle;
      img {
        margin-right: 4px;
      }
      strong,
      img {
        vertical-align: middle;
      }
    }

    .left {
      float: left;
    }
    .right {
      float: right;
    }
  }
}
