@import '~scss/variables';
@import '~scss/mixins';

.overview {
  background: $light-color01;
  padding: 12px;
  margin-bottom: 12px;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;

    .operations {
      position: relative;
      display: flex;

      .button {
        padding: 5px 10px;
        margin-left: 12px;
        border-radius: 4px;
        box-shadow: none;
      }
    }
  }

  .body {
    display: flex;

    .left {
      flex: 1;

      .item {
        height: 115px;

        &:first-child {
          margin-bottom: 12px;
        }

        &:last-child {
          :global {
            .select {
              border: none;
              height: 20px;
              width: 120px;

              .select-control {
                width: 110px;
                height: 20px;
                border: none;
                padding: 0;
              }
            }
          }
        }
      }
    }

    .middle {
      flex: 1;
      margin: 0 12px;
      padding: 14px 20px;
      background: $white;
      text-align: center;

      & > div {
        display: inline-block;
        & > div:first-child {
          top: 50% !important;
        }
      }
    }

    .right {
      flex: 1;
      height: 86px;

      .customIcon {
        width: 48px;
        height: 48px;
        display: inline-flex;
        align-self: center;
        vertical-align: middle;

        svg {
          width: 48px;
          height: 48px;
        }
      }

      .item {
        height: 86px;

        & > div {
          margin-left: 19px;
          padding-top: 18px;
        }
      }

      .itemSmall {
        height: 44px;
        width: 100%;
        margin-top: 8px;
        padding: 0 20px;
        background: $white;
        display: flex;
        align-items: center;
        justify-content: space-between;

        & > span {
          color: $dark-color01;
        }

        & > span:last-child {
          font-size: 24px;
          font-weight: 600;
          line-height: 32px;

          color: $dark-color07;
        }
      }
    }

    .item {
      display: flex;
      padding: 0 20px;
      background: $white;

      & > div {
        margin-left: 19px;
        padding-top: 38px;
        line-height: 1;

        p {
          font-size: 12px;
          color: $dark-color01;
          margin-bottom: 6px;
        }

        & > span {
          font-size: 24px;
          font-weight: 600;
          color: $dark-color07;
        }
      }
    }
  }
}

.simpleContent {
  & > p {
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    color: #79879c;
  }

  & > span {
    font-size: 24px !important;
    font-weight: 600;
  }
}
