@import '~scss/variables';
@import '~scss/mixins';

.item {
  position: relative;
  display: grid;
  grid-template-columns: 55px 20% 15% auto 20% ;
  padding: 12px 20px;
  margin-bottom: 8px;
  min-height: 64px;
  border-radius: $border-radius;
  border: solid 1px $border-color;
  background-color: #ffffff;

  li {
    margin-right: 8px;
    .value,
    .status {
      height: 20px;
      @include TypographyTitleH6;
      @include ellipsis;
    }

    .label {
      height: 20px;
      @include TypographyParagraph($dark-color01);
    }
  }

  .icon {
    margin-top: 12px;
    margin-left: 20px;
    transition: transform 0.5s ease;
  }

  .copyIcon {
    cursor: pointer;
  }
}