@import '~scss/variables';
@import '~scss/mixins';

.wrapper {
  min-height: 336px;
  height: 100%;
  padding: 12px;
  border-radius: 4px;
  background-color: $lightest;

  .add {
    margin-top: 12px;
  }
}

.empty {
  padding: 20px;
  text-align: center;
  background-color: $white;
  border: dashed 1px #d8dee5;

  & > p {
    color: #5f708a;
  }
}

.item {
  position: relative;
  padding: 12px;
  border: 1px solid $light-color03;
  border-radius: 4px;
  background-color: $white;
  cursor: pointer;

  & + .item {
    margin-top: 8px;
  }

  &:hover {
    .buttons {
      visibility: visible;
      opacity: 1;
    }
  }

  :global {
    .icon {
      margin-right: 10px;
    }
  }

  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 20px;
    margin-bottom: 10px;

    p {
      display: flex;
      align-items: center;
      color: #5f708a;
    }
  }

  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    border-radius: 22px;
    border: 1px solid #ccd3db;
    background-color: $bg-color;

    .right {
      display: flex;
      justify-content: flex-end;
      width: 60%;

      .desc {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        padding-right: 30px;

        span {
          margin: 0 5px;
        }
      }

      .level {
        display: flex;
        flex: 1 0 100px;
        align-items: center;
      }
    }
  }

  .buttons {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 0 12px;
    border-radius: 3px;
    background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.32),
      rgba(255, 255, 255, 0.9)
    );
    transition: all $trans-speed;

    :global .icon {
      margin: 0;
    }
  }
}
