@import '~scss/variables';

.wrapper {
  margin: 0 auto;

  :global .h5 {
    color: #242e42;
    line-height: 1.5;
    margin-bottom: 20px;
  }
}

.formWrapper {
  padding: 20px;
  min-height: 410px;
  border-radius: 4px;
  background-color: $lightest;
}
