@import '~scss/variables';

$inputHeight: 40px;

.container {
  border-radius: 4px;
  border: solid 2px #abb4b1;
  line-height: $inputHeight;
  background: #fff;
  min-height: $inputHeight;
  position: relative;
}

.customRange {
  :global {
    .datepicker-input {
      max-width: 100%;
    }
  }
}

.currentParam {
  font-weight: bold;
  margin-right: 8px;
}

.input {
  margin-left: 8px;
  position: relative;
  display: inline-block;
  input {
    width: 300px;
    display: inline-block;
    border: none;
    outline: none;
  }
}

.dropdown {
  padding: 8px;
  position: absolute;
  background: #fff;
  z-index: 3;
  border: solid 1px rgba(36, 46, 66, 0.1);
  border-radius: 4px;
  margin-top: 3px;
  @at-root {
    .dropdownItem {
      line-height: 32px;
      border-radius: 4px;
      min-width: 206px;
      padding: 0 8px;
      cursor: pointer;
      &:hover {
        background-color: $bg-color;
      }
      font-weight: 500;
    }
    .icon {
      width: 16px;
      height: 16px;
      margin-right: 8px;
    }
  }
}

.param {
  border-radius: 100px;
  background-color: $dark;
  color: #fff;
  margin-left: 8px;
  line-height: 28px;
  padding-left: 15px;
  padding-right: 15px;
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  @at-root {
    .removeParam {
      font-size: 20px;
      margin-left: 15px;
      font-weight: 400;
      cursor: pointer;
    }
  }
}

.durationDropdown {
  position: absolute;
  width: 800px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(36, 46, 66, 0.06);
  margin-top: 3px;
  line-height: 32px;
  z-index: 3;
  display: flex;
  padding: 20px;

  & > div {
    width: 50%;
  }
}
