@import '~scss/variables';

.wrapper {
  input {
    font-size: 18px;
    background: inherit;
    border: none;
    outline: none;
    padding-left: 0;
    &:focus {
      box-shadow: none !important;
    }
  }
}

.title {
  font-size: 20px;
  line-height: 32px;
}

.dark {
  color: $white;
  input {
    color: $white;
    caret-color: $white;
  }
}