@import '~scss/variables';

.detail {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 20px;
}

.wrapper {
  width: 400px;
  height: 100%;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(36, 46, 66, 0.1);

  :global {
    .collapse .collapse-item-content {
      min-height: 190px;
      max-height: calc(100vh - 450px);
      overflow-y: auto;
    }
  }

  &.fullscreen {
    :global {
      .collapse .collapse-item-content {
        max-height: calc(100vh - 240px);
        overflow-y: auto;
      }
    }
  }
}

.title {
  display: flex;
  align-items: center;
  padding: 20px 12px;

  :global {
    .icon {
      margin-right: 12px;
    }

    .h5 {
      line-height: 1.5;

      & + p {
        color: #79879c;
      }
    }
  }
}
