.wrapper {
  position: relative;
  .error {
    position: absolute;
    left: 0;
    top: 0;
    border-width: 15px;
    border-color: red;
    border-style: solid;
    border-bottom-color: transparent;
    border-right-color: transparent;
    z-index: 3;
    &:after {
      position: absolute;
      left: -6px;
      top: -14px;
      content: "!";
      font-weight: bold;
      color: #fff;
    }
  }

  & + .wrapper {
    margin-top: 10px;
  }
}