@import '~scss/variables';
@import '~scss/mixins';

.header {
  display: flex;
  align-items: center;

  & > div + div {
    min-width: 30%;
    margin-left: 20px;
  }
}

.cluster {
  position: relative;
  display: flex;
  width: 326px;
  padding: 8px;
  border-radius: 2px;
  background-color: $dark-color07;
}

.text {
  flex: 1;
  overflow: hidden;
  & > div {
    @include TypographyTitleH6(#fff);
    @include ellipsis;
  }

  & > p {
    @include TypographyParagraph(#fff);
    @include ellipsis;
  }
}

.icon {
  margin-right: 12px;
}

.indicator {
  position: absolute;
  top: 36px;
  left: 36px;
}

.content {
  margin-top: 12px;
  border-radius: $border-radius;
  background-color: $light-color01;
}

.group {
  position: absolute;
  top: 8px;
  right: 8px;
}
