@import '~scss/variables';

.wrapper {
  & > rect {
    fill: none;
    stroke: none;
  }

  &:hover {
    foreignObject {
      width: 300px;
    }

    .service {
      display: inline-block;
      width: auto;
      min-width: 150px;
      max-width: 300px;
    }
  }
}

.service {
  width: 150px;
  height: 100px;
  border-radius: 4px;
  border: 1px solid $dark-color07;
  box-shadow: $card-shadow;
  background-color: $dark-color07;
  font-size: 12px;
  font-family: PingFang SC;
  overflow: hidden;
  box-sizing: border-box;
  cursor: pointer;

  &.selected,
  &:hover {
    border-color: $primary;
    background-color: $primary;

    .footer {
      background-color: $primary;
    }
  }
}

.header {
  display: flex;
  height: 50px;
  padding: 4px 6px;
  background-color: $white;
  box-sizing: border-box;
}

.footer {
  height: 50px;
  padding: 4px 6px;
  background-color: $dark-color07;
  color: $white;
  box-sizing: border-box;
}

.icon {
  margin-right: 8px;
}

.text {
  flex: 1;
  height: 40px;
  overflow: hidden;
}

.title {
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
  color: $dark-color07;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}

.description {
  font-size: 12px;
  line-height: 20px;
  color: $dark-color01;
}
