@import '~scss/variables';

.items {
  border-radius: 4px;
  background-color: $lightest;
  padding: 12px;
  @at-root {
    .collectionType.disabled {
      opacity: 0.6;
      cursor: normal;
    }

    .collectionType {
      margin: 8px;
      border: solid 1px $light-color03;
      border-radius: 4px;
      background-color: #ffffff;
      display: grid;
      grid-template-columns: 40px 1fr;
      grid-gap: 20px;
      padding: 14px 20px;
      cursor: pointer;
      &:hover {
        box-shadow: 0 8px 16px 0 rgba(36, 46, 66, 0.08);
      }
      h3 {
        line-height: 1.5;
        color: #242e42;
        font-weight: bold;
        font-size: 16px;
      }
      p {
        color: #79879c;
      }
    }
  }
}

.createTip {
  line-height: 44px;
  padding: 0 12px;
  margin-bottom: 12px;
  color: #3391bf;
  border-radius: 4px;
  background-color: #c6def0;
  &:before {
    content: '?';
    border-radius: 50%;
    color: #fff;
    background: #3391bf;
    display: inline-block;
    margin-right: 0.5em;
    width: 12px;
    height: 12px;
    line-height: 1em;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
  }
}
