@import '~scss/variables';
@import '~scss/mixins';

.item {
  display: flex;
  padding: 20px 24px;
  margin-bottom: 8px;
  line-height: 20px;
  background-color: $th-bg-color;
  border-radius: 4px;

  &:last-child {
    margin-bottom: 0;
  }
}

.name {
  width: 33%;
  padding-left: 20px;

  & > p {
    color: $second-text-color;
  }

  & > a {
    font-family: $font-family-id;
    font-size: $size-normal;
    font-weight: $font-bold;
    line-height: 1.43;
    color: $title-color;

    &:hover {
      color: $primary;
    }
  }
}

.status {
  width: 33%;
  padding-left: 20px;
  border-left: 1px dashed #d8dee5; 

  & > p {
    display: flex;

    & > span {
      display: block;

      &:first-child {
        color: #5f708a;
      }

      & + span {
        margin-left: 4px;
      }
    }

    span {
      display: block;
    }
  }
}