@import '~scss/variables';
@import '~scss/mixins';

.wrapper {
  height: 100%;
  padding: 12px;
  border-radius: $border-radius;
  background-color: $lightest;

  .add {
    margin-top: 12px;
    justify-content: center;
  }
}

.list {
  margin-bottom: 12px;
}

.mount {
  margin-top: 12px;
  padding: 8px;
  border-radius: $border-radius;
  background-color: $bg-color;

  ul > li {
    display: flex;

    & > div {
      color: $text-color;
      font-weight: $font-bold;
      min-width: 200px;

      & > span {
        display: inline-block;
        vertical-align: middle;
      }
    }

    & + li {
      margin-top: 8px;
    }

    :global .icon {
      margin-right: 8px;
    }
  }
}
