@import '~scss/variables';
@import '~scss/mixins';

.wrapper {
  display: flex;
  padding: 8px;
  border-radius: 2px;
  background-color: $white;
  align-items: center;
  border: solid 1px transparent;
  transition: all $trans-speed ease;
  cursor: pointer;

  &.disabled {
    opacity: 0.7;

    &:hover {
      box-shadow: none;
      border-color: transparent;
    }
  }

  .title {
    flex: 1;
  }

  .manager {
    & > div,
    & > p {
      text-align: right;
    }
  }

  & + .wrapper {
    margin-top: 8px;
  }

  &:hover {
    box-shadow: 0 4px 8px 0 rgba(36, 46, 66, 0.2);
    border-color: $dark-color01;
  }
}
