@import '~scss/variables';

.wrapper {
  :global .h4 {
    line-height: 1.4;
    margin-bottom: 32px;

    svg {
      width: 24px;
      height: 24px;
      margin-right: 12px;
      vertical-align: sub;
    }
  }
}

.formDesc {
  display: flex;
  align-items: center;
}

.tips {
  padding: 5px 0;
  color: $second-text-color;
}
