@import '~scss/variables';

.title {
  margin-bottom: 4px;
}

.content {
  margin-top: 12px ;
  padding: 12px;
  background-color: $card-bg-color;
  border-radius: $border-radius;

  &Wrapper {
    padding: 12px;
    background-color: #fff;
    border: 1px solid $border-color;
    border-radius: $border-radius;
  }
}
