@import '~scss/variables';

.wrapper {
  border-radius: 4px;
  padding: 12px;
}

.card {
  width: 905px;
  padding: 20px 126px;
  border-radius: 4px;
  background-color: $white;
  border: solid 1px $light-color03;
}

.itemWrapper {
  padding: 12px;
  margin-top: 12px;
  border-radius: 2px;
  background-color: $lightest;

  & > p {
    margin-bottom: 4px;
  }
}

.error {
  margin-top: 12px;
  color: #a80600;
}
