@import '~scss/variables';
@import '~scss/mixins';

.wrapper {
  display: flex;

  :global {
    .icon {
      margin-right: 12px;
    }
    .kubed-icon-question {
      fill: #329dce;
      color: #fff;
    }
  }
}

.text {
  & > div {
    @include TypographyTitleH6($dark-color07);
  }

  & > p {
    @include TypographyParagraph($dark-color01);
  }
}
