@import '~scss/variables';
.mode_title {
  display: flex;
  align-items: center;

  .question {
    margin-left: 6px;
  }
}

.pv_content {
  display: flex;
  align-items: center;

  .yaml {
    box-sizing: border-box;
    margin-left: 5px;
    padding: 2px;
    display: none;
    justify-content: center;
    align-items: center;

    &:hover {
      background: $light-color03;
      border-radius: 4px;
      cursor: pointer;
    }
  }
}

:global {
  .table-row {
    &:hover {
      cursor: pointer;

      #pvColumn {
        span {
          display: flex;
        }
      }
    }
  }
}
