@import '~scss/variables';

.wrapper {
  display: flex;
  width: 920px;
  padding: 8px;
  border-radius: 4px;
  background-color: $white;
  border: solid 1px $border-color;
  overflow: auto;
  margin-top: 12px;
}

.clusterBox {
  display: flex;

  .cluster {
    width: 220px;
    padding: 5px 10px;
    margin-right: 8px;
    background: $dark-color07;
    color: $white;
    margin-top: 5px;
  }

  .weights {
    display: flex;
    align-items: center;
    margin: 5px 0;
    background-color: $dark-color07;
  }

  .input {
    width: 80%;
  }

  .text {
    width: 80px;
    margin-right: 5px;
    word-wrap: none;
    word-break: keep-all;
    text-align: center;
  }

  .innerInputItem {
    display: flex;
    align-items: center;

    :global {
      .form-item-label {
        color: $white;
      }
    }
  }
}
