@import '~scss/variables';
@import '~scss/mixins';

.tab {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 20px;

  &.active {
    .info {
      color: $white;
    }
  }

  .info {
    width: calc(100% - 60px);
    margin-left: 20px;
    color: #404e68;

    .title {
      font-size: $size-small;
      font-weight: 600;
      line-height: 1.67;
    }

    p {
      height: 32px;
      line-height: 32px;
      font-size: 20px;
      font-weight: 600;
      @include ellipsis;

      span {
        font-size: $size-small;
      }
    }
  }
}

.nodes {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;

  .info {
    display: flex;
    flex-wrap: wrap;
    margin: -6px;
    height: 100%;
    overflow: auto;

    .item {
      width: calc(100% / 3 - 12px);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: calc(50% - 12px);
      margin: 6px;
      border-radius: 4px;
      border: 1px solid $light-color03;
      background-color: $white;

      .icon {
        position: relative;
        width: 40px;
        height: 40px;
        margin-bottom: 12px;

        .circle {
          position: absolute;
          right: 0;
          bottom: 0;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background-color: $green;
          box-shadow: 0 4px 8px 0 rgba(85, 188, 138, 0.32);

          &.offline {
            background-color: $red;
            box-shadow: 0 8px 16px 0 rgba(202, 38, 33, 0.2);
          }
        }
      }
    }
  }
}
