@import '~scss/variables';

$banner-height: 152px + $header-height;

%shapePos {
  position: absolute;
  top: $header-height;
}

.banner {
  position: relative;
  top: -$header-height;
  background-color: $dark-color08;
  height: $banner-height;
  z-index: 10;

  .inner {
    position: relative;
    height: $banner-height;
    margin: 0 auto;
    @media (max-width: 768px) {
      width: 1024px;
    }
    @media (min-width: $apps-content-width) {
      width: $apps-content-width;
      .leftShape_1,
      .leftShape_2 {
        left: -50px;
      }
    }

    @media (min-width: $apps-content-width + 140px) {
      .leftShape_1,
      .leftShape_2 {
        left: -50px;
      }
    }
  }

  .innerContent {
    padding: 0 24px;
  }

  .shape {
    @extend %shapePos;
    opacity: 0.05;
    transition: all 0.5s ease-in-out;
    &:hover {
      transform: scale3d(1.1, 1.1, 0.3);
    }

    &.shape_1 {
      background: url('/assets/banner/shape-1.svg') no-repeat;
      width: 245px;
      height: 189px;
      right: 352px;
    }
    &.shape_2 {
      background: url('/assets/banner/shape-2.svg') no-repeat;
      width: 245px;
      height: 189px;
      left: 0;
    }
    &.shape_3 {
      background: url('/assets/banner/shape-3.svg') no-repeat;
      width: 147px;
      height: 84px;
      right: 47px;
      margin-top: -28px;
    }
    &.shape_4 {
      background: url('/assets/banner/shape-4.svg') no-repeat;
      width: 168px;
      height: 152px;
      right: 0;
    }
  }

  .leftShape_1 {
    @extend %shapePos;
    background: url('/assets/banner/pop-cloud.svg') no-repeat;
    width: 232px;
    height: 192px;
    transform: translateY(-30px);
    left: 0;
  }

  .leftShape_2 {
    @extend %shapePos;
    background: url('/assets/banner/support.svg') no-repeat;
    width: 269px;
    height: 244px;
    left: 0;
  }

  .cont {
    position: absolute;
  }
}
