@import '~scss/variables';
@import '~scss/mixins';

$banner-height: 152px + $header-height;

%shapePos {
  position: absolute;
  top: $header-height;
}

.banner {
  position: relative;
  top: -$header-height;
  background-color: $dark-color08;
  height: $banner-height;
  z-index: 10;

  .inner {
    position: relative;
    height: $banner-height;
    margin: 0 auto;
    @media (max-width: 768px) {
      width: 1024px;
    }
    @media (min-width: $apps-content-width) {
      width: $apps-content-width;
      .leftShape_1,
      .leftShape_2 {
        left: -50px;
      }
    }

    @media (min-width: $apps-content-width + 140px) {
      .leftShape_1,
      .leftShape_2 {
        left: -50px;
      }
    }
  }

  .innerContent {
    padding: 0 24px;
  }

  .shape {
    @extend %shapePos;
    opacity: 0.05;
    transition: all 0.5s ease-in-out;
    z-index: -1;

    &.shape_1 {
      background: url('/assets/banner/shape-1.svg') no-repeat;
      width: 245px;
      height: 189px;
      right: 352px;
    }
    &.shape_2 {
      background: url('/assets/banner/shape-2.svg') no-repeat;
      width: 245px;
      height: 189px;
      left: 0;
    }
    &.shape_3 {
      background: url('/assets/banner/shape-3.svg') no-repeat;
      width: 147px;
      height: 84px;
      right: 47px;
      margin-top: -28px;
    }
    &.shape_4 {
      background: url('/assets/banner/shape-4.svg') no-repeat;
      width: 168px;
      height: 152px;
      right: 0;
    }
  }

  .leftShape_1 {
    @extend %shapePos;
    background: url('/assets/banner/pop-cloud.svg') no-repeat;
    width: 232px;
    height: 192px;
    transform: translateY(-30px);
    left: 0;
  }

  .leftShape_2 {
    @extend %shapePos;
    background: url('/assets/banner/support.svg') no-repeat;
    width: 269px;
    height: 244px;
    left: 0;
  }

  .appOutline {
    overflow: hidden;
    padding-top: 98px;
    color: $white;

    .back {
      margin-bottom: 12px;

      :global .custom-icon {
        display: inline-block;
        height: 20px;
        color: #fff;

        &:hover {
          color: $primary;

          svg {
            color: #00aa72;
            fill: #90e0c5;
          }
        }

        span {
          display: inline-block;
          vertical-align: middle;
        }

        svg {
          display: inline-block;
          vertical-align: middle;
          width: 20px;
          height: 20px;
          margin-right: 8px;
          color: #fff;
          fill: #B6C2CD;
        }
      }
    }

    .intro {
      display: flex;
      align-items: center;
      .icon {
        position: relative;
        float: left;
        width: 48px;
        height: 48px;
        line-height: 48px;
        margin-right: 20px;
        color: $text-color;
        background-color: $bg-color;
        border-radius: $border-radius;
      }
      .text {
        float: left;
        width: calc(100% - 70px);
        color: #fff;

        > div {
          font-size: 24px;
          line-height: 32px;
          font-weight: 600;
          text-shadow: 0 2px 4px rgba(36, 46, 66, 0.1);
          color: #ffffff;
        }
        > p {
          font-size: $size-small;
          line-height: 20px;
          @include ellipsis;
          margin-top: 8px;
        }
      }
    }
  }
}
