@import '~scss/variables';

.wrapper {
  & > div:last-child {
    display: block !important;
  }
}

.desc {
  float: left;
  margin-top: 6px;
  margin-right: 10px;

  a {
    margin: 0 5px;
    color: $green-color03;
  }
}
.extraBtn {
  margin-left: 8px;
}

.formError {
  border: solid 1px #ca2621 !important;
}
.nameTip {
  margin-bottom: 8px;
}
