@import '~scss/variables';

.wrapper {
  & > div:last-child {
    display: block !important;
  }
}

.desc {
  float: left;
  margin: auto;
  max-width: 500px;
  text-align: left;

  a {
    margin: 0 5px;
    color: $green-color03;
  }
}
.extraBtn {
  margin-left: 8px;
}

.formError {
  border: solid 1px $red-color03 !important;
}
.nameTip {
  margin-bottom: 8px;
}

.typeBox {
  :global {
    .select {
      width: 130px;
    }
  }
}

.textContent {
  width: 100px;
  height: 100px;
  background: $white;
  box-shadow: 0px 8px 16px rgba(36, 46, 66, 0.28);
  border-radius: 4px;
}
