@import '~scss/variables';

.pipelineSuccessNumber {
  font-size: 20px;
  font-weight: bold;
  color: $green;
  margin-right: 8px;
  vertical-align: unset !important;
}

.sourcePipelineStatus {
  font-size: 10px;
}
