@import '~scss/variables';
@import '~scss/mixins';

.confirmButton {
  float: right;
  margin-top: 12px;
}

.card {
  padding: 12px;
  border-radius: 4px;
  background-color: #ffffff;
  border: solid 1px $light-color03;
  @include clearfix;
}

.error {
  margin: 12px 0px;
  color: $red-color03;
}

.clickable {
  color: $green;
  cursor: pointer;
  margin-left: 15px;
}
