@import '~scss/variables';

.createInfo {
  .title {
    font-weight: bold;
    color: $title-color;
    margin-bottom: 12px;
  }

  .error {
    margin-bottom: 12px;
    padding: 12px;
    line-height: 20px;
    background-color: $red-color01;
    color: $red-color05;
  }

  .appIcon {
    text-align: center;
    cursor: pointer;

    .iconShow {
      position: relative;
      line-height: 100px;
      margin-right: 40px;
      align-content: center;
      justify-content: center;
      width: 100px;
      height: 100px;
      background-color: $bg-color;
    }

    .uploadIcon {
      display: inline-block;
      margin: 12px 0 8px;
      width: 100px;
      color: $blue;
      cursor: pointer;
    }

    .reload {
      margin: 12px 0;
      width: 100px;
    }

    .note {
      width: 100px;
      line-height: 20px;
      color: $second-text-color;
      text-align: center;
    }
  }

  .appContent {
    display: flex;
    dl {
      margin-bottom: 8px;
    }
    dt {
      font-weight: bold;
      color: $title-color;
    }
    dl {
      color: $second-text-color;
    }
  }
}

