@import '~scss/variables';
@import '~scss/mixins';

.wrapper {
  padding: 12px;
  border-radius: $border-radius;
  background-color: $card-bg-color;
}

.item {
  display: flex;
  padding: 12px;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  background-color: $white;

  & + .item {
    margin-top: 8px;
  }

  & > div {
    margin-right: 20px;
    min-width: 20%;

    &:first-of-type {
      flex: 1;
    }
  }
}

.empty {
  @include TypographyTitleH5($dark-color01);
}
