@import '~scss/variables';
@import '~scss/mixins';

.item {
  display: flex;
  justify-content: space-between;

  padding: 12px;
  background-color:$white;
  margin-bottom: 5px;
}

.rowTitle {
  @include TypographyTitleH6($dark-color07);
  line-height: 20px;

  padding: 12px;

  display: flex;
  justify-content: space-between;
}

.operations {
  svg {
    cursor: pointer;
    margin-left: 5px;
  }
}