@import '~scss/variables';
@import '~scss/mixins';

.wrapper {
  position: relative;
  border-radius: 4px;
  margin-top: 12px;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(36, 46, 66, 0.06);
  transition: all $trans-speed ease-in-out;

  &:hover {
    box-shadow: 0 6px 16px 0 rgba(33, 43, 54, 0.2);
  }

  .icon {
    position: relative;
    width: 40px;
    height: 40px;

    .indicator {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}

:global {
  .kubeConfig_expired {
    padding: 0 2px;
    height: 14px;
    min-width: 14px;
    margin-right: 4px;
    line-height: 1.4;
    text-align: center;
    display: inline-block;
    background: #f5a623;
    box-shadow: 0px 4px 8px rgba(36, 46, 66, 0.06);
    border-radius: 3px;
    color: #fff;
  }
}

.group {
  margin-left: 12px;
}

.options {
  display: flex;
  align-items: center;
}
