.select {
  padding: 8px;
  line-height: 15px;
  cursor: pointer;
  display: grid;
  grid-template-columns: 16px auto 16px;
  grid-column-gap: 6px
}

.duration {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.durationDropdown {
  border-radius: 4px;
  background: #fff;
  position: absolute;
  width: 700px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: #000;
  padding: 20px;
  height: 260px;
}