@import '~scss/variables';

$tipHeight: 32px;

.container {
  height: 100%;
  position: relative;
}

.hiddenBtn {
  width: 100%;
  height: $tipHeight;
  line-height: $tipHeight;
  position: absolute;
  bottom: 0;
  border-radius: 4px;
  background-color: $bg-color;
  color: #329dce;
  padding-left: 12px;
  padding-right: 12px;
  cursor: pointer;
}

.wrapper {
  position: relative;
}

.helpDoc {
  width: 320px;
  margin-left: 12px;
  border-radius: 4px;
  background-color: $lightest;
}

.doc {
  height: 100%;
  overflow-y: auto;
  padding-bottom: $tipHeight;
}

.openHelpButton {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 32px;
  height: 32px;
  border-radius: 4px;
  background-color: $bg-color;
  text-align: center;
  line-height: 32px;
  cursor: pointer;
}
