@import '~scss/variables';

.snapshot {
  background: $white;
  padding: 12px;
  display: flex;
  cursor: pointer;

  & + .snapshot {
    margin-top: 10px;
  }

  &.selected {
    background: $dark-color07;
    color: $white;
  }

  & > div {
    padding: 0 20px;
    flex: 1;
  }

  h3 {
    font-weight: bold;
  }

  p {
    color: $dark-color01;
  }
}

.snapshotContainer {
  :global {
    .form-item-control {
      height: 190px;
    }
  }
}

.snapshots {
  padding: 10px;
  border-radius: 4px;
  background: $light-color01;
}
