@import '~scss/variables';
@import '~scss/mixins';

.tab {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 20px;

  &.active {
    .info {
      color: $white;
    }
  }

  .info {
    width: calc(100% - 60px);
    margin-left: 20px;
    color: $dark;

    .title {
      font-size: $size-small;
      font-weight: 600;
      line-height: 1.67;
    }

    p {
      height: 32px;
      line-height: 32px;
      font-size: 24px;
      font-weight: 600;
      @include ellipsis;

      span {
        font-size: $size-small;
      }
    }
  }
}
