@import '~scss/variables';

.item {
  position: relative;
  padding: 12px 24px;
  background-color: $card-bg-color;
  border-top: 1px solid $light-color04;

  &.hideBg {
    background-color: $white;
  }

  &.close {
    display: none;
  }

  &:last-child {
    border-radius: 0 0 $border-radius $border-radius;
  }

  .name {
    line-height: 20px;
    font-size: 12px;
    color: $head-color;
    font-weight: 500;
    cursor: pointer;

    :global .icon {
      margin-right: 8px;
      color: $head-color;
    }

    .closeIcon {
      float: right;
      margin-right: 0;
    }
  }

  .detail {
    margin-left: 28px;
    line-height: 20px;
    font-size: 12px;
    color: $second-text-color;
  }

  .more {
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }
}

