@import '~scss/variables';

.card {
  padding: 20px 24px;
  border-radius: $border-radius;
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(36, 46, 66, 0.06);
  transition: all $trans-speed ease-in-out;

  &:hover {
    box-shadow: 0 6px 16px 0 rgba(33, 43, 54, 0.2);
  }

  & + .card {
    margin-top: 8px;
  }

  :global {
    .column {
      display: flex;
      align-items: center;
    }

    .h6 {
      line-height: 1.71;
      font-family: $font-family-id;

      p {
        font-size: $size-small;
        font-weight: normal;
      }
    }
  }

  p {
    color: #79879c;
  }

  strong {
    color: #242e42;
  }
}
