@import '~scss/variables';
@import '~scss/mixins';

@mixin column {
  flex: none;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 12px;
}

.columns {
  display: flex;
  margin-left: -12px;
  margin-right: -12px;
  margin-top: -12px;

  .column {
    @include column;
  }

  :global(.is-2) {
    width: 20%;
    min-width: 20%;
    max-width: 20%;
    @include column;
  }
  :global(.is-half) {
    width: 50%;
    min-width: 50%;
    max-width: 50%;
    @include column;
  }
}

.columsEdit {
  flex-wrap: wrap;
  :global(.is-half) {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    @include column;
  }
}

.margin_b_10 {
  margin-bottom: 10px;
}

.disabled {
  opacity: 0.3;
  transition: opacity 1.5 linear;
  pointer-events: none;
}
