@import '~scss/variables';
@import '~scss/mixins';

.modal {
  min-width: $content-width;
  width: 100vw;
  height: 100vh;
  border-radius: 0;
  background-color: $light-color02;
}

.body {
  top: 0 !important;
  bottom: 0 !important;
  padding: 0;
  max-height: unset;
}

.wrapper {
  width: 940px;
  margin: 0 auto;
}

.steps {
  @include vertical-center;
  z-index: 0;

  & > div:first-child {
    display: inline-block;
    width: calc(50vw - 494px);
    min-width: 250px;
  }
}

.header {
  position: relative;
  display: flex;
  height: 68px;
  align-items: center;
  justify-content: space-between;
  padding-left: 24px;
  padding-right: 20px;

  .headerBottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1.5px;
    border-style: solid;
    border-width: 1px 0 0 0;
    border-image-source: radial-gradient(
      circle at 50% 3%,
      rgba(193, 201, 209, 0.53),
      rgba(255, 255, 255, 0.2)
    );
    border-image-slice: 1;
  }
}

.title {
  @include TypographySymbolText($dark-color07);
  z-index: 1;

  span {
    display: inline-block;
    vertical-align: middle;

    &:first-child {
      margin-right: 12px;
    }
    &:nth-child(2) {
      width: 1px;
      height: 20px;
      margin-right: 12px;
      border-right: solid 1px $light-color04;
    }
    &:nth-child(3) {
      margin-right: 8px;
    }
  }
}

.content {
  height: calc(100vh - 80px);
  padding-top: 12px;
  padding-bottom: 68px;
  overflow: auto;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  height: 56px;
  align-items: center;
  box-shadow: 0 -1px 0 0 $light-color04;
  background-color: #ffffff;
  z-index: 10;
}
