@import '~scss/variables';
@import '~scss/mixins';

.header {
  display: flex;
  margin-bottom: 12px;

  .space {
    flex: 1;
  }
}

.description {
  display: inline-block;
  margin-left: 40px;
  vertical-align: top;
  h3 {
    @include TypographyTitleH3();
    small {
      margin-left: .5em;
      @include TypographyTitleH6(); 
    }
  }
  p {
    color: $dark-color01;
  }
}

.card {
  display: inline-block;
  width: 86px; 
  height: 56px;
}

.cluster {
  position: relative;
  width: 326px;
  padding: 8px;
  border-radius: 2px;
  background-color: $dark-color07;
}