@import '~scss/variables';
@import '~scss/mixins';

.wrapper {
  position: relative;
  padding: 20px;

  :global {
    .h5 {
      margin-bottom: 12px;
      line-height: 1.5;
    }
  }
}

.empty {
  padding: 80px 0;
  text-align: center;
  border-radius: 4px;
  border: solid 1px $light-color03;
  background-color: #ffffff;

  p {
    color: $second-text-color;
    margin-bottom: 8px;
  }
}

.item {
  position: relative;
  padding: 20px 100px 20px 20px;
  border-radius: 4px;
  background-color: #ffffff;
  border: 1px solid $light-color03;

  transition: all $trans-speed ease-in-out;

  & + .item {
    margin-top: 8px;
  }

  &:hover {
    box-shadow: 0 8px 16px 0 rgba(36, 46, 66, 0.08);
    border-color: #ccd3db;

    .operations {
      display: block;
    }
  }

  :global {
    .columns {
      margin-bottom: 0 !important;
    }

    .column {
      border-right: 1px dotted #d8dee5;
      &:last-of-type,
      &:first-of-type {
        border-right: none;
      }
    }
  }
}

.block {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  padding-left: 20px;

  :global {
    .h6 {
      font-family: $font-family-id;
      line-height: 1.43;
      margin-bottom: 0;
      text-shadow: none;
    }
  }

  p {
    color: #242e42;
  }
}

.operations {
  display: none;
  position: absolute;
  right: 12px;
  @include vertical-center;

  button + button {
    margin-left: 0 !important;
  }
}

.tip {
  p {
    color: #fff;
  }
}

.more {
  transform: rotate(90deg);
  margin-left: 6px;
  margin-bottom: 3px;
  align-self: flex-end;
}

.error {
  color: $red !important;
}
