@import '~scss/variables';

.title {
  height: 32px;
  margin-bottom: 20px;
  padding-right: 20px;
  display: flex;

  h2 {
    font-size: 24px;
    font-weight: $font-bold;
    flex: 8 1 auto;
  }

  .clusterSelect {
    flex: 1 1;
    margin-right: 10px;
  }
}
