@import '~scss/variables';
@import '~scss/mixins';

.header {
  margin-bottom: 12px;
  border-radius: $border-radius;
  box-shadow: $head-shadow;

  .banner {
    border-radius: 0;
    margin-bottom: 0;
    box-shadow: none;
  }

  .nav {
    padding: 8px 12px;
    background-color: $bg-color;
  }
}

.status {
  i {
    position: relative;
    top: 2px;
  }
}