@import '~scss/variables';

.chartContainer {
  height: 294px;
  margin-bottom: 12px;
  border: 1px solid $light-color04;

  :global {
    .spin-nested-loading {
      width: 100%;
      height: 100%;
    }

    .spin-container {
      width: 100%;
      height: 100%;
    }
  }
}
