@import '~scss/variables';

.group {
  margin: -6px;

  :global {
    button {
      margin: 6px !important;
    }
  }
}

.more {
  width: 96px;
  padding: 5px 0 !important;

  :global(.icon) {
    margin: -2px -5px 0 0;
  }
}
