@import '~scss/variables';

.body {
  .Item {
    display: flex;
    width: 560px;
    min-height: 64px;
    border: 1px solid $light-color06;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 12px;

    &:nth-of-type(2) {
      margin: 12px 0;
    }

    .icon {
      margin-right: 8px;

      label {
        min-width: 32px;
        height: 16px;
        border-radius: 8px;
      }

      :global {
        .toggle:after {
          left: 2px;
        }

        .toggle.checked:after {
          left: 100%;
          transform: translateX(calc(-100% - 2px)) translateY(-50%);
        }
      }
    }

    .textBox {
      span {
        display: block;
      }

      .title {
        font-weight: 600;
        font-size: 12px;
        color: $dark-color07;
        line-height: 20px;
      }

      .des {
        font-size: 12px;
        line-height: 20px;
        color: $dark-color01;
      }
    }
  }
}
