@import '~scss/variables';

.wrapper {
  border-radius: 4px;
  background-color: $lightest;
}

.header {
  padding: 8px 12px;
  box-shadow: 0 1px 0 0 #d8dee5;
  text-align: right;
}

.content {
  padding: 12px;
}

.itemWrapper {
  padding: 10px 12px 20px 12px;
  border-radius: 4px;
  background-color: $white;
  border: solid 1px $light-color03;

  & + .itemWrapper {
    margin-top: 8px;
  }
}

.itemTitle {
  position: relative;
  margin-bottom: 10px;
}

.delete {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
