@import '~scss/variables';

.wrapper {
  height: 100%;
  padding: 8px;
  overflow: auto;

  .preview {
    border: solid 1px $light-color06;
    border-radius: 3px;
    margin-bottom: 15px;
  }

  .form {
    display: flex;

    @at-root {
      .sidebar {
        width: 340px;
        margin-right: 10px;
      }
      
      .resource {
        flex: 1;
      }
    }
  }
  
}