@import '~scss/variables';
@import '~scss/mixins';

.info {
  margin-bottom: 12px;
  padding: 8px 12px 8px 12px;
  border: 1px solid $light-color03;
  box-sizing: border-box;
  border-radius: 4px;
  background: #fff;

  & > div {
    margin-bottom: 12px;
    @include TypographyTitleH6();
  }

  & > dl {
    display: table-row;
    & > dt,
    & > dd {
      display: table-cell;
      word-break: break-word;
    }

    & > dt {
      text-align: right;

      &::after {
        content: ':';
      }
    }

    & > dd {
      padding-left: 8px;
    }
  }
}
