@import '~scss/variables';
@import '~scss/mixins';

.wrapper {
  background: #fff; 
  padding: 12px;
  margin-bottom: 5px;
  
  h3 {
    @include TypographySymbolText();
    line-height: 20px;
 
    display: flex;
    justify-content: space-between;

    cursor: pointer;
  }

  .legendsContainer {
    margin-top: 5px;
  }

  .legends {
    line-height: 25px;

    & > p {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;      
      small {
        display:inline-block;
        width: 10px;
        height: 10px;
        margin-right: 8px;
        vertical-align: middle;
      }
    }
  }
  
  .subMetrics {
    color: $dark-color01;
    & > div {
      display: flex;
      justify-content: space-between;
    }
  }
}