@import '~scss/variables';

.inputs {
  display: flex;
  align-items: center;
  padding: 6px 20px;
  border-radius: 60px;
  border: solid 1px $border-color;
  background-color: $bg-color;

  .type {
    flex: 0 0 200px;
  }

  .type,
  .configs {
    :global {
      .input,
      .select-control {
        box-shadow: none;
        border: 1px solid $border-color !important;
        &:focus,
        &:hover {
          border: 1px solid $border-color !important;
        }
      }
    }
  }
}

.configs {
  display: flex;
  align-items: center;
  width: 100%;

  .errorItem {
    :global {
      .input,
      .select-control {
        box-shadow: 0 4px 8px 0 rgba(202, 38, 33, 0.2);
        border: solid 2px $input-error-color !important;
        &:focus,
        &:hover {
          border: solid 2px $input-error-color !important;
        }
      }
    }
  }

  & > div,
  & > input {
    margin-left: 12px;
  }

  .monitor_periods {
    flex: 0 0 150px;
  }

  .consecutive_count {
    flex: 0 0 130px;
  }

  .thresholds {
    flex: 0 0 110px;
  }

  .severity {
    flex: 0 0 170px;
  }
}

.optionLabel {
  display: flex;
  align-items: center;

  :global .icon {
    margin-right: 8px;
  }
}

.slider {
  align-items: center;
  width: 100%;

  :global {
    .slider {
      margin-top: 2px;
    }
  }
}
