@import '~scss/variables';
@import '~scss/mixins';

.wrapper {
  padding: 12px;
  border-radius: $border-radius;
  background-color: $light-color01;
}

.title {
  margin-bottom: 8px;
  @include TypographySymbolText;
}

.content {
  border-radius: 3px;
  border: solid 1px $border-color;
  background-color: $bg-color;
  overflow: hidden;
}

.search {
  padding: 8px;
  background-color: $white;
}

.list {
  padding: 8px;
  max-height: calc(100vh - 388px);
  min-height: 352px;
  overflow: scroll;
}

.authedList {
  padding: 8px;
  max-height: calc(100vh - 340px);
  min-height: 400px;
  overflow: scroll;
}

.footer {
  height: 32px;
  padding: 6px 8px;
  background-color: $white;
  border-top: 1px solid $border-color;
  box-sizing: border-box;

  & > span {
    margin-left: 4px;
  }
}