@import '~scss/variables';
@import '~scss/mixins';

.cluster {
  position: relative;
  width: 326px;
  padding: 8px;
  border-radius: 2px;
  background-color: $dark-color07;
  margin-right: 20px;
}

.content {
  margin-top: 12px;
}

.actions {
  position: absolute;
  top: 12px;
  right: 12px;
}

.disabledTip {
  position: absolute;
  top: 12px;
  right: 12px;
  padding: 18px;
  background-color: $card-bg-color;
  @include TypographyTitleH5($dark-color01);
}
