@import '~scss/variables';

.card {
  position: relative;
  display: flex;
  min-width: 230px;
  padding: 10px 18px;
  background-color: $lightest;
  border-radius: $border-radius;
  overflow: hidden;

  &.cursor {
    cursor: pointer;

    div {
      cursor: pointer;
    }
  }

  &Img {
    position: absolute;
    top: 0;
    right: -80px;
    width: 150px;
  }

  &.dark {
    background-color: $dark;
    color: $white;
  }
}

.status {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 15px;

  .title {
    font-size: $size-medium;
    font-weight: 600;
    line-height: 1.43;
    margin-bottom: 5px;
  }

  .detail {
    line-height: 1.67;
  }
}

.scale {
  position: absolute;
  top: 0;
  right: 28px;
  height: 100%;
}

.control {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;

  :global {
    .icon.icon-clickable:hover {
      background-color: transparent;
      user-select: none;
    }
  }
}

.chart {
  width: 40%;
  height: 100px;
}
