@import '~scss/variables';
@import '~scss/mixins';

.wrapper {
  position: relative;
  .image {
    width: 40px;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    border: 0 none;
    border-radius: $border-radius;
  }

  .title {
    padding-left: 52px;
  }

  p {
    max-width: 280px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.image {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: solid 2px $white;
  @include vertical-center;
}

.icon {
  @include vertical-center;
}

.title {
  padding-left: 37px;

  .desc {
    @include ellipsis;
    max-width: 300px;
    color: $second-text-color;
    line-height: 1.67;
    font-weight: normal;
  }

  strong {
    color: $text-color;
    font-family: $font-family-id;
  }

  .canClick {
    cursor: pointer;
  }
}

.isIcon {
  padding-left: 28px;
}

.avatarIcon {
  width: 20px;
  height: 20px;
  border-radius: 0;
  border: none;
}

.letter {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $bg-color;
  border-radius: $border-radius;
  font-weight: bold;
}
