
.container {
  position: relative;
  .select {
    display: inline-block;
    position: absolute;
    left: 5px;
    top: 4px;
    width: 102px;
    z-index: 1;
    :global(.select-control) {
      height: 24px;
      border: none;
      background: #242e42;
    }
    :global(.select-input) {
      height: 24px;
    }
    :global(.select-value) {
      color: white !important;
    }
    :global(.select-icon) {
      svg {
        color: white;
      }
    }
  }

  :global(.input) {
    text-indent: 100px;
  }
}


