@import '~scss/variables';
@import '~scss/mixins';

.wrapper {
  margin-right: 4px;
  max-width: 150px;
  border-radius: 2px;
  background-color: $dark-color07;
  cursor: pointer;
  transition: all $trans-speed ease-in-out;
  color: white;
  z-index: 1;

  &:hover,
  &:focus {
    border-color: $input-hover-color;
  }

  &.disabled {
    border-color: $border-color !important;
    cursor: default;
    .control {
      padding: 0px 6px;
    }
  }
}

.options {
  padding: 4px 0px;
  width: 240px;
  max-height: 104px;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(36, 46, 66, 0.2);
  background-color: $dark-color07;
  z-index: 2;
  overflow-y: scroll;
}

.control {
  display: flex;
  justify-items: flex-start;
  position: relative;
  padding: 0px 26px 0px 6px;
  height: 22px;
  font-family: $font-family;
  font-size: 12px;
  font-weight: 600;
  line-height: 22px;
  user-select: none;
  color: white;

  .label {
    max-width: 125px;
    min-width: 64px;
    @include ellipsis;
  }

  .rightIcon {
    position: absolute;
    right: 6px;
    transition: transform 0.5s ease;
    transform-origin: center;
  
    svg {
      color: white;
    }
  }

  .rightIcon_toggle {
    transform: rotate(180deg)
  }

  &.selected {
    background-color: $dark-color06;
  }
}

.option {
  padding: 6px 12px;
  height: 32px;
  user-select: none;
  line-height: 20px;
  @include ellipsis;

  &.selected {
    background-color: $dark-color06;
  }
}

.option {
  &:hover {
    background-color: $dark-color06;
  }
}
