@import '~scss/variables';
@import '~scss/mixins';

.wrapper {
  margin-top: 12px;
  padding: 32px;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(36, 46, 66, 0.06);
  background-color: #ffffff;
  text-align: center;
}

.image {
  display: inline-block;
  width: 60px;
  height: 60px;
  padding: 6px;
  border-radius: 100px 0 100px 100px;
  background-color: $bg-color;

  img {
    width: 48px;
    height: 48px;
  }
}

.title {
  margin-top: 20px;
  @include TypographyTitleH5($dark-color07);
}

.desc {
  margin-top: 4px;
  @include TypographyParagraph($dark-color01);
}

.actions {
  text-align: center;
  margin-top: 20px;
}
