@import '~scss/variables';

.wrapper {
  position: relative;
}

.alert {
  margin-bottom: 8px;
}

.node {
  position: absolute;
  bottom: 0;
  left: 0;
}

.popper {
  border: 1px solid $light-color04;
  margin-left: 12px !important;

  :global {
    .popper-content {
      padding: 0;
    }

    .popper-arrow {
      border-bottom-color: $light-color04 !important;
      border-left-color: $light-color04 !important;
    }
  }
}
