@import '~scss/variables';
@import '~scss/mixins';

.titleWrapper {
  position: relative;
  margin-bottom: 20px;
  padding: 12px;
  border-radius: $border-radius;
  background-color: #242e42;
  box-shadow: 0 8px 16px 0 rgba(36, 46, 66, 0.2);

  .icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 12px;
  }

  .text {
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 60px);

    :global .h6 {
      font-family: $font-family-id;
      line-height: 1.43;
      color: #ffffff;
      @include ellipsis;
    }

    p {
      color: #d8dee5;
      @include ellipsis;
    }
  }
}
