@import '~scss/variables';

.wrapper {
  padding: 12px;
  height: 100%;
  display: flex;
  flex-direction: column;

  .form {
    flex: 1;
    padding-bottom: 12px;
    overflow: auto;
  }

  .formFooter {
    height: 32px;
    border-radius: 3px;
    background: $dark-color07;
    text-align: right;
    line-height: 32px;
    padding: 0 12px;

    button {
      border-radius: 0;

      &:hover {
        background-color: $dark-color08;
        border-color: $dark-color08;
      }
    }
  }
}