@import '~scss/variables';

.body {
  background-color: $white;
  padding-top: 10px;
}

.content {
  width: 740px;
  margin: 20px auto 12px;

  .helmIcon {
    margin-bottom: 16px;
    text-align: center;
  }

  .upload {
    margin-bottom: 12px;

    &.canCreate {
      border: 1px solid $border-hover-color;
      box-shadow: $head-shadow;
    }
  }

  .checkFiles {
    position: relative;
    background-color: $card-bg-color;
    padding: 12px;

    ul {
      background-color: $white;
    }

    li {
      display: flex;
      padding: 6px 12px;
      line-height: 20px;
      font-size: 12px;

      &.none {
        opacity: 0.5;
      }

      &.error {
        .name,
        .description {
          color: $red;
        }
      }
    }

    .name {
      min-width: 160px;
      color: $second-text-color;
    }

    .description {
      color: $text-color;
    }

    .configMask {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 2;
      background-image: linear-gradient(180deg,rgba(249,250,251,.75), $white);
    }
  }

  .note {
    margin: 8px 0 12px;
    line-height: 20px;
    font-size: 12px;
    color: $text-color;
    text-align: right;

    a {
      color: $blue;
    }
  }
}

.appInfo {
  .title {
    font-weight: bold;
    color: $title-color;
    margin-bottom: 20px;
  }

  .appContent {
    display: flex;
    dl {
      margin-bottom: 8px;
    }
    dt {
      font-weight: bold;
      color: $title-color;
    }
    dl {
      color: $second-text-color;
    }
  }

  .appIcon {
    text-align: center;
    color: $blue;
    cursor: pointer;

    .iconShow {
      line-height: 100px;
      margin-right: 40px;
      align-content: center;
      justify-content: center;
      width: 90px;
      height: 90px;
      background-color: $bg-color;
    }

    .reload {
      margin: 12px 0;
      width: 100px;
    }
  }
}

