@import '~scss/variables';

.main {
  border-radius: 4px;
  background-color: $card-bg-color;
}

.info {
  display: flex;
  align-items: center;
  padding: 12px;

  .icon {
    margin: 0 12px 0 8px;
  }

  .desc {
    line-height: 20px;

    strong {
      display: inline-block;
      font-size: $size-normal;
    }

    p {
      color: $second-title-color;
    }
  }
}

.table {
  padding: 4px 8px;

  table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;

    th,
    td {
      padding: 8px 20px;
      line-height: 20px;
      border-top: 4px solid $card-bg-color;
      border-bottom: 4px solid $card-bg-color;
    }

    td {
      background-color: $white;
    }
  }
}
