@import '~scss/variables';

.label {
  font-size: 12px;
  line-height: 20px;
  margin-top: 12px;
  margin-bottom: 8px;
  color: $dark-color07;
}

.contentGroup {
  padding: 12px;
  border: 1px solid $light-color06;
  border-radius: 4px;
  background: $white;

  .message {
    :global {
      input {
        max-width: 100%;
      }

      textarea {
        max-width: 100%;
        min-height: 112px;
      }
    }
  }
}

.duration {
  width: 298px !important;
}

@mixin warningText {
  padding: 0px 4px;
  border-radius: 2px;
  font-size: 12px;
  line-height: 20px;
}

.critical {
  @include warningText;
  color: $white;
  background-color: $red-color03;
}

.error {
  @include warningText;
  color: $white;
  background-color: $yellow-color03;
}

.warning {
  @include warningText;
  color: $dark-color06;
  background-color: $light-color04;
}

.CustomExpr {
  code {
    max-width: calc(100% - 136px);
  }
}
