@import "~scss/variables";

.preview {

  .tabs {
    width: 244px;
    height: 28px;
    border-radius: 13.5px;
    margin-bottom: 34px;
    border: 1px solid #c1c9d1;

    > li {
      width: 121px;
      height: 26px;
      color: #36435c;
      background: #fff;
      font-size: $size-small;
      line-height: 20px;
      border-radius: 13.5px;
      text-align: center;
      padding: 3px 0;

      &.active {
        color: #fff;
        background: #242e42;
      }
    }
  }

  .appBlock {
    max-width: 1055px;
    border-radius: 8px;
    //box-shadow: 0 4px 8px 0 rgba(36, 46, 66, 0.06);
    background-color: #ffffff;
    //padding: 20px;
    margin-bottom: 12px;

    & > p + p {
      margin-top: 12px;
    }

    .selectVersion {
      color: $primary;
    }
  }

  .markdown {
    min-height: 500px;
  }
}
