.titleRow {
  display: flex;
  align-items: center;
  gap: 12px;
  .title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .tag {
    flex: none;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    color: #ffffff;

    display: inline-flex;
    align-items: center;
    padding: 0px 4px;
    gap: 4px;

    height: 20px;
    background: #242e42;
    border-radius: 2px;
  }
}
