.wrapper {
  background: #242e42; 
  color: #79879c;
  border-radius: 4px;
  height: 612px;
  display: grid;
  grid-template-rows: 48px 1fr;
  grid-template-columns: 100%;
}

.logList {
  padding: 20px;
  line-height: 2;
  overflow: auto;
  @at-root {
    .time {
      color: #4a5974;
    }
    .log {
      color:#b7c4d1
    }
  }
}

.toolbar {
  border-bottom: solid 1px #182236;
  padding: 8px 20px;
  display: grid;
  grid-template-columns: 250px 440px;
  justify-content: space-between; 
}

.searchBar {
  border-radius: 4px;
  background-color: #2a354b;
  line-height: 32px;
  display: grid;
  grid-template-columns: 42px 1fr;

  @at-root {
    .icon {
      place-self: center;
    }
    .input {
      background: transparent;
      outline: none;
      border: none;
      color: #fff;
    }
  }
}

.record {
  line-height: 2em;
  font-weight: bold;
}

.frequencyOpts {
  border-radius: 3px;
  background-color: #2a354b;
  width: 200px;
  :global {
    .select-control {
      background-color: #242e42;
      color: inherit;
      font-weight: 400;
      border: none;
      background-color: transparent !important;
      &:hover {
        background-color: transparent;
      }
    }
    .option-selected-area {
      display: none;
    }
    .select-value-label,
    .select-value{
      color: #fff !important;
    }
    .select-menu{
      padding: 0;
    }
  }
}

.hightLight {
  background-color: #ffc781;
  color: #242e43;
  border-radius: 2px;
}

.pollingBtn {
  display: inline-block;
  line-height: 32px;
  width: 34px;
  text-align: center;
  margin-left: 6px;
  border-radius: 4px;
  background: #2a354b
}