@import '~scss/variables';
@import '~scss/mixins';

.modalBody {
  padding: 0 !important;
  max-height: none;
  overflow-y: hidden;
}

.body {
  padding: 40px 40px 20px 40px;
}

.title {
  text-align: center;
  margin-bottom: 32px;

  :global {
    .h4 {
      line-height: 1.4;
      text-shadow: 0 4px 8px rgba(36, 46, 66, 0.1);
    }
  }

  p {
    margin-top: 12px;
    color: #5f708a;
  }
}

.content {
  padding: 12px;
  border-radius: 4px;
  background-color: $lightest;
}

.results {
  height: calc(100vh - 400px);
  margin-top: 12px;
  padding: 12px;
  border-radius: 4px;
  background-color: #ffffff;
  border: solid 1px $light-color03;
}

.footer {
  padding: 12px 20px;
  border-radius: 0 0 $border-radius $border-radius;
  background-color: $bg-color;
  text-align: right;
}

.item {
  position: relative;
  padding: 8px 20px;
  border-radius: 2px;
  background-color: $lightest;

  & + .item {
    margin-top: 8px;
  }

  & > button {
    right: 10px;
    @include vertical-center;
  }

  p {
    color: $second-text-color;
  }

  strong {
    color: $text-color;
  }
}

.menu {
  max-height: 360px;
  overflow: auto;
  & > p {
    padding: 12px 20px 0 20px;
    font-weight: 600;
  }
}


.avatar {
  &:hover {
    :global(.ks-avatar-desc) {
      white-space: normal;
    }
  }
}