@import '~scss/variables';

.header {
  position: relative;
  margin-bottom: 12px;
}

.action {
  position: absolute;
  right: 12px;
  top: 6px;

  :global {
    .spin {
      margin-top: 0 !important;
    }
  }
}

.contentWrapper {
  position: relative;
  padding: 12px;
  margin-bottom: 12px;
  background-color: $light-color01;
  border-radius: 4px;

  .isHorizon {
    display: flex;

    :global {
      .form-item-label {
        margin-bottom: 0;
        margin-left: 8px;
        order: 1;
      }
    }
  }
}

.item {
  padding: 12px;
  border: solid 1px $light-color06;
  border-radius: 4px;
  background-color: white;
}

.annotation {
  padding-left: 12px;
  color: $dark-color06;

  :global {
    .icon {
      margin-right: 6px;
    }
  }
  .desc {
    display: inline-flex;
  }
}

.footer {
  padding-top: 12px;
  text-align: right;
}
