@import '~scss/variables';
@import '~scss/mixins';

.formWrapper {
  position: relative;
  background-color: #fff;
  height: calc(100% - 44px);
  overflow: hidden;
  overflow-y: auto;

  .form {
    padding: 20px 20px 60px;
  }

  .footer {
    border-radius: 0 0 4px 4px;
    background-color: $dark;
    text-align: right;
    padding: 8px 12px;

    :global {
      .button {
        padding: 6px 36px;
      }
    }
  }
}

.selectWrapper {
  display: flex;

  & > div + div {
    margin-left: 12px;
  }
}

.tip {
  float: right;
}
