@import '~scss/variables';

.body {
  background-color: $white;
}

.wrapper {
  padding: 0 95px;
}

.title {
  font-size: $size-medium;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 12px;
}

.subTitle {
  font-size: $size-normal;
  font-weight: 600;
  line-height: 1.43;
  margin-bottom: 12px;
}

.content {
  margin-top: 12px;
  max-height: calc(100vh - 320px);
  min-height: 400px;
  padding: 20px;
  border-radius: 4px;
  background-color: $card-bg-color;
  overflow-x: hidden;
  overflow-y: auto;
}

.node {
}
