@import '~scss/variables';
@import '~scss/mixins';

.templateList {
  display: flex;
  flex-wrap: wrap;
  margin: 10px -10px;

  & > li {
    width: 220px;
    height: 100px;
    margin-left: 12px;
    padding-top: 18px;
    flex-basis: 220px;

    figure {
      width: 40px;
      height: 40px;
      padding: 4px;

      img {
        height: 100%;
      }
    }

    h3 {
      margin-top: -8px;
    }

    p {
      margin-top: -2px;
      color: $dark-color01;
    }
  }
}

.templateLabel {
  h3 {
    font-weight: bold;
  }
  p {
    @include TypographyParagraph($dark-color01);
  }
}
