@import '~scss/variables';

.input {
  display: inline-flex;
  box-sizing: border-box;
  min-width: 32px;
  height: 2.2858em;
  padding: 6px;
  line-height: 1;
  border: none;
  background-color: transparent;
  & > input:hover + .border {
    border-color: rgb(121, 185, 160);
  }
  & > input:focus + .border {
    border-color: rgb(121, 185, 160);
    box-shadow: 0 1px 3px 0 rgba(121, 185, 160, 0.4);
  }

  input {
    position: relative;
    z-index: 1;
    width: 100%;
    border: none;
    outline: none;
    line-height: 20px;
    font-size: 12px;
    font-weight: 600;
    font-family: $font-family-id;
    color: #242e42;
    border-color: #abb4be;
    caret-color: #242e42;
    &::placeholder {
      font-weight: 400;
    }

    &:hover {
      border: none;
    }
    &:focus {
      border: none;
    }
    &:active {
      border: none;
    }
  }

  input.is-small ~ .icon.is-small {
    font-size: 12px;
  }
  input.is-default ~ .icon.is-small {
    font-size: 16px;
  }
  input.is-large ~ .icon.is-small {
    font-size: 20px;
  }

  // PlaceHolder Polyfill
  input {
    /* WebKit, Blink, Edge */
    &::-webkit-input-placeholder {
      padding-top: 1px;
      color: #939ea9;
    }
    /* Mozilla Firefox 4 to 18 */
    &:-moz-placeholder {
      color: #939ea9;
      opacity: 1;
    }
    /* Mozilla Firefox 19+ */
    &::-moz-placeholder {
      color: #939ea9;
      opacity: 1;
    }
    /* Internet Explorer 10-11 */
    &:-ms-input-placeholder {
      color: #939ea9;
    }
    /* Microsoft Edge */
    &::-ms-input-placeholder {
      color: #939ea9;
    }
    /* Most modern browsers support this now. */
    &::placeholder {
      color: #939ea9;
    }
  }
}

.border {
  position: absolute;
  left: 0px;
  margin-top: -6px;
  width: 100%;
  max-width: none !important;
  height: 100%;
  color: #4a5974;
  border: 1px solid #ccd3db;
  border-radius: 4px;
  background-color: transparent;
  box-shadow: none;
  vertical-align: top;
}
