@import '~scss/variables';
@import '~scss/mixins';

.wrapper {
  display: flex;
  padding: 6px 20px;
  border-radius: 60px;
  background-color: $bg-color;
  border: solid 1px $border-color;

  .title {
    min-width: 223px;
    padding: 6px 0;
    color: $text-color;
    font-weight: $font-bold;

    :global .icon {
      margin-right: 8px;
      vertical-align: middle;
    }
  }

  & + .wrapper {
    margin-top: 8px;
  }
}

.readOnly,
.mountPath {
  margin-right: 12px;
}

.readOnly,
.mountPath,
.logPath {
  position: relative;
  width: 100%;
}

.icon {
  position: absolute;
  right: 26px;
  top: 14px;
}

.popper {
  border: 1px solid $light-color04;
}

.subForm {
  padding: 12px;
  width: 480px;

  .formTitle {
    margin-bottom: 8px;

    & > div {
      @include TypographyTitleH6($dark-color07);
    }
  
    & > p {
      @include TypographyParagraph($dark-color01);
    }
  }

  .subPath {
    height: 44px;
    padding: 5px 16px;
    border-radius: 22px;
    background-color: $bg-color;
    border: 1px solid $border-color;
  }
}

.subPathText {
  right: 6px;
  padding: 0 8px;
  max-width: 72px;
  background-color: $light-color03;
  border-radius: 2px;
  color: $dark-color07;
  cursor: pointer;
  @include ellipsis;
  @include vertical-center;
}

.formFooter {
  margin: -12px;
  margin-top: 16px;
  padding: 6px 12px;
  border-radius: 0 0 $border-radius $border-radius;
  background-color: $bg-color;
  text-align: right;

  button + button {
    margin-left: 12px;
  }
}