@import '~scss/variables';

.main {
  padding: 12px;
  border-radius: 4px;
  background-color: $card-bg-color;

  & > .item + .item {
    margin-top: 8px;
  }
}

.item {
  padding: 8px;
  border: 1px solid $light-color03;
  border-radius: 4px;
  background-color: $white;

  .info {
    display: flex;
    align-items: center;
    padding: 8px;
    margin-bottom: 4px;
    background-color: $card-bg-color;

    .avatar {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      margin: 0 12px;
    }

    .desc {
      line-height: 20px;

      p {
        color: $second-text-color;

        span {
          margin-right: 20px;
        }
      }
    }
  }

  .record {
    display: flex;
    padding: 12px 20px;
    line-height: 20px;
    background-color: $card-bg-color;

    label {
      flex: 0 0 auto;
      font-weight: 600;
      margin-right: 10px;
    }
  }
}
