@import '~scss/variables';

.narrow {
  width: 337px;
}

.specify {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 337px;
  height: 232px;
  margin-top: 20px;
  border-radius: 4px;
  border: 1px solid $light-color03;
}

.containers {
  width: 560px;
}
