@import '~scss/variables';
@import '~scss/mixins';

.body {
  padding: 0;
  top: 0 !important;
  bottom: 0 !important;
  max-height: none;
  overflow: none;
}

.header {
  position: relative;
  padding: 20px;
  color: $title-color;
  min-height: 40px;
  border-radius: 8px 8px 0 0;
  background-color: $bg-color;

  .title {
    display: inline-block;
    line-height: 20px;
    vertical-align: middle;
    margin-left: 20px;

    .name {
      font-size: $size-normal;
      font-family: $font-family-id;
      font-weight: $font-bold;
      line-height: 1.43;
    }

    & > ul {
      height: 20px;
      font-size: 12px;
      font-weight: normal;

      & > li {
        display: inline-block;
        line-height: 20px;

        & > span {
          &:first-child {
            color: #79879c;
          }
          &:last-child {
            margin-left: 4px;
          }
        }

        & + li {
          margin-left: 20px;
        }
      }
    }
  }

  .close {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    cursor: pointer;
    padding: 6px;
    border-radius: 4px;
    background-color: #242e42;
  }

  & ~ .body {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
}

.content {
  padding: 12px;
}

.wrapper {
  position: relative;
  padding: 12px;
  height: calc(100vh - 144px);
  background-color: $lightest;
}

.timelineTitle {
  height: 60px;
  padding: 12px;
  border-radius: 4px 0 0 0;
  border-bottom: solid 1px $light-color03;
  background-color: $bg-color;
  font-family: $font-family-id;
  font-size: $size-normal;
  font-weight: $font-bold;
  line-height: 1.43;
}

.leftPane,
.rightPane {
  height: calc(100vh - 168px);
  border-radius: 4px 0 0 4px;
  border: solid 1px $light-color03;
  background-color: #fff;
}

.rightPane {
  border-radius: 0 4px 4px 0;
  border-left-width: 0;
}

.timelineSelect {
  height: 60px;
  background-color: #ffffff;
  border-radius: 0 4px 0 0;
  border-bottom: solid 1px $light-color03;
}

.listPane {
  position: absolute;
  top: 82px;
  left: 12px;
  right: 12px;
  bottom: 0;
  padding-bottom: 20px;
  overflow: auto;
}

.detailPane {
  position: absolute;
  bottom: 12px;
  left: 12px;
  right: 12px;
  height: 50%;
  padding: 8px;
  border-radius: 0 0 4px 4px;
  border: solid 1px $light-color03;
  background-color: #ffffff;
  z-index: 10;

  &::after {
    content: ' ';
    background-color: transparent;
    position: absolute;
    top: -4px;
    left: 0;
    width: 100%;
    height: 4px;
    cursor: ns-resize;
  }
}

.coords {
  width: 100%;
  height: calc(100% - 60px);

  & > line {
    pointer-events: none;
    stroke-width: 1px;
    stroke: $light-color03;

    &:first-child,
    &:last-child {
      display: none;
    }
  }
}
