@import '~scss/variables';

.wrapper {
  min-height: 284px;
  height: 100%;
  margin-top: 12px;
  padding: 12px;
  border-radius: 4px;
  border: 1px solid $border-color;
  background-color: $white;

  :global .tag:not(body) {
    height: 20px;
  }
}

.alert {
  :global {
    .alert-description {
      margin-top: 0 !important;
    }
  }
}
