@import '~scss/variables';

.wrapper {
  display: flex;
  justify-content: space-between;
  line-height: 32px;
  padding: 0 10px;

  .button,
  .item {
    background: $dark-color07;
    color: $white;
    border-radius: 2px;
    padding: 4px 10px;

    & + .item {
      margin-left: 5px;
    }
  }

  .button {
    cursor: pointer;
  }

  .colorCycle {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
  }
}
