@import '~scss/variables';
@import '~scss/mixins';

.preview {
  display: flex;
  position: relative;
  padding: 8px 12px;
  border-radius: $border-radius;
  background-color: $light-color03;

  .item {
    margin-right: 20px;
    @include TypographyParagraph;
  }

  .edit {
    position: absolute;
    @include vertical-center;
    right: 12px;
    color: $blue-color03;
  }
}
