@import '~scss/variables';

.wrapper {
  display: flex;

  :global {
    .ks-input-addons {
      flex: 1;
    }
    .ks-input-addons + .ks-input-addons {
      margin-left: 6px;
    }
  }

  .tip {
    line-height: 18px;
    & > span {
      display: inline-block;
      vertical-align: middle;
    }
  }
}
