@import '~scss/variables';
@import '~scss/mixins';

.wrapper {
  width: 700px;
}

.step {
  margin: 20px 0;
  & > div {
    @include TypographyTitleH4($dark-color08);
  }
  & > p {
    margin-top: 4px;
    @include TypographyParagraph($dark-color01);
  }
}

.title {
  margin-bottom: 12px;

  @include TypographySymbolText;
}

.components {
  padding: 12px;
  border-radius: 4px;
  background-color: $light-color01;
}