@import '~scss/variables';
@import '~scss/mixins';

.uploadInfo {
  margin-bottom: 8px;
  background-color: $card-bg-color;
  border: 0 none;
}

.updateInfo {
  padding: 12px;
  background-color: $card-bg-color;
  border-radius: $border-radius;
  line-height: 20px;

  .title {
    font-weight: bold;
    color: $title-color;
  }

  pre {
    margin-top: 8px;
    padding: 0;
    color: $text-color;
    background-color: $card-bg-color;
    word-break: break-all;
    word-wrap: break-word;
  }
}
