@import '~scss/variables';

.kubectl {
  display: flex;
  height: 100%;
}

.pane {
  border-radius: 4px;
  overflow-y: auto;
}

.doc {
  padding: 12px;

  :global {
    ul {
      li {
        padding-left: 14x !important;

        &::before {
          top: 0px;
        }
      }
    }
  }
}

.tipWrapper {
  width: 320px;
  margin-left: 12px;
  border-radius: 4px;
  background-color: $lightest;
}

.terminal {
  flex: 1;
  border-radius: 4px;
  overflow: hidden;
  padding: 8px;
  background-color: $white;
  border: solid 1px $light-color06;

  & > * {
    box-sizing: border-box;
  }
}
