@import '~scss/variables';
@import '~scss/mixins';

.body {
  padding: 0;
  max-height: none;
}

.bar {
  padding: 6px 20px;
  box-shadow: 0 1px 0 0 #e3e9ef, 0 -1px 0 0 $border-color;
  background-color: $bg-color;
}

.list {
  height: 472px;
  padding: 12px;

  .listWrapper {
    height: 100%;
    padding: 12px;
    border-radius: 4px;
    background-color: $lightest;
  }
}
