@import '~scss/variables';

.table {
  border: 1px solid $light-color06;
  border-radius: 3px;
  overflow: hidden;
  :global {
    table {
      padding: 0;
      .table-thead {
        tr {
          > th {
            padding: 10px 12px;
          }
          &:first-child > th:first-child {
            border-right: 1px solid $light-color06;
          }
          &:last-child {
            background-color: $light-color01;
            & > th {
              border-bottom: 1px solid $light-color06;
              &:nth-child(2) {
                border-right: 1px solid $light-color06;
              }
            }
          }
        }
      }
      .table-tbody {
        tr {
          &:nth-child(even) {
            background-color: $light-color01;
          }
          &.table-expanded-row {
            &:hover td {
              background-color: $light-color03;
            }
            background-color: $light-color03;
          }
          > td {
            height: 40px;
            &:nth-child(2) {
              border-right: 1px solid $light-color06;
            }
          }
        }
      }
    }
  }
}

.label {
  font-weight: 500;
  color: $dark-color06;
  background-color: $light-color03;
  border-radius: 2px;
  height: 20px;
  display: inline-block;
  margin-top: 2px;
  padding: 0 3px;
  :global {
    span {
      background-color: $dark-color07;
      color: #fff;
      display: inline-block;
      margin-right: 6px;
      padding: 0 4px;
      line-height: 16px;
      box-sizing: border-box;
      border-radius: 2px;
    }
  }
}

.cidr {
  width: 145px;
  :global {
    label {
      display: inline-block;
      width: 128px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.expand {
  width: 40px;
}
.project {
  position: relative;
}
.detail {
  width: 100%;
  background-color: $light-color01;
  padding: 12px;
  border-radius: 4px;
}
