@import '~scss/variables';

.header {
  position: relative;
  margin-bottom: 20px;
  border-radius: $border-radius;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(36, 46, 66, 0.06);
}

.title {
  position: relative;
  padding: 24px 20px;
  color: $dark-color07;
  overflow: hidden;

  :global {
    .h4 {
      line-height: 1.4;
      text-shadow: 0 4px 8px rgba(36, 46, 66, 0.1);
    }
  }

  & > p {
    color: $dark-color01;
    margin-top: 3px;
  }

  .leftIcon {
    position: absolute;
    top: 0;
    left: 0;
    width: 188px;
  }

  .rightIcon {
    position: absolute;
    top: 0;
    right: 0;
    width: 150px;
  }
}

.toolbar {
  padding: 8px 14px;
  background-color: $light-color02;

  :global {
    .radio-group-button label.radio-button {
      position: relative;
      padding: 4px 51px 4px 24px;
    }

    .tag {
      position: absolute;
      top: 4px;
      right: 5px;
      height: 20px;
      min-width: 32px;
      border-radius: 10px;
      color: #ffffff !important;
      border: none !important;
      box-shadow: 0 2px 4px 0 rgba(85, 188, 138, 0.36);
    }
  }
}

.cardsWrapper {
  margin-bottom: 20px;

  .cardTitle {
    margin-bottom: 12px;

    & > img {
      height: 20px;
    }
  }
}
