@import '~scss/variables';
@import '~scss/mixins';

.header {
  display: flex;
  align-items: center;

  & > div + div {
    min-width: 30%;
    margin-left: 20px;
  }
}

.cluster {
  position: relative;
  display: flex;
  width: 326px;
  padding: 8px;
  border-radius: 2px;
  background-color: $dark-color07;
}

.text {
  & > div {
    @include TypographyTitleH6(#fff);
  }

  & > p {
    @include TypographyParagraph(#fff);
  }
}

.icon {
  margin-right: 12px;
}

.indicator {
  position: absolute;
  top: 36px;
  left: 36px;
}

.content {
  padding: 12px;
  margin-top: 12px;
  border-radius: $border-radius;
  background-color: $light-color01;
}

.ports {
  position: relative;
  padding: 12px;
  line-height: 20px;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid $border-color;

  .port,
  .protocol {
    display: inline-block;
    vertical-align: middle;
    font-family: $font-family-id;
    color: #5f708a;
    margin-right: 20px;
  }

  :global .icon {
    margin-right: 20px;
  }

  & + .ports {
    margin-top: 8px;
  }

  p {
    color: $second-text-color;
  }

  strong {
    font-family: $font-family-id;
    font-size: $size-normal;
    font-weight: bold;
    line-height: 1.43;
    color: $text-color;
  }
}