@import '~scss/variables';

.title {
  display: flex;
  align-items: center;
  font-size: $body-size;
  font-weight: normal;

  label {
    margin-right: 20px;
  }
}

.operations {
  position: absolute;
  display: flex;
  align-items: center;
  top: 28px;
  right: 28px;
  z-index: 2;
  height: 32px;
  padding: 6px 10px;
  color: $white;
  border-radius: 16px;
  background-color: #36435c;

  :global {
    .icon {
      opacity: 0.6;

      &:hover {
        opacity: 1;
        background-color: transparent;
      }
    }
  }

  .split {
    margin: 0 8px;
  }
}

.content {
  font-family: $font-family-code;
  min-height: calc(100vh - 240px);
  max-height: 600px;
  padding: 20px;
  border-radius: 4px;
  background-color: $dark;
  overflow: auto;

  p {
    color: #b7c4d1;
    font-weight: 600;
    line-height: 20px;
    white-space: pre-wrap;

    strong {
      color: $yellow;
    }
  }
}

.loading {
  height: 20px;
  text-align: center;
}

.more {
  color: #b7c4d1;
  cursor: pointer;
}
