@import "~scss/variables";
@import "~scss/mixins";

.password {
  width: 455px;
}

.textarea {
  :global .textarea {
    max-width: 640px;
  }
}

.option {
  overflow: hidden;

  & > div {
    @include TypographyTitleH6($white);
  }

  & > p {
    @include TypographyParagraph($dark-color01);
  }
}