@import '~scss/variables';
@import '~scss/mixins';

.capacity {
  h3 {
    @include TypographyTitleH6()
  }

  small {
    color: $dark-color01;
    margin-left: .3em;
  }

  p {
    @include TypographyParagraph($dark-color01);
  }
}

.status {
  vertical-align: middle;
  color: $white !important;
}
