@import '~scss/variables';

.search {
  :global(.input) {
    width: 100%;
    opacity: 0.6;
    border-radius: 18px;
    border-color: transparent;
    background-color: $bg-color;
    padding: 5px 12px;
    color: $text-color;

    &:hover {
      border-color: $input-border-color !important;
    }

    &:focus,
    &:visited {
      background-color: $white;
      border-color: $dark-color01 !important;
      box-shadow: none !important;
    }

    &::placeholder {
      color: $second-text-color;
    }
  }
}
