@import '~scss/variables';

.wrapper {
  width: 954px;
  margin: 0 auto;
  padding-top: 32px;

  :global .h6 {
    line-height: 1.43;
    margin-bottom: 20px;
  }
}

.baseWrapper {
  padding: 12px;
  padding-bottom: 24px;
  border-radius: 4px;
  background-color: $lightest;
}

.textarea {
  :global .textarea {
    max-width: 564px;
  }
}

.uploadWrapper {
  width: 346px;
}

.upload {
  display: block !important;

  :global {
    .column {
      width: 346px;

      & + .column {
        margin-top: -16px;
      }
    }

    .upload-preview {
      width: 100%;
      height: 200px;
      padding: 10px 73px;
      border: solid 1px #d8dee5;
    }
  }
}

.nameWrapper {
  max-width: 455px;
}
