@import '~scss/variables';

.wrapper {
  :global .h4 {
    line-height: 1.4;
    margin-bottom: 32px;

    svg {
      width: 24px;
      height: 24px;
      margin-right: 12px;
      vertical-align: sub;
    }
  }
}

.advance {
  margin: -12px;
  padding: 12px;
  border-radius: 4px;
  background-color: $lightest;
}

.toggle {
  margin-bottom: 24px;

  a {
    display: inline-block;
    color: #329dce;
    vertical-align: middle;
  }

  :global .icon > svg {
    color: #329dce;
  }
}

.customFormItem {
  padding: 24px 0;
}

.formWrapper {
  padding: 12px;
  border-radius: 4px;
  background-color: $lightest;
}

.form {
  padding: 20px;
  border-radius: 4px;
  border: solid 1px $light-color03;
  background-color: #ffffff;
}
