@import '~scss/variables';

.wrapper {
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

.header {
  border-radius: $border-radius;
  overflow: hidden;
  background-color: #329dce;
  box-shadow: 0 4px 8px 0 rgba(36, 46, 66, 0.06);
}

.title {
  position: relative;
  padding: 30px 40px;
  background-color: #329dce;
  color: #ffffff;
  overflow: hidden;

  :global {
    .h4 {
      color: #ffffff;
      line-height: 1.4;
      text-shadow: 0 4px 8px rgba(36, 46, 66, 0.1);
    }
  }

  & > p {
    color: #eff4f9;
    margin-top: 3px;
  }

  .leftIcon {
    position: absolute;
    top: 0;
    left: 0;
    width: 188px;
  }

  .rightIcon {
    position: absolute;
    top: 0;
    right: 0;
    width: 150px;
  }
}

.toolbar {
  padding: 8px 20px;
  background-color: #fff;
}

.appsWrapper {
  position: relative;

  :global .h6 {
    margin: 20px 0;
    padding: 0 6px;
    line-height: 1.43;
  }
}

.loadMore {
  text-align: center;
  color: #79879c;
  margin: 0 20em;
  display: flex;
  span {
    padding: 0 2em;
  }
  &:before,
  &:after {
    content: '';
    flex: 1;
    background: linear-gradient(transparent 50%, #ccc 50%, transparent 54%);
  }
}

.appItem {
  display: inline-block;
  width: calc(25% - 9px);
  margin-bottom: 16px;
  margin-right: 12px;
  vertical-align: top;

  &:nth-of-type(4n + 4) {
    margin-right: 0;
  }
}

.loading {
  text-align: center;
}

.noApp {
  height: 226px;
  border-radius: $border-radius;
  padding: 32px 0;
  box-shadow: 0 4px 8px 0 rgba(36, 46, 66, 0.06);
  background-color: #ffffff;
  text-align: center;

  p {
    width: 586px;
    margin: 0 auto;
    margin-top: 20px;
  }
}
