@import '~scss/variables';

.wrapper {
  padding-left: 0;
  padding-right: 0;
}

.subtitle {
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.67;
  color: $dark-color06;
}
.eplist {
  padding-left: 30px;
  padding-right: 30px;
}
