@import '~scss/variables';

.wrapper {
  position: relative;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(36, 46, 66, 0.06);
  transition: all $trans-speed ease-in-out;

  & + .wrapper {
    margin-top: 12px;
  }

  &:hover {
    box-shadow: 0 6px 16px 0 rgba(33, 43, 54, 0.2);

    .view {
      opacity: 1;
    }
  }
}

.content {
  padding: 20px 24px;
  border-radius: 4px 4px 0 0;

  img {
    display: inline-block;
    vertical-align: middle;
    width: 40px;
  }

  strong {
    font-family: $font-family-id;
  }

  :global {
    .column {
      display: flex;
      align-items: center;
    }

    .h5 {
      word-break: break-all;
    }
  }
}

.footer {
  position: relative;
  padding: 11px 20px;
  border-radius: 0 0 4px 4px;
  background-color: $lightest;

  .view {
    position: absolute;
    top: 50%;
    right: 20px;
    opacity: 0;
    transform: translateY(-50%);
    transition: opacity 0.1s ease-in-out;
  }
}

.members {
  span {
    display: inline-block;
    vertical-align: middle;
    margin-right: 12px;
    color: #79879c;
  }

  img {
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #ffffff;
    border-radius: 50%;

    & + img {
      margin-left: -4px;
    }
  }

  .more {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    border: 1px solid #ffffff;
    border-radius: 50%;
    margin-left: -4px;
    background-color: $bg-color;

    :global .icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(90deg);
    }
  }
}
