@import '~scss/variables';
@import '~scss/mixins';

.ports {
  padding: 20px 40px;
  line-height: 20px;
  border-radius: 4px;
  background-color: $lightest;

  & > div {
    display: inline-block;
    vertical-align: middle;
    font-family: $font-family-id;
    color: #5f708a;

    & + div {
      margin-left: 20px;
    }
  }

  & + .ports {
    margin-top: 8px;
  }

  p {
    color: $second-text-color;
  }

  strong {
    font-family: $font-family-id;
    font-size: $size-normal;
    font-weight: bold;
    line-height: 1.43;
    color: $text-color;
  }
}

.card {
  padding: 20px;
  border-radius: 4px;
  background-color: $lightest;
  transition: all $trans-speed ease-in-out;

  & + .card {
    margin-top: 8px;
  }
}

.content {
  position: relative;
  margin-bottom: 18px;

  & > svg {
    vertical-align: middle;
  }
}

.title {
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  font-family: $font-family-id;
  font-size: $size-normal;
  font-weight: $font-bold;
  line-height: 1.43;
  color: $text-color;
  vertical-align: middle;

  p {
    font-size: $body-size;
    color: #79879c;
    font-weight: $font-normal;

    span + span {
      margin-left: 100px;
    }
  }
}

.path {
  position: relative;
  padding: 12px 20px;
  border-radius: 22px;
  background-color: $bg-color;
  border: solid 1px $border-color;

  & + .path {
    margin-top: 8px;
  }

  .access {
    right: 6px;
    @include vertical-center;
  }
  
  span {
    text-align: left;
    color: $second-text-color;

    strong {
      font-family: $font-family-id;
      font-size: $size-normal;
      line-height: 1.43;
      color: $text-color;
    }
  }
}