@import '~scss/variables';

.card {
  padding: 12px;
  margin-top: 12px;
  border-radius: 4px;
  background-color: #ffffff;
  border: solid 1px $light-color03;
}

.clickable {
  color: $green;
  cursor: pointer;
  margin-left: 15px;
}
