@import '~scss/variables';
@import '~scss/mixins';

.cluster {
  position: relative;
  width: 326px;
  padding: 8px;
  border-radius: 2px;
  background-color: $dark-color07;
  margin-right: 20px;
}

.empty {
  position: relative;
  display: flex;
  align-items: center;

  .desc {
    flex: 1;
    .descTitle {
      align-items: center;

      & > span {
        margin-right: 4px;
      }

      :global {
        .icon {
          margin-top: -2px;
        }
      }
    }
  }

  & > button {
    margin-left: 12px;
  }
}

.container {
  border-radius: 4px;
  padding: 12px;
  background: #fff;
  margin-bottom: 12px;
}

.title {
  display: flex;
  margin-bottom: 8px;
  margin-top: 12px;
  font-weight: 600;
  line-height: 20px;
  span {
    &:first-child {
      margin-right: 7px;
    }
  }
}
