@import '~scss/variables';

.list {
  margin-top: 20px;

  & > .item + .item {
    margin-top: 8px;
  }

  .item {
    position: relative;
    padding: 8px 20px 8px 68px;
    border-radius: 2px;
    background-color: $lightest;

    i {
      position: absolute;
      left: 8px;
      top: 8px;
      width: 48px;
      height: 20px;
      line-height: 20px;
      text-align: center;
      color: $white;
      font-weight: 600;
      font-style: normal;
      border-radius: 2px;

      &.critical {
        background-color: #ca2621;
      }

      &.major {
        background-color: #f5a623;
      }

      &.minor {
        background-color: #79879c;
      }
    }

    .desc {
      line-height: 20px;

      .title {
        strong {
          display: inline-block;
          margin-right: 20px;
          font-size: $size-normal;
        }
      }

      p {
        color: $second-text-color;

        span {
          margin-right: 10px;
        }
      }
    }
  }
}
