@import '~scss/variables';

.baseInfo {
  height: 80px;
  padding: 23px 32px;
  margin: 0;
  background: $white;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.baseInfo__item {
  padding: 0;
}

.nav {
  display: flex;
  align-items: center;
  height: 56px;
  padding: 0 14px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: $lightest;
  margin: 0 0 12px;

  &Item {
    min-width: 96px;
    height: 32px;
    line-height: 32px;
    margin: 0 6px;
    padding: 0 14px;
    font-weight: 500;
    color: #5f708a;
    border: 1px solid transparent;
    text-align: center;
    transition: all $trans-speed;

    &.active {
      border-radius: 100px;
      background-color: $bg-color;
      border: solid 1px $border-color;

      &:hover {
        color: $green;
      }
    }
  }
}

.loading {
  text-align: center;
  padding: 30px 0;
}

.dashboardLable {
  line-height: 20px;
  color: #79879c;
}

.dashboardValue {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.43;
  color: #242e42;
  vertical-align: middle;
  svg,
  span {
    vertical-align: middle;
  }
}
