@import '~scss/variables';
@import '~scss/mixins';

.main {
  .header {
    display: flex;
    margin-bottom: 12px;

    .search {
      flex: 1;
    }

    .actions {
      :global {
        button {
          margin-left: 12px;
        }
      }
    }
  }

  .footer {
    margin-top: 12px;
  }
}

.item {
  margin-bottom: 8px;

  &:last-child {
    margin-bottom: 0;
  }
}

.itemMain {
  display: flex;
  align-items: center;
  padding: 12px;
  background-color: $white;
  border: 1px solid $border-color;
  border-radius: 4px;

  &:hover {
    background-color: $card-bg-color;
    a {
      color: $green;
    }
  }

  .content {
    display: table;
    table-layout: fixed;
    width: 100%;
    line-height: 20px;

    dl {
      display: table-cell;
      line-height: 20px;
      vertical-align: middle;

      &.more {
        display: table-cell;
        width: 20px;
      }

      dt {
        font-weight: bold;
        color: $text-color;
      }

      dd {
        color: $second-text-color;
      }
    }
  }
}

.loading {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 56px;
}
