@import '~scss/variables';

.logContainer {
  pre {
    padding: 12px;
    line-height: 2;
    color: #363e4a;
    border: solid 1px #d8dee5;
    border-radius: 4px;
    background-color: $lightest;
    max-height: 200px;
    overflow-y: auto;
    white-space: pre-wrap;
  }
}

.title {
  display: flex;
  padding: 12px 0;
  cursor: pointer;
  &:hover {
    background-color: $lightest;
  }
  :global .spin {
    flex-basis: 20px;
    margin-right: 10px;
  }
  p {
    flex-grow: 1;
    height: 20px;
    font-weight: 600;
    color: #242e42;
    span {
      color: #329dce;
      margin: 0 8px;
    }
  }
}

.builderSelector {
  width: 180px;
}

.icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-top: 2px;
  margin-right: 8px;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-size: 16px;
}

.noneLogDesc {
  line-height: 20px;
  padding: 15px 18px;
  color: #363e4a;
  border: solid 1px #d8dee5;
  border-radius: 4px;
  background-color: $lightest;
  max-height: 200px;
}

.running {
  animation: rotate 2s linear infinite;
  background-image: url('/assets/pipeline-running.svg');
}

.failed {
  background-image: url('/assets/pipeline-error.svg');
}

.unknow {
  background-image: url('/assets/pipeline-nostatus.svg');
}

.successful {
  background-image: url('/assets/pipeline-success.svg');
  background-color: $green;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
