@import '~scss/variables';

.radioGroup {
  padding: 12px;
  height: 300px;
  border-radius: 4px;
  background-color: $card-bg-color;
  overflow: auto;

  :global {
    .control + .control {
      margin-top: 8px;
    }

    .radio-button.checked {
      i {
        border-color: $green;
        box-shadow: 0 4px 8px 0 rgba(85, 188, 138, 0.36);

        &::before {
          content: '';
          position: absolute;
          left: 50%;
          top: 50%;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background-color: $green;
          transform: translate(-50%, -50%);
        }
      }
    }
  }

  .radio {
    width: 100% !important;
    justify-content: flex-start;
    height: auto;
    padding: 12px;
    border-radius: 4px !important;
    border: 1px solid $light-color03;
    background-color: $white;
    transition: all $trans-speed;
    cursor: pointer;

    & > span {
      display: flex;
      align-items: center;
      width: 100%;
    }

    i {
      position: relative;
      width: 14px;
      height: 14px;
      margin: 0 20px 0 8px;
      border-radius: 50%;
      border: 1px solid $light-color07;
      box-shadow: 0 4px 8px 0 rgba(36, 46, 66, 0.12);
    }

    .desc {
      text-align: left;

      strong {
        font-size: $size-normal;
      }

      p {
        color: $dark-grey;
      }
    }
  }
}
