@import '~scss/variables';

.wrapper {
  background-color: $lightest;
}

.bar {
  padding: 8px 12px;
  border-radius: 4px 4px 0 0;
  box-shadow: 0 1px 0 0 #d8dee5;
}

.contentWrapper {
  padding: 12px;
}

.tip {
  margin-left: 4px;
}
