@import '~scss/variables';

.kubectl {
  display: flex;
  height: 100%;
}

.pane {
  border-radius: 4px;
  overflow-y: auto;
}

.tipWrapper {
  width: 338px;
  margin-left: 12px;
}

.terminalWrapper {
  flex: 1;
  padding: 8px;
  border-radius: $border-radius;
  border: 1px solid $border-color;
}

.terminal {
  height: 100%;
  overflow: hidden;
  & > * {
    box-sizing: border-box;
  }
}

.summary {
  h6 {
    margin-top: 12px;
    margin-bottom: 8px;
    line-height: 20px;
    font-weight: 600;
    color: $dark-color07;
  }

  dt,
  dd {
    display: inline-block;
    padding: 6px 12px;
    line-height: 20px;
  }
  dt {
    font-size: 12px;
    color: $dark-color01;
    width: 40%;
    &:after {
      content: ':';
    }
  }
  dd {
    width: 60%;
    vertical-align: top;
    font-family: $font-family-id;
    font-size: 12px;
    line-height: 20px;
    color: $dark-color07;
    word-wrap: break-word;
  }
}
