@import '~scss/variables';

.wrapper {
  position: relative;
  width: 100%;
  padding-bottom: 60px;
  border-radius: 4px;
  background-color: $lightest;
}

.footer {
  bottom: 20px;
  left: 20px;
  width: calc(100% - 40px);
}

.formWrapper {
  padding: 20px;

  :global .h5 {
    line-height: 1.5;
    margin-bottom: 12px;

    svg {
      width: 20px;
      height: 20px;
      margin-right: 12px;
      vertical-align: sub;
    }
  }
}
