@import '~scss/variables';

.advance {
  width: 930px;
  margin: 0 auto;
  :global .h6 {
    font-size: $size-normal;
    line-height: 1.43;
    margin: 10px 0 12px 0;
  }
}

.wrapper {
  margin-top: 8px;
  margin-bottom: 12px;
  padding: 12px;
  border-radius: 4px;
  background-color: $lightest;
}
