@import '~scss/variables';

.bar {
  padding: 10px 13px 10px 20px;
  border-radius: 4px 4px 0 0;
  background-color: $lightest;
  box-shadow: 0 1px 0 0 #d8dee5;
}

.checkbox {
  float: right;
  margin-top: 6px;

  :global .icon {
    margin-left: 5px;
  }
}

.formWrapper {
  padding: 12px;
  margin-top: 1px;
  border-radius: 0 0 4px 4px;
  background-color: $lightest;
}

.option {
  position: relative;
  padding-left: 28px;
  font-weight: 600;
  line-height: 1.67;
  width: 100%;

  img {
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 2px;
  }
}
