@import '~scss/variables';
@import '~scss/mixins';

.title {
  margin-bottom: 8px;
  line-height: 1.67;
  color: $second-text-color;
}

.default {
  ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 160px;
    font-size: $body-size;

    li {
      width: 33.3333%;
      font-weight: 600;
      line-height: 24px;
      margin: 4px 0;
      cursor: pointer;

      &.cur {
        color: $primary;
      }

      &:hover {
        color: $primary;
      }
    }
  }
}

.custom {
  :global {
    .form-item {
      font-size: $body-size;
    }
  }

  .selectBox {
    width: 160px;
  }

  .actions {
    position: absolute;
    bottom: 20px;
    right: 20px;

    button {
      width: 85px;
      padding: 5px 0;
      text-align: center;
      border-radius: 100px;
    }
  }
}
