@import '~scss/variables';
@import '~scss/mixins';

.label {
  display: inline-block;
  vertical-align: middle;
  padding: 0 6px 0 2px;
  margin: 6px 4px;
  line-height: 20px;
  color: $text-color;
  font-weight: 600;
  background-color: $light;
  border-radius: 3px;
  @include break-all;
}

.name {
  display: inline-block;
  padding: 0 6px;
  margin: 2px 6px 2px 0;
  line-height: 16px;
  color: $white;
  font-weight: 500;
  text-shadow: $head-shadow;
  border-radius: 1px;
  background-color: $dark-color06;
}
