@import '~scss/variables';

.wrapper {
  border: solid 1px $light-color08;
  padding: 5px;
  display: inline-block;
  border-radius: 4px;
  position: relative;
  height: 32px;
  margin-bottom: -8px;

  & > div {
    width: 20px;
    height: 20px;
    cursor: pointer;
  }

  .menu {
    z-index: 10;
    position: absolute;
    top: 100%;
    left: 0;
  }
}