@import '~scss/variables';

.wrapper {
  margin-top: 132px;
  text-align: center;
}

.image {
  height: 200px;
  user-select: none;
}

.text {
  display: inline-block;
  vertical-align: top;
  width: 600px;
  margin-left: 60px;

  :global .h1 {
    opacity: 0.4;
    font-size: 120px;
    line-height: 168px;
    color: #abb4be;
    user-select: none;
  }

  p {
    text-shadow: 0 4px 8px rgba(36, 46, 66, 0.1);
    font-size: 20px;
    font-weight: $font-bold;
    line-height: 1.4;
    color: $text-color;
    text-align: left;
  }

  a {
    color: #329dce;
  }
}
