@import '~scss/variables';
@import '~scss/mixins';

.container {
  width: 100%;
  height: 100%;
  position: relative;
  background: $dark-color06;

  svg {
    fill: $green-color03;
    fill-opacity: 0.6;
  }

  @at-root {
    .foreground {
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 100%;
      background: url('/assets/volume-container.svg') no-repeat;
      background-size: 100% 100%;

      h3 {
        @include TypographyParagraph($white);
        position: absolute;
        right: 16%;
        top: 10%;
        width: 28%;
        text-align: center;
      }

    }

    .wave {
      animation: waveSvgAnim 4s linear infinite;
    }
    
    .wave2 {
      animation: waveSvgAnim 6s linear infinite;
    }
    
    @keyframes waveSvgAnim {
      0% {
        transform: translateX(0px);
      }
      100% {
        transform: translateX(-100px);
      }
    }  
  }
}