@import '~scss/variables';
@import '~scss/mixins';

.wrapper {
  display: flex;
  justify-content: space-between;
  border-radius: $border-radius;
  background-color: $card-bg-color;
}

.info,
.condition {
  position: relative;
  padding: 12px;
  background-color: $card-bg-color;
}

.info {
  background-color: transparent;
}

.header .info {
  margin: -12px;
}

.content {
  .condition {
    display: inline-flex;
    width: calc(50% - 6px);
    margin-top: 12px;

    &:nth-child(2n) {
      margin-left: 12px;
    }
  }
}

.status {
  position: absolute;
  top: 38px;
  left: 38px;
}

.requests {
  display: flex;
  justify-items: flex-start;
  margin-top: 12px;
}

.text {
  min-width: 108px;
  & > div {
    @include TypographyTitleH6($dark-color07);
  }

  & > p {
    @include TypographyParagraph($dark-color01);
  }

  & + .text {
    margin-left: 12px;
  }
}

.nodes {
  display: flex;
  justify-items: flex-start;
}

.chart {
  position: relative;

  :global .icon {
    position: absolute;
    top: 30px;
    left: 30px;
  }

  .text {
    display: inline-block;
    vertical-align: middle;
    margin-left: 12px;
  }
}

.chartWrapper {
  display: inline-block;
  vertical-align: middle;
}

.podRequests {
  display: inline-block;
  vertical-align: middle;
  margin-left: 4px;
  height: 20px;
  padding: 0 4px;
  border-radius: 2px;
  background-color: #f5a623;
  color: $white;
  font-weight: 600;
  line-height: 20px;
}
