@import '~scss/variables';
@import '~scss/mixins';

:global {
  .flatpickr-time {
    padding: 4px 12px !important;
    height: auto !important;
  }

  .flatpickr-innerContainer {
    border-bottom: 1px solid #c6d1dc !important;
  }
}

.empty {
  height: 100%;
  background: #fff;

  :global {
    .spin-container,
    .spin-nested-loading {
      height: 100%;
    }
  }
  .emptyCard {
    margin-top: 0;
    box-shadow: none !important;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}

.billDetail {
  height: 100%;
  width: 100%;
  display: flex;
  overflow: hidden;

  .paddingBottom0 {
    padding-bottom: 0 !important;
  }

  .leftContent {
    width: 480px;
    height: 100%;
    padding: 40px 20px 80px;
    position: relative;
    background-color: $light-color02;
    display: flex;
    flex-direction: column;

    .usageCard {
      width: 100%;
      height: 80px;
      background: #f9fbfd;
      position: absolute;
      bottom: 0;
      left: 0;

      .meterCard {
        height: 100%;
        padding: 20px 20px 0;
        margin-bottom: 0;
        background: none;
        box-shadow: 0 -4px 4px rgba(36, 46, 66, 0.1);

        ul li {
          flex: 1 1 auto;
        }
      }
    }
  }

  .rightContent {
    width: calc(100% - 480px);
    height: 100%;
    padding: 66px 20px 33px 40px;
    background: white;

    :global {
      .spin-nested-loading {
        width: 100%;
        height: 100%;

        .spin-container {
          width: 100%;
          height: 100%;
        }
      }
    }

    .content {
      width: 100%;
      height: calc(100% - 65px);
      padding-right: 20px;
      overflow-y: auto;
      overflow-x: hidden;

      .toothbg {
        width: 100%;
        min-height: 100px;
        border: 1px solid $light-color08;
        border-radius: 3px;
        border-bottom: none;
        position: relative;

        &::after {
          content: '';
          height: 5px;
          display: block;
          background-size: 10px 7px;
          background-repeat: repeat-x;
          background-image: linear-gradient(
              135deg,
              transparent 50%,
              $light-color08 60%,
              transparent 70%
            ),
            linear-gradient(
              45deg,
              transparent 30%,
              $light-color08 40%,
              transparent 50%
            );
          position: absolute;
          bottom: -2px;
          left: -1px;
          right: -1px;
        }
      }

      .subTitle {
        font-size: 20px;
        margin-bottom: 12px;
        color: $dark-color07;
        font-weight: $font-bold;

        & > span {
          margin-left: 10px;
        }

        & > div {
          font-size: 12px;
        }
      }

      .info {
        height: 40px;
        margin-bottom: 12px;
        position: relative;
      }
    }
  }
}

.childrenResourceContainer {
  width: 100%;
  height: 400px;

  :global {
    .spin-nested-loading {
      width: 100%;
      height: 100%;
    }

    .spin-container {
      width: 100%;
      height: 100%;
      background: $light-color02;
      padding: 12px;
      position: relative;
    }
  }

  .childrenlistContainer {
    position: absolute;
    top: 10px;
    width: 200px;
    z-index: 999;
  }

  .constomChartContainer {
    height: 100%;
    background: url('/assets/pipelineBg.svg');

    padding: 0 5px;
  }
}
