@import '~scss/variables';
@import '~scss/mixins';

.datepicker {
  display: flex;

  li {
    flex: 1 1 auto;
    margin-right: 40px;

    &:first-child {
      flex: 12 1 auto;
      margin-right: 65px;
    }

    &:last-child {
      flex: 1 1;
      margin-right: 0;
    }

    & > div {
      color: $dark-color06;
    }

    p {
      color: $dark-color01;
    }
  }

  :global {
    .select {
      width: 90px;

      .select-control {
        height: 20px;
        padding-left: 0;
        border: none;
      }
    }
    .datepicker {
      input {
        width: 100%;
        height: 20px;
        padding-left: 0;
        cursor: pointer;
        border: none;
      }
    }
  }
}
