@import '~scss/variables';
@import '~scss/mixins';

.empty {
  padding: 12px;
  border-radius: 3px;
  border: dashed 1px $border-color;
  background-color: #ffffff;
}

.historiesNew {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  row-gap: 12px;
  column-gap: 12px;
}

.historiesNew,
.histories {
  & > a {
    position: relative;
    padding: 12px;
    border-radius: 3px;
    background-color: $card-bg-color;
    transition: all $trans-speed ease-in-out;

    .tagWrapper {
      text-align: right;
      > span {
        max-width: 100%;
        display: inline-flex;
        justify-content: flex-end;
        gap: 4px;
        background: #fff;
      }
      .tag {
        overflow: hidden;
        word-break: break-all;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 100px;
      }
    }
    .textTitle {
      display: grid;
      grid-template-columns: auto 1fr;
      gap: 8px;
      & > span:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      & > span:last-child {
        display: inherit;
      }
    }

    &:hover {
      .text {
        & > div > div {
          color: $primary;
        }
      }
    }
  }
}

.indicator {
  position: absolute;
  top: 32px;
  left: 32px;
  background-color: #fff;
  border-radius: 50%;
}
