@import '~scss/variables';
@import '~scss/mixins';

.item {
  &.devops {
    grid-template-columns: minmax(0, 1fr) auto minmax(0, 1fr) auto minmax(
        0,
        1fr
      );
    overflow: hidden;
    gap: 12px;
  }
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 12%) repeat(3, 23%) auto;
  padding: 12px 20px;
  margin-bottom: 8px;
  min-height: 64px;
  border-radius: 4px;
  border: solid 1px $border-color;
  background-color: #ffffff;
  :hover {
    cursor: pointer;
  }

  li {
    margin-right: 8px;
    .value,
    .status {
      height: 20px;
      @include TypographyTitleH6;
      @include ellipsis;
    }

    .label {
      height: 20px;
      @include TypographyParagraph($dark-color01);
    }
  }

  .icon {
    margin-top: 12px;
    margin-left: 20px;
    transition: transform 0.5s ease;
  }

  .branchName {
    height: 20px;
    @include TypographyParagraph($dark-color01);
  }
}

.active {
  z-index: 3;
  li > div,
  .status strong {
    color: white !important;
  }
  .icon {
    margin-top: 12px;
    margin-left: 20px;
    transform: rotate(180deg);
  }
  svg {
    color: white !important;
  }
  .branchName {
    color: white;
  }
  background-color: $dark-color07;
}

.logContent {
  z-index: 2;
  position: absolute;
  top: calc(100% - 4px);
  left: 2px;
  padding: 12px;
  width: calc(100% - 4px);
  height: 371px;
  border-radius: 2px;
  box-shadow: 0 4px 8px 0 rgba(36, 46, 66, 0.2);
  border: solid 1px $dark-color01;
  background-color: #ffffff;
  :hover {
    cursor: initial;
  }

  pre {
    height: 100%;
    padding: 12px;
    font-family: 'Monaco', sans-serif;
    font-size: 12px;
    line-height: 2;
    color: $light-color03;
    border-radius: 4px;
    background-color: $dark-color07;
    white-space: pre-line;
  }
}

.tooltip {
  padding: 0px;
  border-radius: 4px;
}

.artifactContent {
  width: 280px;
  padding: 12px;
  opacity: 0.97;
  background-color: $dark-color07;
  .title {
    height: 20px;
    margin-bottom: 12px;
    @include TypographySymbolText($light-color03);
  }
  .info {
    display: flex;
    margin-bottom: 8px;
  }
  button {
    width: 100%;
  }
}
