@import '~scss/variables';
@import '~scss/mixins';

.wrapper {
   & > p {
    @include TypographyParagraph($dark-color01);
   }
}

.tags {
  & > span {
    height: auto;

    & > span {
      display: inline-block;
      vertical-align: middle;

      & + span {
        margin-left: 4px;
      }
    }

    & + span {
      margin-left: 4px;
    }
  }

  span {
    color: $white !important;
  }
}
