.wrapper {
  position: relative;
  display: inline-block;
  width: 455px;
  height: 32px;

  :global {
    .dropdown .menu {
      padding: 8px 0;
      width: 455px;

      .menu-item {
        border-radius: 0;
      }
    }
  }
}
