@import '~scss/mixins';

.wrapper {
  position: relative;
  display: inline-block;
  width: 455px;
  height: 32px;

  .caret {
    @include vertical-center;
    right: 12px;
  }

  :global {
    .dropdown.dropdown-default .menu {
      width: 455px;
    }
  }

  .trigger {
    position: absolute;
    width: 0;
    height: 32px;
    top: 0;
    right: 0;
  }
}
