@import '~scss/variables';

.form {
  padding: 12px;
  border-radius: 4px;
  background-color: $card-bg-color;

  & > div + div {
    margin-top: 12px;
  }
}

.method {
  padding: 12px;
  border-radius: 4px;
  border: 1px solid $light-color03;
  background-color: $white;
}

.wrapper {
  border-radius: 4px;
  border: 1px solid $light-color03;
  background-color: $white;

  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
    height: 48px;
    border-radius: 4px 4px 0 0;
    background-color: $card-bg-color;
  }

  .content {
    padding: 12px;
    border-top: 1px solid $light-color03;
  }
}

.timeRange {
  display: flex;
  align-items: center;

  span {
    margin: 0 10px;
  }
}

.level {
  display: flex;
  align-items: center;
  padding: 6px 20px;
  border-radius: 60px;
  border: 1px solid $border-color;
  background-color: $light;

  & + .level {
    margin-top: 8px;
  }

  .label {
    flex: 0 1 170px;
    display: flex;
    align-items: center;
    height: 32px;
    padding: 0 10px;
    margin-right: 6px;
    border-radius: 4px;
    border: 1px solid #c1c9d1;
    background-color: $bg-color;

    :global {
      .icon {
        margin-right: 5px;
      }
    }
  }

  .select {
    flex: 1;
    margin: 0 6px;
  }
}
