@import '~scss/variables';

.cluster {
  position: relative;
  width: 326px;
  padding: 8px;
  border-radius: 2px;
  background-color: $dark-color07;
}

.content {
  margin-top: 12px;
  border-radius: $border-radius;
  padding: 12px;
  background-color: $light-color01;
}
