@import '~scss/variables';
@import '~scss/mixins';

.wrapper {
  height: 153px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h3 {
    @include TypographyTitleH2()
 
    
  }
  p {
    @include TypographySymbolText()
  }
}