@import '~scss/variables';
@import '~scss/mixins';

.modal {
  border-radius: 0;
  box-shadow: none;
  background-color: transparent;
}

.body {
  padding: 0;
  border-radius: 0;
  max-height: unset;
  overflow: hidden;
  background-color: #181d28d0;
}

.close {
  position: absolute;
  top: 32px;
  right: 32px;

  &:hover {
    :global .kubed-icon-light {
      color: #324558;
      fill: #b6c2cd;
    }
  }
}

.navs {
  display: flex;
  justify-content: center;
}

.nav {
  position: relative;
  width: 240px;
  height: 100vh;
  padding: 0 20px;
  text-align: center;
  padding-top: calc(50vh - 160px);
  overflow: hidden;

  &.active {
    background-color: $blue-color03;

    .bottomIcon {
      opacity: 0.09;
    }
  }

  .icon {
    margin-bottom: 12px;
  }

  .title {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.4;
    color: #ffffff;
    text-shadow: 0 4px 8px rgba(36, 46, 66, 0.1);
    margin-bottom: 12px;
  }

  .desc {
    color: #ffffff;
  }

  .bottomIcon {
    position: absolute;
    bottom: -160px;
    left: 0;
    opacity: 0;
  }
}
