.legend {
  display: inline-block;
  cursor: pointer;
  word-break: break-all;

  & > span {
    text-align: middle;
  }

  small {
    width: 1em;
    height: 1em;
    border-radius: 1px;
    margin-right: .3em;
    display: inline-block;  
  }

  &.hidden {
    opacity: .5;
  }

  span {
    font-weight: bold;
  }

  margin-right: 1em;
}