@import '~scss/variables';

.card {
  margin-bottom: 0;
}

.wrapper {
  display: flex;
  align-items: center;
  margin: 0 -6px;

  .node {
    flex-shrink: 0;
    width: 280px;
    margin: 0 6px;
  }

  .components {
    width: calc(100% - 12px);
    height: 164px;
    margin: 0 6px;
    padding: 12px;
    border-radius: 4px;
    background-color: $card-bg-color;

    .list {
      display: flex;
      flex-wrap: wrap;
      height: 100%;
      padding: 4px;
      border-radius: 4px;
      border: 1px solid $light-color03;
      background-color: $white;
      cursor: pointer;

      .item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: calc(50% - 8px);
        height: calc(33.3333% - 6px);
        padding: 0 10px;
        margin: 3px;
        border-radius: 4px;
        background-color: $card-bg-color;
        overflow: hidden;

        &.danger {
          color: #ca2621;
        }

        &.warning {
          color: #f5a623;
        }

        &.disabled {
          opacity: 0.4;

          p {
            font-size: 16px;
            color: $second-text-color;
          }
        }

        img {
          width: 94px;
          height: 20px;
        }

        p {
          margin-right: 5px;
          font-size: 26px;
          font-weight: 600;

          span {
            font-size: $size-small;
            line-height: 20px;
          }
        }
      }
    }
  }
}
