@import '~scss/variables';
@import '~scss/mixins';

.body {
  padding: 12px;
}

.footer {
  height: 44px;
  padding: 6px 12px;
  border-radius: 0 0 $border-radius $border-radius;
  border-top: 1px solid $border-color;
  background-color: $bg-color;
  text-align: right;
}

.workloads {
  margin-top: 8px;
  height: 188px;
  padding: 6px 0;
  border: 1px solid $border-color;
  border-radius: $border-radius;
}

.item {
  position: relative;
  height: 32px;
  padding: 6px 12px 6px 36px;
  cursor: pointer;
  transition: all $trans-speed ease-in-out;

  :global {
    .icon {
      @include vertical-center;
      left: 12px;
    }
  }

  &.selected,
  &:hover {
    background-color: $lightest;

    :global {
      .icon {
        display: none;
      }
    }

    .ring {
      display: block;
    }
  }

  &.selected {
    background-color: $bg-color;

    .ring {
      display: block;
      border: 3px solid $primary;
      box-shadow: 0 4px 8px rgba(85, 188, 138, 0.2);
    }
  }

  .name {
    @include TypographySymbolText();
  }

  .ring {
    display: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid $border-color;
    @include vertical-center;
    left: 14px;
    transition: all $trans-speed ease-in-out;
  }
}
