@import "~scss/variables";

.wrapper {
  border: 1px solid $light-color06;
  padding: 8px;
  border-radius: 4px;

  :global {
    .select {
      float: right;
    }
  }

  .toolbar {
    height: 32px;

    .icon {
      max-width: 200px;
      position: relative;
      top: 4px;
      display: flex;
      align-items: center;
      float: left;

      > span:last-child {
        font-size: $size-small;
        font-weight: 500;
        line-height: 20px;
        color: $dark-color07;
        margin-left: 5px;
      }
    }
  }

  .edit {
    margin-top: 10px;
    position: relative;
    min-height: 500px;
    height: calc(-420px + 100vh);
  }
}

.overlayTools {
  position: absolute;
  right: 0;
  font-size: 12px;
  padding: .5em 1em;
  z-index: 3;
  line-height: 20px;
  border-radius: 16px;
  background-color: #36435c;
  margin: 1em;
  color: #aaa;
  .download {
    &:hover {
      background-color: inherit;
    }
  }
}

.preview_btn {
  cursor: pointer;
}

.active {
  font-weight: bold;
  color: #fff;
}

