@import '~scss/variables';

.main {
  overflow-y: auto;
  margin-left: $nav-width - 20px;
  padding: 20px;
}

.navWrapper {
  position: fixed;
  top: 88px;
  width: $nav-width;
  height: calc(100vh - 108px);
  padding: 0 20px 40px 20px;
  overflow-y: auto;
}

.nav {
  width: auto;
  padding: 0;
  z-index: 1;
}

.title {
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
  color: #ffffff;

  :global {
    .h3 {
      color: #ffffff;
      line-height: 1.33;
      text-shadow: 0 2px 4px rgba(36, 46, 66, 0.1);
    }
  }

  & > p {
    color: #eff4f9;
    margin-top: 3px;
  }
}

.titleWrapper {
  position: relative;
  margin-bottom: 20px;
  padding: 12px;
  border-radius: $border-radius;
  background-color: #242e42;
  box-shadow: 0 8px 16px 0 rgba(36, 46, 66, 0.2);

  .icon {
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    padding: 8px;
    margin-right: 12px;
    border-radius: 100px 0 100px 100px;
    background-color: rgba(239, 244, 249, 0.08);
  }

  .text {
    display: inline-block;
    vertical-align: middle;

    :global .h6 {
      font-family: $font-family-id;
      line-height: 1.43;
      color: #ffffff;
    }

    p {
      color: #d8dee5;
    }
  }
}

.avatar {
  padding: 2px;
}

.bannerIcon {
  img {
    width: 36px;
    height: 36px;
    padding: 5px 3px 4px 5px;
  }
}

.loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
