@import '~scss/variables';
@import '~scss/mixins';

.wrapper {
  + .wrapper {
    margin-top: 12px;
  }

  :global {
    .input,
    .textarea {
      width: 100%;
      max-width: 455px;
    }
  }
}

.label {
  display: block;
  margin-bottom: 4px;
  line-height: 20px;
  color: $text-color;
}

.control {
  position: relative;
}

.desc {
  margin-top: 4px;
  color: $second-text-color;
}

.requiredIcon {
  color: $red;
  margin: 0 6px;
}


.tip {
  position: relative;

  button {
    @include vertical-center;
    right: 12px;
  }
}

.password {
  display: flex;

  :global {
    .input-password {
      flex: 1;
    }
  }

  input {
    border-radius: 4px 0 0 4px;
  }
  
  button {
    margin-left: -1px;
    border-radius: 0 4px 4px 0;
    border-color: $input-border-color
  }
}
