@import '~scss/variables';
@import '~scss/mixins';

.wrapper {
  + .wrapper {
    margin-top: 12px;
  }

  :global {
    .input,
    .textarea {
      width: 100%;
      max-width: 455px;
    }
  }
}

.label {
  display: block;
  margin-bottom: 4px;
  line-height: 20px;
  color: $text-color;
}

.control {
  position: relative;
}

.desc {
  margin-top: 4px;
  color: $second-text-color;
}

.requiredIcon {
  color: $red;
  margin: 0 6px;
}

.tip {
  position: relative;

  button {
    @include vertical-center;
    right: 12px;
  }
}

.password {
  display: flex;

  :global {
    .input-password {
      flex: 1;
    }
  }

  input {
    border-radius: 4px 0 0 4px;
  }

  button {
    margin-left: -1px;
    border-radius: 0 4px 4px 0;
    border-color: $input-border-color;
  }
}

.defaultContainer {
  margin-bottom: 20px;
  display: flex;
  background: #ffffff;
  border: 1px solid #ccd3db;
  border-radius: 4px;
  align-items: flex-start;
  padding: 12px 16px;
  gap: 8px;
  .title {
    color: #242e42;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
  }
  .disc {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #79879c;
  }
}
