@import '~scss/variables';
@import '~scss/mixins';

.wrapper {
  padding: 12px;
  border-radius: 4px;
  background-color: $lightest;
}

.title {
  text-align: center;
  margin-bottom: 32px;

  :global {
    .h4 {
      margin-bottom: 12px;
      line-height: 1.4;
      text-shadow: 0 4px 8px rgba(36, 46, 66, 0.1);
    }
  }

  p {
    color: #5f708a;
  }
}

.contentWrapper {
  height: 376px;
  overflow: auto;
  padding: 20px;
  border-radius: 4px;
  background-color: #ffffff;
  border: solid 1px $light-color03;
}

.option {
  overflow: hidden;

  & > div {
    @include TypographyTitleH6($white);
  }

  & > p {
    @include TypographyParagraph($dark-color01);
  }
}

.selectOption {
  display: flex;

  .text {
    display: inline-block;
    flex: 1;
  }
}
