html {
  background-color: rgb(240, 244, 248);
}

body {
  height: 100%;
  line-height: 1;
  font-size: 14px;
  font-family: 'PingFang SC', 'Lantinghei SC', 'Helvetica Neue', Helvetica,
    Arial, 'Microsoft YaHei', 微软雅黑, STHeitiSC-Light, simsun, 宋体,
    'WenQuanYi Zen Hei', 'WenQuanYi Micro Hei', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
  margin: 0;
  padding: 0;
}

img {
  pointer-events: none;
}

svg {
  height: 20px;
  width: 20px;
  color: #324558;
  fill: #b6c2cd;
}

::selection {
  color: #fff;
  background: #369a6a;
}

::-moz-selection {
  color: #fff;
  background: #369a6a;
}

.logo {
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
}

.logo img {
  width: 180px;
  height: 40px;
}

.login {
  position: relative;
  width: 320px;
  margin: 140px auto 40px;
  padding: 20px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(36, 46, 66, 0.06);
  box-sizing: border-box;
}

.login-header {
  position: relative;
  font-weight: 600;
  font-size: 12px;
  color: #242e42;
  line-height: 20px;
  text-align: center;
}

.login-divider {
  width: 100%;
  height: 0;
  margin-top: 12px;
  margin-bottom: 20px;
  opacity: 0.6;
  border-bottom: 1px solid;
  border-image-source: radial-gradient(circle at 50% 0, #abb4be, #ffffff 100%);
  border-image-slice: 1;
}

.login-oauth {
  padding: 6px;
  border-radius: 2px;
  background-color: #eff4f9;
  color: #36435c;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.login-oauth:hover {
  background-color: #d8dee5;
}

.login-oauth:active {
  background-color: #d1d7df;
}

.login-oauth + .login-oauth {
  margin-top: 8px;
}

.login-oauth + form {
  padding-top: 8px;
}

.login-form-item {
  margin-top: 12px;
}

.login-form-item label {
  display: block;
  font-size: 12px;
  line-height: 20px;
  font-weight: 600;
  color: #36435c;
  margin-bottom: 4px;
}

.login-form-item svg {
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  cursor: pointer;
}

.login-form-item input {
  width: 100%;
  height: 36px;
  padding: 8px 35px 8px 12px;
  border-radius: 4px;
  background-color: #ffffff;
  border: solid 1px #cfd9df;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
  color: #303e5a;
  outline: none;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

.login-form-item input:focus {
  border-color: #55bc8a;
}

input::placeholder {
  color: #657d95;
  font-weight: 300;
}

input::-moz-placeholder {
  color: #657d95;
  font-weight: 300;
}

input::-webkit-input-placeholder {
  color: #657d95;
  font-weight: 300;
}

.login-form-error input {
  border-color: #ca2621 !important;
}

.login-error {
  display: none;
  margin-top: 12px;
  padding: 12px;
  border-radius: 4px;
  background-color: #fae7e5;
}

.login-error > span {
  display: inline-block;
  font-size: 12px;
  line-height: 20px;
  color: #8c3231;
  vertical-align: middle;
}

.login-form-error .login-error {
  display: block;
}

.submit {
  text-align: right;
}

.login-form button[type='submit'] {
  position: relative;
  width: 100%;
  height: 32px;
  margin-top: 24px;
  border-radius: 100px;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  box-shadow: 0 8px 16px 0 rgba(36, 46, 66, 0.28);
  border: solid 1px #242e42;
  background-color: #242e42;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.login-form button[type='submit']:hover {
  box-shadow: none;
}

.login-form button[type='submit']:focus {
  outline: none;
  box-shadow: none;
}

.login-form button[type='submit'] > svg {
  display: none;
  vertical-align: middle;
  width: 16px;
  height: 16px;
}

.login-form button[type='submit'].loading > svg {
  display: inline-block; 
}

.login-form button[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}

.captcha-wrapper {
  position: relative;
}

.captcha-wrapper > img {
  display: inline-block;
  vertical-align: middle;
  height: 40px;
  padding: 0 0 4px 2px;
  margin-right: 14px;
  box-sizing: border-box;
  user-select: none;
}

.captcha-wrapper > a {
  position: absolute;
  right: 0;
  top: -24px;
  font-size: 12px;
  line-height: 1.67;
  color: #55bc8a;
  cursor: pointer;
}

.captcha-wrapper > input {
  width: 150px;
}

@keyframes onAutoFillStart {
  from {
  }
  to {
  }
}

@keyframes onAutoFillCancel {
  from {
  }
  to {
  }
}

input:-webkit-autofill {
  animation-name: onAutoFillStart;
}

input:not(:-webkit-autofill) {
  animation-name: onAutoFillCancel;
}
