@import '~scss/variables';
@import '~scss/mixins';

.body {
  position: relative;
  bottom: 0 !important;
  padding: 0;
  border-radius: 0;
  max-height: calc(100vh - 144px);
}

.form {
  padding: 20px 20px 40px 20px;
  height: calc(100% - 125px);
  overflow: auto;
}

.steps {
  border-bottom: 1px solid $border-color;
}

.footer {
  position: absolute;
  padding: 20px;
  text-align: right;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $bg-color;
}

.loading {
  display: block;
  padding: 150px;
}
