@import '~scss/variables';

.wrapper {
  padding: 38px 72px;
  border-radius: $border-radius;
  background-color: #ffffff;
  box-shadow: $base-shadow;

  img {
    margin-right: 70px;
  }
}

.desc {
  max-width: 580px;
  margin-bottom: 20px;
  font-family: $font-family-id;
}