.title {
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 4px;
}

.wrapper {
  display: flex;
  border: 1px solid #abb4be;
  border-radius: 4px;

  .input {
    width: calc(100% - 58px);
    border: none;
    border-radius: 4px 0px 0px 4px;

    &:focus,
    &:active {
      box-shadow: none !important;
    }
  }

  .tailSelect {
    width: 58px;

    :global {
      .select-control {
        border-radius: 0px 4px 4px 0px;
        background: #eff4f9;
        border-top: none;
        border-bottom: none;
        border-right: none;
      }
    }
  }

  .unit {
    width: 58px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0px 12px;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    color: #36435c;
  }
}
