@import '~scss/variables';

.wrapper {
  width: 446px;
  padding: 12px;
  border-radius: $border-radius;
  box-shadow: 0 4px 8px 0 rgba(36, 46, 66, 0.06);
  background-color: #ffffff;
}

.selector {
  position: relative;
  padding: 8px 20px;
  border-radius: 4px;
  box-shadow: 0 8px 16px 0 rgba(36, 46, 66, 0.2);
  background-color: #242e42;
}

.icon {
  position: absolute;
  top: 50%;
  left: 20px;
  width: 40px;
  height: 40px;
  transform: translateY(-50%);

  img {
    width: 100%;
    height: 100%;
  }
}

.title {
  padding-left: 60px;
  font-weight: $font-bold;
  color: #fafbfc;

  :global {
    .h4 {
      color: #fafbfc;
      line-height: 1.4;
      font-family: $font-family-id;
      text-shadow: 0 4px 8px rgba(36, 46, 66, 0.1);
    }
  }
}

.admin {
  display: inline-block;
  margin-left: 8px;
  padding: 0 8px;
  border-radius: 10px;
  box-shadow: 0 2px 4px 0 rgba(85, 188, 138, 0.36);
  background-color: $green;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.67;
  color: #ffffff;
}

.arrow {
  position: absolute;
  top: 50%;
  right: 12px;
  width: 20px;
  height: 20px;
  padding: 3px;
  transform: translateY(-50%);
  border-radius: 50%;
  background-color: rgba(85, 188, 138, 0.1);

  :global .icon {
    width: 14px;
    height: 14px;
    background-color: $primary;
    border-radius: 50%;
    vertical-align: inherit;
  }
}

.manage {
  padding: 6px;
  margin-top: 12px;
  border-radius: 2px;
  background-color: $bg-color;
  font-weight: $font-bold;
  color: #36435c;
  text-align: center;
  cursor: pointer;
  transition: all $trans-speed ease-in-out;

  &:hover {
    background-color: #e8ecf1;
  }

  :global .icon {
    margin-right: 12px;
  }
}

.divider {
  margin: 12px 0;
  height: 2px;
  border-style: solid;
  border-width: 1px;
  border-image-source: radial-gradient(
    circle at 50% 3%,
    rgba(193, 201, 209, 0.53),
    rgba(255, 255, 255, 0.2)
  );
  border-image-slice: 1;
}

.alarm {
  display: flex;
  align-items: center;
  padding: 14px 20px;
  border-radius: 4px;
  background-color: #fafbfc;

  :global {
    .icon {
      margin-right: 28px;
    }
    .h3 {
      line-height: 32px;
    }
  }
}

.monitoring {
  display: flex;
  align-items: center;
  margin: 0 -12px;

  .item {
    flex: 1;
    display: flex;
    align-items: center;
    height: 80px;
    padding: 8px 20px;

    & + .item {
      border-left: 1px solid #f4f6f8;
    }

    .info {
      width: 65px;

      p {
        margin-bottom: 12px;
        font-size: $size-small;
        line-height: 1.67;
        color: #79879c;
        white-space: nowrap;
      }

      strong {
        font-size: 24px;
        line-height: 1.33;
      }
    }

    .chart {
      flex: 1;
      height: 100%;

      &Title {
        position: absolute;
        left: 'auto';
        right: 2px;
        display: flex;
        align-items: center;

        svg {
          width: 8px;
          height: 8px;
          margin-right: 5px;
        }
      }
    }
  }
}
