@import '~scss/variables';

.banner {
  height: 120px;
  border-radius: $border-radius;
  background-color: #2e4658;
  box-shadow: 0 2px 4px 0 rgba(36, 46, 66, 0.12),
    0 4px 8px 0 rgba(36, 46, 66, 0.06);
  color: #fff;
  padding: 30px 20px;
}

.icon {
  display: inline-block;
  vertical-align: middle;
  padding: 12px;
  border-radius: 100px 0 100px 100px;
  background-color: rgba(239, 244, 249, 0.08);
}

.title {
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;

  :global {
    .h3 {
      color: #fff;
      font-weight: $font-bold;
      line-height: 1.33;
      text-shadow: 0 2px 4px rgba(36, 46, 66, 0.1);
    }
  }
}
