@import '~scss/variables';

.alert {
  min-width: auto;
  margin-top: 12px;
  :global {
    .alert-message {
      & > span {
        word-break: keep-all;
      }
    }
  }
}

.title {
  font-weight: $font-bold;
  margin-top: 12px;

  :global {
    .toggle {
      float: right;
    }
  }
}

.tip {
  margin-top: 12px;
  padding: 8px 12px;
  border-radius: 4px;
  border: solid 1px $light-color03;
  background-color: #fafbfc;
  color: #363e4a;
}
