@import '~scss/variables';
@import '~scss/mixins';

.container {
  .title {
    line-height: 28px;
    font-size: 20px;
    color: $dark-color07;
    font-weight: $font-bold;
    text-shadow: 0px 4px 8px rgba(36, 46, 66, 0.2);
    margin-bottom: 40px;
  }

  .card {
    width: 298px;
    height: 184px;
    padding: 20px;
    margin: 0 12px 12px 0;
    border: 1px solid $light-color06;
    border-radius: 4px;
    background: #ffffff;
    cursor: pointer;
    transition: all 0.2s ease;
    overflow: hidden;
    box-sizing: border-box;
    display: inline-block;

    &Selected {
      border: 1px solid $dark-color01;
      box-shadow: 0px 4px 8px rgba(36, 46, 66, 0.2);
    }

    &:hover {
      border: 1px solid $dark-color01;
      box-shadow: 0px 4px 8px rgba(36, 46, 66, 0.2);
    }

    &:nth-child(3n) {
      margin-right: 0;
    }

    .bg {
      text-align: center;

      img {
        height: 32px;
      }
    }

    .info {
      text-align: center;
      .subtitle {
        font-weight: $font-bold;
        font-size: 12px;
        line-height: 20px;
        color: $dark-color07;
        margin-bottom: 2px;
      }

      .desc {
        color: $dark-color01;
        line-height: 20px;
        font-size: 12px;
        @include block-ellipsis(3);
      }
    }
  }
}
