@import '~scss/variables';

.wrapper {
  text-align: center;
}

.value {
  display: inline-block;
  margin-right: 24px;
  font-family: $font-family-id;
  font-size: 60px;
  font-weight: $font-bold;
  line-height: 1.33;
  color: $second-text-color;
  vertical-align: middle;
}

.text {
  display: inline-block;
  margin-right: 12px;
  text-align: left;
  vertical-align: middle;

  p {
    color: $second-text-color;

    strong {
      color: $text-color;
      font-weight: $font-bold;
    }
  }
}

.buttons {
  display: inline-block;
  vertical-align: middle;

  :global {
    .icon {
      display: block;
      cursor: pointer;
      &:hover {
        background-color: $bg-color;
        border-radius: 4px;
      }
    }
  }
}