@import '~scss/variables';
@import '~scss/mixins';

.title {
  margin-bottom: 4px;
  height: 20px;
  font-family: $font-family-id;
  font-size: 12px;
  line-height: 1.67;
  color: $dark-color07;
}

@mixin column {
  flex: none;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 12px;
}

.columns {
  display: flex;
  margin-left: -12px;
  margin-right: -12px;
  margin-top: -12px;

  .column {
    @include column;
  }

  :global(.is-2) {
    width: 20%;
    min-width: 20%;
    max-width: 20%;
    @include column;
  }
  :global(.is-half) {
    width: 50%;
    min-width: 50%;
    max-width: 50%;
    @include column;
  }
}

.columsEdit {
  flex-wrap: wrap;
  :global(.is-half) {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    @include column;
  }
}

.environment_info {
  margin: 12px 0px;
}
