@import '~scss/variables';
@import '~scss/mixins';

.main {
  height: calc(100vh - 208px);
  min-height: 430px;
}

.loading {
  display: block;
  margin: 100px 0;
  text-align: center;
}

.tag {
  float: right;
  display: flex;
  align-items: center;
}

.cardHeader {
  position: relative;
  padding: 14px 20px;
  font-size: $size-normal;
  font-weight: 600;
  line-height: 1.43;
  border-radius: 8px 8px 0 0;
  background-color: $lightest;
  box-shadow: 0 1px 0 0 #d8dee5;
  @include clearfix;

  .operations {
    float: right;
    margin: -6px 0;
    display: flex;
    .timeSelect {
      margin-right: 12px;

      & > button {
        min-width: 188px;
        background: white;
        border: 1px solid #abb4be;
        color: $dark-color06;
        z-index: 5;

        &:hover {
          background: white !important;
          border-color: #79879c;
        }
      }

      :global {
        .datepicker {
          .input {
            width: 100%;
            max-width: 455px;
            margin-right: 0;
          }
        }

        .form {
          & > div:last-child {
            bottom: 10px;
          }
        }
      }
    }
  }
}
