@import '~scss/variables';

.attributes {
  background: $lightest;
  padding: 12px;

  li.item {
    background: #fff;
    line-height: 36px;
    padding-left: 11px;
    padding-right: 11px;
    margin: 4px;
    border-radius: 4px;
  }
}
