@import '~scss/variables';
@import '~scss/mixins';

.wrapper {
  h3 {
    font-weight: bold;
    color: $dark-color07;
    margin-bottom: 8px;
    margin-top: 8px;
  }
  p {
    margin-bottom: 8px;
  }

  .typeOpts {
    width: 33.33333%;
    cursor: pointer;
    display: inline-block;
  }

  .typeOpt {
    flex: 1;
    margin-right: 12px;
    height: 80px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transition: all $trans-speed ease-in-out;
    img {
      width: 40px;
      height: 40px;
    }
    h4 {
      @include TypographySymbolText($dark-color06);
    }

    &:hover {
      background-color: $light-color07;
    }

    &.select {
      h4 {
        color: $white;
      }
      background-color: $dark-color07;
    }
  }

  .position {
    display: flex;
    height: 240px;
    padding: 20px;
    padding-bottom: 0px;
    margin: -8px;
    background-color: $light-color02;

    .navs {
      width: 140px;
      & > div {
        margin-bottom: 8px;
        height: 20px;
        border-radius: 1px;

        &:nth-child(1) {
          width: 78px;
          background-color: $dark-color01;
        }
        &:nth-child(2) {
          width: 140px;
          background-color: $light-color06;
        }
      }
    }

    .placeholderWrapper {
      flex: 1;
      padding: 20px;
      margin-left: 20px;
      background-color: $white;

      .placeholder {
        display: flex;
        width: 100%;
        height: 180px;
        border-radius: 1px;
        border: dashed 1px $blue-color03;
        background-color: rgba(199, 222, 239, 0.4);
        justify-content: center;
        align-items: center;
        @include TypographySymbolText();
      }
    }
  }
}
