.wrapper {
  background: #242e42;
  color: #79879c;
  border-radius: 4px;
  height: 612px;
  display: grid;
  grid-template-rows: 48px 1fr;
  grid-template-columns: 100%;
}

.logList {
  padding: 20px;
  line-height: 2;
  overflow: auto;
  @at-root {
    .time {
      color: #4a5974;
    }
    .log {
      color: #b7c4d1;
      word-break: break-all;
      white-space: pre-wrap;
    }
    .record {
      line-height: 2em;
      font-weight: bold;
    }

    .hightLight {
      background-color: #ffc781;
      color: #242e43;
      border-radius: 2px;
    }
  }
}

.toolbar {
  border-bottom: solid 1px #182236;
  padding: 8px 20px;
  .toolbarContent {
    min-width: 680px;
    display: flex;
    position: relative;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  @at-root {
    .filter {
      display: grid;
      grid-gap: 6px;
      grid-template-columns: repeat(4, auto);
      @at-root {
        .filterButton {
          display: inline-block;
          border-radius: 4px;
          background: #2a354b;
          cursor: pointer;
          color: #fff;
          line-height: 32px;
          padding: 0 12px;
        }
        .exportBtn,
        .pollingBtn {
          display: inline-block;
          width: 34px;
          text-align: center;
          padding: 0;
        }
        .frequencyOpts {
          border-radius: 3px;
          background-color: #2a354b;
          width: 200px;
          padding: 0;
          :global {
            .select-control {
              color: inherit;
              font-weight: 400;
              border: none;
              background: transparent !important;
              &:hover {
                background: transparent;
              }
            }
            .option-selected-area {
              display: none;
            }
            .select-value,
            .select-value {
              color: #fff !important;
            }
            .select-menu {
              padding: 0;
            }
          }
        }
        .timeRange {
          width: 800px;
          display: grid;
          grid-template-columns: 1fr 1fr;
          padding: 20px;
          grid-gap: 10px;
          position: absolute;
          top: 100%;
          background: #fff;
          border-radius: 10px;
          height: 243px;
        }
        .recentOpts {
          h3 {
            margin-bottom: 8px;
            line-height: 1.67;
            color: #79879c;
          }
          ul {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            height: 140px;
            font-size: 12px;
          }
          li {
            width: 33.3333%;
            font-weight: 600;
            color: #242e42;
            line-height: 24px;
            margin: 4px 0;
            cursor: pointer;
          }
          .select {
            color: #55bc8a;
          }
        }
      }
    }

    .searchBar {
      border-radius: 4px;
      background-color: #2a354b;
      line-height: 32px;
      display: grid;
      grid-template-columns: 42px 1fr;
      max-width: 340px;
      flex: 1;
      margin-left: 6px;

      @at-root {
        .icon {
          place-self: center;
        }
        .input {
          background: transparent;
          outline: none;
          border: none;
          color: #fff;
        }
      }
    }
  }
}
