@import '~scss/variables';

.title {
  font-size: 18px;
  svg {
    margin-right: 13px;
    vertical-align: sub;
    cursor: pointer;
  }
  strong {
    font-size: 0.8em;
  }
  margin-bottom: 10px;
}

.content {
  border-radius: 4px;
  border: solid 1px $light-color03;
  padding: 12px;
  margin: 8px;
  box-shadow: 0px 0px 0px 8px $lightest;
}
