@import '~scss/variables';

.appInfo {
  > div {
    margin-bottom: 32px;

    .title {
      font-size: $size-normal;
      line-height: 20px;
      font-weight: bold;
      color: $dark-color07;
      margin-bottom: 12px;

      span {
        font-weight: normal;
        font-size: 12px;
      }
    }
  }
}

.versions {
  width: 100%;
  border: 1px solid $border-color;
  border-collapse: collapse;
  border-spacing: 0;
  text-align: left;

  th,
  td {
    padding: 12px 10px;
    font-size: 12px;
    line-height: 20px;
    text-align: left;
    border-right: 1px solid $light-color05;
    border-bottom: 1px solid $light-color05;
    vertical-align: middle;

    &:first-child {
      width: 25%;
    }
  }

  th {
    color: $dark-color01;
  }

  td {
    > .name {
      color: $dark-color07;
      font-weight: bold;
    }

    > .date {
      color: $dark-color01;
    }

    > .desc {
      color: $dark-color07;
    }
  }
}
