@import '~scss/variables';

.main {
  padding: 12px;
  border-radius: 4px;
  background-color: $card-bg-color;

  & > .item + .item {
    margin-top: 8px;
  }
}

.item {
  display: flex;
  padding: 12px;
  border: 1px solid $light-color03;
  border-radius: 4px;
  background-color: $white;

  .icon {
    position: relative;
    width: 40px;
    height: 40px;
    margin: 0 12px;

    .status {
      position: absolute;
      right: 2px;
      bottom: 2px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: $yellow;
      box-shadow: 0 4px 8px 0 rgba(245, 166, 35, 0.32);

      &.active {
        background-color: $green;
        box-shadow: 0 4px 8px 0 rgba(85, 188, 138, 0.32);
      }
    }
  }

  .basic {
    flex: 0 0 150px;
    margin: 0 12px;

    strong {
      display: inline-block;
      line-height: 20px;
    }
  }

  .desc {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 20px;
    border-left: 1px dashed #d8dee5;

    & > div {
      width: 120px;
    }
  }
}
