@import '~scss/variables';

.tabs {
  height: 100%;

  :global(.tabs) {
    min-width: 48px;
  }

  ul {
    border-right-style: none !important;

    li {
      padding: 8px !important;
      margin: 0 !important;
      border: 1px solid #d5dee7 !important;
      transform: translate(-1px, -1px);
    }

    :global(li.is-active) {
      border-right: none !important;
      z-index: 1;
      background-color: $white;
    }

    li:last-child {
      transform: translate(-1px, -2px) !important;
    }
  }

  :global(.tab-content) {
    width: 446px;
    overflow-y: auto !important;
    padding: 10px 0 0 10px;
    border-left: 1px solid #d5dee7;
    transform: translateX(-2px);
  }

  .content {
    .title {
      font-size: 12px;
      font-weight: 600;
      color: $dark-color07;
      line-height: 20px;
      height: 20px;
    }
  }
}

.category {
  width: 54px;
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
  height: 20px;
  text-align: center;
  border-radius: 1px;
}

.normal {
  color: $dark-color06;
  background-color: $light-color02;
}

.warning {
  color: $white;
  background-color: $yellow-color03;
}