@import '~scss/variables';
@import '~scss/mixins';

.wrapper {
  position: absolute;
  top: 12px;
  bottom: 12px;
  right: 12px;
  width: 480px;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: $card-shadow;
  background-color: $white;
  :global {
    .spin-nested-loading,
    .spin-container {
      height: 100%;
    }

    .collapse-item-label {
      background-color: $light-color01;
      color: $dark-color07;
    }
    .collapse-item {
      padding: 5px 6px;
    }
  }
}

.header {
  display: flex;
  height: 72px;
  align-items: flex-start;
  padding: 12px 12px 20px;
  width: 480px;
  color: $dark-color07;
  background-color: $light-color01;
}

.icon {
  margin-right: 8px;
}

.title {
  @include TypographyTitleH4($white);
  color: #242e42;
  max-width: 360px;
  @include ellipsis;
}

.close {
  position: absolute;
  top: 30px;
  right: 20px;
  transform: translateY(-50%);
  cursor: pointer;
  border-radius: 4px;
  padding: 3px !important;
  :global {
    .icon {
      width: 24px;
      height: 24px;
    }
  }
}

.content {
  padding: 10px 12px;
  height: calc(100% - 80px);
  overflow: auto;
}
