@import '~scss/variables';

.wrapper {
  position: relative;
  :global {
    .h6 {
      line-height: 20px;
      margin-bottom: 12px;
  
      svg {
        width: 20px;
        height: 20px;
        margin-right: 8px;
        vertical-align: sub;
      }
    }

    .form-item {
      input, textarea {
        max-width: none;
      }
    }
  }
}

.formWrapper {
  padding: 12px;
  padding-bottom: 40px;
  margin-bottom: -40px;
  height: calc(100vh - 290px);
  background-color: $card-bg-color;
  overflow: auto;
}

.confirm {
  bottom: 12px;
  left: 12px;
  right: 12px;
  width: auto;
}