.alertRule {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #242e42;
  display: inline-block;
  margin-top: 12px;
  margin-bottom: 4px;
  position: relative;

  &::after {
    content: '*';
    right: -14px;
    top: 0px;
    position: absolute;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #ca2621;
  }
}
