@import '~scss/variables';
@import '~scss/mixins';

.pipelineCard {
  width: 256px;
  text-align: center;
  white-space: normal;
  user-select: none;
}

.pipelineCard__title {
  display: inline-block;
  position: relative;
  top: 18px;
  padding: 0 20px 0;
  height: 32px;
  max-width: 100%;
  font-size: 12px;
  font-weight: bolder;
  line-height: 32px;
  color: #ffffff;
  border-radius: 16px;
  background-color: #242e42;
  @include ellipsis;
}

.pipelineCard__title-error {
  background-color: #ca2621;
}

.pipelineCard__content {
  padding: 22px 12px 12px;
  text-align: left;
  background-color: #ffffff;
  border-radius: 8px;
  border: 1px solid transparent;
  box-shadow: 0 4px 8px 0 rgba(36, 46, 66, 0.06);

  & > .pipelineCard__item:last-child {
    margin-bottom: 0;
  }
}

.pipelineCard-error {
  border-color: #ca2621;
}

.errorTip {
  color: #ca2621;
  padding: 4px;
}

.pipelineCard-active {
  border: 1px solid #6b7b95;
  box-shadow: 0 4px 8px 0 rgba(36, 46, 66, 0.2);
}

.pipelineCard__item {
  padding: 8px;
  line-height: 20px;
  border-radius: 4px;
  margin-bottom: 8px;
  background-color: $lightest;
  @include break-all;

  & > .pipelineCard__item {
    margin-bottom: 8px;
    border-radius: 0;
    border-bottom: 1px dashed #ccd3db;
  }

  & > .pipelineCard__item:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: none;
  }

  .content__title {
    font-weight: bolder;
    color: #329dce;
    margin-bottom: 5px;
  }

  .content__title__error {
    color: #ca2621;
  }

  .content__title__noDetail {
    line-height: 40px;
    margin-bottom: 0 !important;

    .content__title__text {
      color: #000;
    }

    :global {
      .icon {
        margin-top: -2px;
        margin-right: 8px;
      }
    }
  }

  .content__text {
    color: #242e42;

    & > div {
      @include ellipsis;
    }
  }

  .content__detail {
    color: #242e42;
  }
}

.pipeline_column {
  display: inline-block;
  margin: 0 10px;

  vertical-align: top;
}

.addSteps {
  width: 100%;
  height: 32px;
  border-radius: 4px;
  padding: 5px 5px 5px 10px;
  font-weight: bolder;
  background-color: #ffffff;
  border: 1px dashed #ccd3db;
  user-select: none;
  cursor: pointer;

  :global {
    .icon {
      margin-top: -2px;
      margin-right: 8px;
    }
  }

  &:hover {
    background-color: $bg-color;
    border: 1px dashed #329dce;
    border-color: #51a6d3;
  }
}

.addBranchCard {
  margin-top: 12px;
  padding: 5px 5px 5px 22px;
  height: 32px;
  color: $dark-color06;
  font-weight: bolder;
  background-color: transparent;
  border-radius: 4px;
  border: 1px dashed #ccd3db;
  user-select: none;

  :global {
    .icon {
      margin-top: -2px;
      margin-right: 8px;
    }
  }

  &:hover {
    border: 1px dashed #329dce;
    background-color: $bg-color;
  }
}

.conditions {
  background-color: #ffefb14f;
  padding: 8px;
  padding-top: 2px;
}

.nestStage_content {
  position: relative;
  display: flex;
  padding-left: 8px;

  .indentBorder {
    position: absolute;
    left: 0;
    top: 0;
    width: 6px;
    height: 100%;
    background-color: #329dce;
  }

  .nestsStage_detail {
    background: white;
    width: 100%;
  }
}
