@import '~scss/variables';

.wrapper {
  width: 100%;
  min-width: 1200px;
  height: 100%;
  border-radius: 0;
  background: $light-color02;
  transition: all .3s ease-in-out;

  .operations {
    & > div,
    & > button {
      margin-right: 10px;
      display:inline-block;
      vertical-align: middle;
    }
  }
  
  .body,
  .header {
    border-radius: 0;
    background: transparent;
    border: none;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }

  .body {
    bottom: 0;
    max-height: inherit;
  }

  .close {
    padding: 3px;
    margin: 0;
    border-radius: 4px;
    :global {
      .icon {
        width: 24px;
        height: 24px;
      }
    }
  }

  &:after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 155px;
    height: 255px;
    background: url(/assets/custom-monitoring-modal.svg) no-repeat left bottom;
    opacity: .1;
    pointer-events: none;
  }

}
