@import '~scss/variables';

.logs_container {
  position: relative;
  max-height: calc(100vh - 200px);

  .log {
    .operations {
      position: absolute;
      display: flex;
      align-items: center;
      top: 28px;
      right: 28px;
      z-index: 2;
      height: 32px;
      padding: 6px 10px;
      color: $white;
      border-radius: 16px;
      background-color: #36435c;

      :global {
        .icon {
          opacity: 0.6;

          &:hover {
            opacity: 1;
            background-color: transparent;
          }
        }

        .icon-disabled {
          opacity: 0.5 !important;
          cursor: not-allowed !important;
        }
      }

      .split {
        margin: 0 8px;
      }
    }

    height: calc(100vh - 210px);
    overflow-y: auto;
    background-color: #242e42;
    padding-bottom: 10px;

    pre {
      color: white;
      padding: 10px 0 10px 20px;
    }
  }
}
