@import '~scss/variables';
@import '~scss/mixins';

.content {
  .radioListContent {
    display: block;
    height: 196px;
    overflow-y: auto;
  }

  .radioOnlyOneListContent {
    height: 36px;
    display: block;
  }

  .radioList {
    display: block;

    & > label {
      height: 36px;
      background: #ffffff;
      border: 1px solid #ccd3db;
      border-radius: 4px;
      display: flex;
      padding: 8px 12px;
      gap: 12px;
      margin-right: 0;
      margin-bottom: 4px;
      align-items: center;

      &::before {
        left: 13px;
        top: 11px;
      }

      &::after {
        left: 17px;
        top: 15px;
      }

      & > span {
        width: 100%;
      }
    }

    :global .checked {
      background: #242e42;
      & > span {
        color: #fff;
      }
    }
  }
}

.imageTagDetailItem {
  display: flex;
  align-items: center;

  .icon {
    flex-basis: 20px;
    min-width: 20px;
    margin-right: 8px;
  }
  .tagName {
    font-weight: bolder;
  }
}
