@import '~scss/variables';
@import '~scss/mixins';

.card {
  margin-bottom: 0;
}

.content {
  display: flex;
  flex-direction: column;
}

.tabList {
  display: flex;
  margin: 0 -6px;

  .tab {
    flex: 1;
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 6px;
    padding: 0 20px;
    height: 103px;
    border-radius: 4px;
    background-color: $card-bg-color;

    & > div + div {
      margin-left: 20px;
    }

    .circle {
      margin: 0 10px;
    }

    &.active {
      background-color: $blue;

      .info {
        color: $white;
      }
    }

    .info {
      width: calc(100% - 60px);
      color: #404e68;

      .title {
        font-size: $size-small;
        font-weight: 600;
        line-height: 1.67;
      }

      p {
        height: 32px;
        line-height: 32px;
        font-size: 24px;
        font-weight: 600;
        @include ellipsis;

        span {
          font-size: $size-small;
        }
      }
    }

    .img {
      position: absolute;
      top: 0;
      right: -30px;
      width: 80px;
      pointer-events: none;
    }
  }
}

.rank {
  margin-top: 12px;
  border-radius: 4px;
  background-color: $card-bg-color;
  box-shadow: none;
}