@import '~scss/variables';
@import '~scss/mixins';

.builderContent {
  border-radius: 4px;
  background-color: $lightest;

  li {
    height: 56px;
    padding: 8px 20px;
    margin-bottom: 8px;
    display: flex;
    border-radius: 4px;
    border: solid 1px $light-color03;
    background-color: #ffffff;
    .icon {
      display: inline-block;
      flex-basis: 24px;
      margin-top: 8px;
      margin-right: 15px;
      background-size: 24px;
      background-repeat: no-repeat;
    }
    .info {
      overflow: hidden;
      .value {
        height: 20px;
        font-size: 12px;
        font-weight: 600;
        color: #242e42;
        @include ellipsis;
      }
      .name {
        height: 20px;
        font-size: 12px;
        color: #79879c;
      }
    }
  }
}
