@import '~scss/variables';
@import '~scss/mixins';

.wrapper {
  border: solid 1px $light-color06;
  border-radius: 3px;
  padding: 12px;

  header {
    display: flex;
    line-height: 26x;
    justify-content: space-between;;
    margin-bottom: 10px;

    h3 {
      @include TypographySymbolText($dark-color06);
    }
  }

  .maximize {
    cursor: pointer;
  }

  & + .wrapper {
    margin-top: 20px;
  }
}