@import '~scss/variables';

.header {
  border-bottom: none;
}

.body.fullScreen {
  padding: 12px;
  max-height: calc(100vh - 30px);
  bottom: 0;
  overflow-y: auto;
  & > div {
    height: 100%;
  }
}

.container {
  min-width: 1000px;
}
