@import '~scss/variables';

.chart {
  position: relative;
  padding: 0;
  background-color: $lightest;
}

.title {
  position: absolute;
  left: 10px;
  top: 10px;
  color: $dark-grey;
  height: 20px;
  line-height: 20px;

  span {
    margin-right: 10px;
    color: $dark;
    font-weight: bold;

    strong {
      font-size: 22px;
    }
  }
}
