@import '~scss/variables';
@import '~scss/mixins';

.panel_p {
  background-color: $light-color01;
}
.panel_s {
  background-color: $light-color01;
  padding: 0 !important;
}
.list {
  min-height: 100px;
  overflow-y: auto;
  background-color: #fff;
  border-radius: $border-radius;
  border: 1px solid $border-color;

  & > li {
    padding: 8px 12px;
    display: flex;

    & > label {
      flex: 1 0;
    }

    & + li {
      border-top: 1px solid $border-color;
    }
  }
}
.sheader {
  background-color: $light-color02;
  padding: 7px 0 7px 12px;
}
.sbody {
  margin: 12px;
  border-radius: 4px;
}
.cidr {
  display: flex;
  align-items: center;
  & > :first-child {
    width: 320px;
  }
  & > :nth-child(2) {
    padding: 0 7px;
  }
  & > :last-child {
    width: 80px;
  }
  &_desc {
    margin-top: 4px;
    color: $dark-color01;
  }
}
.rulerow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $light-color02;
  padding: 6px 24px;
  border-radius: 22px;
  margin-bottom: 5px;
  & > :first-child {
    display: flex;
    & > :first-child {
      width: 160px;
      margin-right: 10px;
    }
    & > :last-child {
      width: 290px;
    }
  }
}
.error {
  border: 1px solid $danger !important;
}
.errColor {
  margin-top: 4px;
  color: $danger;
}
.addBtn {
  display: flex;
  justify-content: flex-end;
  padding-top: 12px;
}
.title {
  margin-top: 12px;
  margin-bottom: 8px;
}
.disp {
  margin-top: 4px;
  color: $second-text-color;
}
.dirCheck {
  :global {
    label.radio-button {
      @include TypographySymbolText();
      height: auto;
      padding: 15px;
      border-radius: $border-radius;
      border: 1px solid $border-color;
      margin-right: 4px;
      transition: all $trans-speed ease;

      &:hover,
      &.checked {
        border-color: $dark-color01;
        background-color: $white;
        color: $text-color;
      }

      &.checked {
        box-shadow: 0 4px 8px 0 rgba(36, 46, 66, 0.2);
      }

      span.label-value {
        width: 82px;
        height: auto;
      }
    }
  }
}
