@import '~scss/variables';
@import '~scss/mixins';

.body {
  padding: 0;
  overflow-y: hidden;
  max-height: none;
}

.content {
  padding: 12px;
  background-color: $white;
}

.forms {
  display: flex;
  padding: 12px;
  border-radius: 4px;
  background-color: $card-bg-color;
}

.tabs {
  width: 196px;

  li {
    display: flex;
    align-items: center;
    padding: 7px 10px;
    margin-bottom: 4px;
    line-height: 20px;
    border-radius: 18px;
    border: 1px solid transparent;
    cursor: pointer;

    &:last-child {
      margin-bottom: 0;
    }

    &.active {
      box-shadow: 0 4px 8px 0 rgba(25, 30, 41, 0.2);
      background-color: #36435c;
      border: 1px solid #404e68;

      p {
        color: #fff;
      }
    }

    .tip {
      h6 {
        @include TypographyTitleH6($white);
      }
      p {
        @include TypographyParagraph($dark-color01);
        white-space: pre-line;
      }
    }

    p {
      width: 100%;
      padding-right: 10px;
      color: $third-text-color;
      font-weight: 500;
      pointer-events: none;

      @include ellipsis;
    }

    .tooltipTrigger {
      position: relative;

      .tipIcon {
        &::after {
          content: '!';
          display: inline-block;
          position: absolute;
          text-align: center;
          width: 8px;
          height: 8px;
          right: 3px;
          bottom: 0;
          border-radius: 1px;
          z-index: 3;
          color: #fff;
          background-color: $yellow-color03;
          line-height: 8px;
          font-size: 6px;
          font-weight: bold;
        }
      }
    }

    :global(.icon) {
      min-width: 16px;
      margin-right: 6px;
      pointer-events: none;
    }

    .updateIcon {
      display: none;

      &.active {
        display: block;
      }
    }
  }
}

.formWrapper {
  position: relative;
  width: calc(100% - 208px);
  margin-left: 12px;
  border-radius: 4px;
  background-color: $white;
  border: 1px solid $light-color03;
  overflow: hidden;

  :global {
    .h5,
    .h4 {
      font-size: 16px;
      line-height: 22px;
      margin-bottom: 25px;

      svg {
        width: 20px;
        height: 20px;
        margin-right: 12px;
        vertical-align: sub;
      }
    }

    .h4,
    .h5 {
      margin: 12px 12px 25px;
    }

    .h4 + form,
    .h5 + form {
      margin: 0 12px 12px;
    }

    .form-wrapper {
      margin: 0 -12px -12px;

      .h4,
      .h5 {
        margin: 12px 24px 25px !important;
      }
    }
  }

  .operations {
    position: relative;
    margin: 12px;
    height: 36px;
    visibility: hidden;
    opacity: 0;
    transform: translate(0, 48px);
    transition: all $trans-speed;

    &.active {
      visibility: visible;
      opacity: 1;
      transform: translate(0);
    }

    button {
      margin-right: 12px;
    }
  }

  .form {
    display: none;
    max-height: calc(100vh - 230px);
    min-height: 478px;
    padding: 12px;
    overflow-y: scroll;

    &.active {
      display: block;
    }
  }
}

.footer {
  text-align: right;
  padding: 12px 20px;
  background-color: $light;
  border-radius: 0 0 $border-radius $border-radius;
}
