@import '~scss/variables';

.slider {
  width: 100%;
  margin-right: 15px;
  padding: 5px;

  :global {
    .slider {
      padding: 0;
    }

    .slider-mark {
      top: 18px;
    }

    .slider-with-marks {
      margin-top: 4px;
      margin-bottom: 14px;
    }

    .slider-handle {
      margin-top: -5px;
    }

    .slider-mark-text {
      color: #54617a;
      font-weight: 300;
      font-family: $font-family-id;
      line-height: 14px;
    }
  }
}

.withUnit {
  position: relative;

  :global {
    input.input {
      min-width: 72px;
      padding-right: 28px;
      text-align: center;
    }
  }
}

.unit {
  position: absolute;
  top: 6px;
  right: 8px;
  color: $second-title-color;
}

.numberInput {
  width: 138px;
}
