@import '~scss/variables';
@import '~scss/mixins';

.wrapper {
  & > p {
    @include TypographyParagraph($dark-color01);
  }
}

.tags {
  & > span {
    height: auto;

    & > span {
      display: inline-block;
      vertical-align: middle;

      & + span {
        margin-left: 4px;
      }
    }

    & + span {
      margin-left: 4px;
    }
  }

  .tag {
    & > span:last-of-type {
      display: inline;

      & > span:first-of-type {
        height: 20px;
      }
    }
  }
}
