@import '~scss/variables';
@import '~scss/mixins';

.mode {
  display: flex;
}

.editor {
  position: relative;
  width: 100%;
  height: 100%;
}

.fileList {
  min-width: 220px;
  padding-right: 20px;

  .header {
    display: flex;
    justify-content: space-between;
    height: 32px;
    line-height: 32px;

    .title {
      font-size: $size-normal;
      font-weight: 600;
    }

    .operations {
      float: right;

      > * {
        display: inline-block;
        vertical-align: middle;
      }
    }
  }

  ul {
    padding: 12px 0;
    overflow: auto;

    li {
      padding: 8px 10px;
      margin: 0 0 4px 0;
      height: 36px;
      line-height: 20px;
      border-radius: 18px;
      background-color: transparent;
      border: 1px solid transparent;
      cursor: pointer;

      @include ellipsis;

      :global(.icon) {
        display: inline-block;
        vertical-align: top;
        min-width: 16px;
        margin: 1px 7px 0 0;
      }

      &:hover {
        background-color: $btn-default-active-bg;
        border-color: $btn-default-active-bg;
      }

      &.active {
        background-color: $light;
        border-color: $border-color;
        box-shadow: 0 4px 12px 0 rgba(36, 46, 66, 0.1);
      }
    }
  }
}
