.wrapper {
  :global {
    .h4 {
      text-shadow: 0 4px 8px rgba(36, 46, 66, 0.1);
      font-size: 20px;
      font-weight: 600;
      line-height: 1.4;
    }
  }
}

.alert {
  width: 455px;
  margin: 12px 0;
}

.dropdown {
  top: -36px !important;
}