@import '~scss/variables';
@import '~scss/mixins';

.wrapper {
  display: inline-block;
  vertical-align: middle;
  height: 20px;
  padding: 0 4px;
  font-size: $size-small;
  line-height: 20px;
  font-weight: 600;
  border-radius: 2px;
  max-width: 100px;
  color: $white;
  background-color: $dark-color06;
  @include ellipsis;

  &.secondary {
    color: $white;
    background-color: $dark-color05;
  }

  &.warning {
    color: $white;
    background-color: $yellow-color03;
  }

  &.primary {
    color: $white;
    background-color: $green-color03;
  }

  &.info {
    color: $white;
    background-color: $blue-color03;
  }
}
