@import '~scss/variables';

.wrapper {
  height: 100%;
  padding: 12px;

  :global {
    .spin-nested-loading {
      height: calc(100% - 28px) !important;
      max-height: 244px;
      overflow-x: hidden;
      overflow-y: auto;
    }
  }
}

.title {
  height: 20px;
  line-height: 20px;
  font-weight: 600;
  font-size: $size-normal;
  margin-bottom: 8px;
}

.list {
  position: relative;
}

.item {
  display: flex;
  align-items: center;
  padding: 12px;
  border-radius: 4px;
  border: 1px solid $light-color03;
  background-color: $white;

  & + .item {
    margin-top: 8px;
  }

  .icon {
    position: relative;
    width: 40px;
    height: 40px;

    .status {
      position: absolute;
      right: -8px;
      bottom: -3px;
    }
  }

  .info {
    display: flex;
    align-items: center;
    width: calc(100% - 40px);
    padding: 0 12px;

    p {
      flex: 1;
      max-width: 200px;

      strong {
        display: block;
        font-size: $size-normal;
        line-height: 1.43;
        color: #242e42;
      }

      span {
        line-height: 1.67;
        color: #79879c;
      }
    }

    .tag {
      margin-left: 8px;
      color: #fff;
    }
  }
}

.emtpy {
  height: 244px;
}
