@import '~scss/variables';

.deployment_codeResource {
  display: flex;
  background-color: white;
  li {
    border: none;
    border-radius: 4px;
    background-color: $lightest;
  }
  & > :first-child {
    width: 60%;
    margin-right: 20px;
  }
  & > :last-child {
    flex-grow: 1;
  }
}
