@import '~scss/variables';
@import '~scss/mixins';

.title {
  @include TypographySymbolText();
  margin-bottom: 8px;
}

.content {
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid $border-color;
  border-radius: 2px;
}
