@import '~scss/variables';
@import '~scss/mixins';

.titleWrapper {
  position: relative;
  margin-bottom: 20px;
  padding: 12px;
  border-radius: $border-radius;
  background-color: #242e42;
  box-shadow: 0 8px 16px 0 rgba(36, 46, 66, 0.2);
  cursor: pointer;

  .icon {
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    margin-right: 12px;
  }

  .text {
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 60px);

    :global .h6 {
      font-family: $font-family-id;
      line-height: 1.43;
      color: #ffffff;
      @include ellipsis;
    }

    p {
      color: #d8dee5;
    }
  }

  .arrow {
    position: absolute;
    top: 50%;
    right: 12px;
    width: 20px;
    height: 20px;
    padding: 3px;
    transform: translateY(-50%);
    border-radius: 50%;
    background-color: rgba(85, 188, 138, 0.1);

    :global .icon {
      width: 14px;
      height: 14px;
      background-color: $primary;
      border-radius: 50%;
      vertical-align: inherit;
    }
  }
}

.dropdown {
  background-color: #242e42;

  :global {
    .dropdown-content {
      max-height: 300px;
      overflow-y: auto;
      overflow-x: hidden;
    }

    .menu {
      padding: 12px;
    }

    .menu-item {
      padding: 6px 20px 6px 14px;

      img {
        width: 16px;
        height: 16px;
        margin-right: 10px;
      }
    }
  }
}

.bottom {
  position: relative;
  text-align: center;
}
