@import '~scss/variables';

.chart {
  position: relative;
  padding: 0;
  border-radius: 4px;
  background-color: $lightest;
}

.title {
  position: absolute;
  left: 20px;
  top: 10px;
  height: 20px;
  line-height: 20px;
  font-weight: bold;
}

.legend {
  justify-content: flex-start;
  margin: 0;
  max-height: 200px;
  padding: 5px 0 10px;
  overflow: auto;
  white-space: nowrap;
}
