@import '~scss/variables';
$search-border: solid 1px $light-color02;

.detailContainer {
  padding: 12px 12px 0px 12px;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.searchBox {
  width: 1376px;
  height: 40px;
  margin-bottom: 8px;
  background-color: #f9fbfd;
  display: flex;
  align-items: center;
  z-index: 50;

  .inputBox {
    width: 1100px;
    height: 32px;
    margin: 0 12px;
    border-radius: 16px;
    border: solid 1px #eff4f9;
    background-color: $light-color02;

    input {
      background-color: $light-color02;
      size: $size-small;
      line-height: 20px;
    }
  }

  .searchRecent {
    width: 240px;
    height: 32px;
  }
}

.timeLine {
  // position: sticky;
  // top: 60px;
  width: 1376px;
  height: 56px;
  background-color: #242e42;
  z-index: 1;
}

.table {
  width: 1376px;
  height: calc(100% - 104px);
  border-radius: 2px;
  background-color: #f9fbfd;
  position: relative;
  z-index: 0;

  .drawer {
    position: absolute;
    right: 0;
    top: 0;
    width: 492px;
    height: 100%;
    background-color: #ffffff;
    z-index: 30;
    overflow-y: scroll;
    border-right: solid 1px #ccd3db;
  }

  .no_drawer {
    display: none;
  }
}

.tableHead {
  width: 100%;
  height: 28px;
  border: solid 1px #79879c;
  border-radius: 2px;
  box-shadow: 0 4px 8px rgba(36, 46, 66, 0.2);
  display: flex;
  position: absolute;
  top: 8px;
  background-color: #fff;
  z-index: 10;

  @at-root {
    .timeTitle {
      width: 188px;
      line-height: 26px;
      background-color: #e3e9ef;
      padding: 0 8px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: $font-bold;

      img {
        &:hover {
          cursor: pointer;
        }
      }

      .sortAgain {
        transform: rotateZ(180deg);
      }
    }

    .typeTitle {
      width: 115px;
      line-height: 26px;
      font-weight: $font-bold;
      padding-left: 25px;
    }

    .sourceTitle {
      width: 341px;
      line-height: 26px;
      font-weight: $font-bold;
    }

    .reasonTitle {
      width: 232px;
      line-height: 26px;
      font-weight: $font-bold;
    }

    .messageTitle {
      flex: 1;
      line-height: 26px;
      font-weight: $font-bold;
    }
  }
}

.tableContent {
  width: 100%;
  height: calc(100% - 36px);
  overflow-y: scroll;
  z-index: 5;
  position: absolute;
  top: 36px;
  font-size: $size-small;

  @at-root {
    .title {
      width: 196px;
      line-height: 24px;
      color: #3385b0;
      padding: 0 16px;
      padding-right: 10px;
    }

    .type {
      width: 115px;
      padding-left: 25px;
      padding-right: 10px;
      line-height: 20px;

      .normal {
        background-color: #eff4f9;
        border-radius: 1px;
        width: 54px;
        text-align: center;
        font-weight: $font-bold;
      }

      .warning {
        background-color: #f5a623;
        border-radius: 1px;
        width: 54px;
        text-align: center;
        font-weight: $font-bold;
      }
    }

    .reason {
      width: 232px;
      line-height: 20px;
      padding-right: 10px;
    }

    .source {
      width: 326px;
      height: 24px;
      line-height: 20px;
      margin-right: 15px;
      display: flex;
      white-space: nowrap;
      overflow: scroll;

      .sourceType {
        display: block;
        height: 20px;
        line-height: 20px;
        border-radius: 1px;
        margin-right: 8px;
        background-color: #d8dee5;
        font-weight: $font-bold;
      }
    }

    .message {
      width: 479px;
      height: 24px;
      white-space: nowrap;
      line-height: 20px;
      margin-left: 10px;
      overflow: scroll;
    }

    .hightLightMatch {
      background: $yellow-color02;
    }
  }
}

.drawerPanel {
  width: 100%;
  height: 100%;
  padding: 12px 12px 0px 12px;
  overflow-y: scroll;
  font-size: $size-small;

  .title {
    font-weight: $font-bold;
    line-height: 20px;
    color: $dark-color07;
    margin-bottom: 12px;
    padding: 0;
  }

  .desLine {
    height: 32px;
    font-size: 12px;
    line-height: 20px;
    color: #79879c;
    padding-left: 12px;
    display: flex;
    align-items: center;

    .left {
      width: 110px;
    }

    .right {
      flex: 1;
      color: $dark-color07;
    }
  }

  .reasonBox {
    width: 100%;
    overflow: hidden;
    padding-top: 12px;
    color: $dark-color07;

    .title {
      font-size: 12px;
      width: 100%;
      line-height: 20px;
      margin-bottom: 4px;
      font-weight: $font-bold;
    }

    .text {
      width: 100%;
      overflow: hidden;
      font-size: 12px;
      line-height: 20px;
    }
  }
}

:global {
  .searchBar {
    flex: 1;
    border: none;
    border: $search-border;
    border-left: none;
    border-radius: 0 16px 16px 0;
    line-height: 32px;
    background-color: $light-color02;

    input {
      background-color: $light-color02;
      size: $size-small;
      line-height: 20px;
    }
  }

  .ReactVirtualized__List {
    outline: none;
  }
}
