@import '~scss/variables';

.wrapper {
  & > div {
    border-radius: 4px;
    padding: 10px;
    h3 {
      line-height: 2;
      font-weight: bold;
    }
    margin-bottom: 10px;
    background: $white;
    cursor: pointer;
  }

  .select {
    background: $dark-color07;
    color: $white;
  }
}

.colors {
  display: flex;
  height: 30px;

  div {
    flex: 1;
  }
}