@import "~scss/variables";

.password {
  width: 455px;
}


.textarea {
  :global .textarea {
    max-width: 640px;
  }
}

.option {
  overflow: hidden;

  p {
    color: #7e95ad;
  }

  strong {
    color: $text-color;
    font-family: $font-family-id;
    overflow: hidden;
  }
}