@import '~scss/variables';
@import '~scss/mixins';

.wrapper {
  position: relative;
  padding: 20px;
  min-height: 50%;

  :global {
    .h5 {
      margin-bottom: 12px;
      line-height: 1.5;
    }
  }
}

.empty {
  padding: 80px 0;
  text-align: center;
  border-radius: 4px;
  border: solid 1px $light-color03;
  background-color: #ffffff;

  p {
    color: $second-text-color;
    margin-bottom: 8px;
  }
}

.card {
  padding: 18px 20px;
  border-radius: 4px;
  background-color: #ffffff;
  border: solid 1px $light-color03;
  transition: all $trans-speed ease-in-out;

  &:hover {
    box-shadow: 0 8px 16px 0 rgba(36, 46, 66, 0.08);

    :global .buttons {
      display: block;
    }
  }

  & + .card {
    margin-top: 12px;
  }
}

.content {
  position: relative;
  margin-bottom: 12px;

  :global .buttons {
    display: none;
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);

    & > button {
      margin: 0;
    }
  }

  & > svg {
    vertical-align: middle;
  }
}

.title {
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  font-family: $font-family-id;
  font-size: $size-normal;
  font-weight: $font-bold;
  line-height: 1.43;
  color: $text-color;
  vertical-align: middle;

  p {
    font-size: $body-size;
    color: #79879c;
    font-weight: $font-normal;

    span + span {
      margin-left: 100px;
    }
  }
}

.path {
  padding: 8px 20px;
  border-radius: 4px;
  background-color: $bg-color;

  & + .path {
    margin-top: 4px;
  }

  span {
    text-align: left;
    color: $second-text-color;

    strong {
      font-family: $font-family-id;
      font-size: $size-normal;
      line-height: 1.43;
      color: $text-color;
    }
  }
}

.error {
  position: absolute;
  bottom: -12px;
  left: 20px;
  color: $red !important;

  strong {
    color: $red !important;
  }
}
