@import '~scss/variables';

.level {
  display: flex;

  & > div {
    flex: 1;
    padding: 12px;
    background-color: $light-color01;
    transition: all $trans-speed ease-in-out;
    cursor: pointer;

    &:hover {
      background-color: $light-color02;
    }

    &:active {
      background-color: $light-color03;
    }
  }
}