@import '~scss/variables';
@import '~scss/mixins';

.wrapper {
  padding: 12px;
  background-color: $lightest;
  border-radius: $border-radius;
}

.probeItem {
  padding: 12px 16px;
  border-radius: $border-radius;
  border: 1px solid $border-color;
  background-color: #fff;

  & + .probeItem {
    margin-top: 8px;
  }
}

.probeType {
  margin-left: 4px;
}
