@import '~scss/mixins';

.apps {
  padding: 8px;

  .app {
    position: relative;
    align-items: center;
    height: 64px;
    padding: 12px;
    background-color: $lightest;
    border-radius: $border-radius;
    cursor: pointer;

    .icon {
      float: left;
      display: inline-block;
      margin-right: 12px;
      width: 40px;
      height: 40px;
      line-height: 40px;
      background-color: $bg-color;
    }

    .title {
      & > div {
        @include TypographyTitleH6($dark-color07);
        transition: all $trans-speed ease-in-out;
      }

      & > p {
        @include TypographyParagraph($dark-color01);
        @include ellipsis;
      }

      &:hover {
        & > div {
          color: $primary;
        }
      }
    }
  }
}

.more {
  position: absolute;
  top: 0;
  right: 0;
  color: $sub;
}
