@import '~scss/variables';
@import '~scss/mixins';

.card {
}

.content {
  display: flex;
}

.tabList {
  display: flex;
  flex-direction: column;
  width: 242px;
  margin-right: 12px;

  .tab {
    position: relative;
    flex: 1;
    display: flex;
    align-items: center;
    min-height: 68px;
    border-radius: 4px;
    background-color: $card-bg-color;
    cursor: pointer;

    & + .tab {
      margin-top: 8px;
    }

    &.active {
      background-color: $green;
    }

    .img {
      position: absolute;
      top: 0;
      right: -30px;
      width: 80px;
      height: 80px;
      background-image: url('/assets/banner-icon-1.svg');
      background-size: 80px auto;
      background-repeat: no-repeat;
      pointer-events: none;
    }

    .inner {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      border-radius: 4px;
    }
  }
}

.tabContent {
  flex: 1;

  .inner {
    height: 100%;
    border-radius: 4px;
    background-color: $card-bg-color;

    :global {
      .spin-nested-loading,
      .spin-container {
        height: 100%;
      }
    }
  }
}
