@import '~scss/variables';
@import '~scss/mixins';

.wrapper {
  width: 30%;
  min-width: 356px;
  background-color: #fff;
  border-radius: $border-radius;
  border: 1px solid $border-color;
  overflow: auto;

  .empty,
  .loading {
    @include middle;
    height: 100%;
    padding: 12px 20px;
    text-align: center;
  }
}

.treeWrapper {
  display: inline-block;
  padding: 20px;
}
