@import '~scss/variables';
@import '~scss/mixins';

.monitors {
  padding: 20px;
  overflow: hidden;
}

.title {
  font-size: $size-normal;
  font-weight: 600;
  line-height: 1.43;
}

.podStatus {
  margin-right: 20px;

  .title {
    margin-bottom: 18px;
  }
}
