@import '~scss/variables';
@import '~scss/mixins';

.cluster {
  padding: 6px 8px 8px;
  border-radius: 2px;
  background-color: $dark-color07;
  cursor: pointer;
 
  .title {
    @include TypographySymbolText(#fff);

    & > span {
      display: inline-block;
      margin-right: 4px;
      vertical-align: middle;
    }
  }

  &.selected {
    background-color: $green-color05;
  }

  & + .cluster {
    margin-top: 4px;
  }
}