@import '~scss/variables';
@import '~scss/mixins';

.list {
  margin-bottom: 12px;
}

.card {
  padding-bottom: 55px;
}

.inputs {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 4px 12px;
  background-color: $lightest;
  border-radius: 0 0 4px 4px;

  input {
    width: 100%;
    max-width: none !important;
  }
}

.limits {
  right: 20px;
  @include vertical-center;
  @include TypographyTitleH6();

  .limit {
    :global .icon {
      margin-right: 4px;
    }

    & + .limit {
      margin-left: 14px;
    }

    & > span {
      vertical-align: middle;
    }
  }
}
