@import '~scss/variables';

.wrapper {
  padding: 8px;
  border-radius: 4px;
  background-color: #ffffff;
  border: solid 1px $border-color;
}

.replicas {
  width: 320px;
  padding: 8px;
  border-radius: 4px;
  background-color: $bg-color;
  text-align: center;

  & > div {
    color: $text-color;
  }

  input {
    width: 192px !important;
    border-radius: 4px !important;
    text-align: center;
  }

  :global {
    .field.has-addons .control:not(:last-child) {
      margin: 0;
    }
  }
}
