@import '~scss/variables';
@import '~scss/mixins';

.image {
  width: 120px;
  height: 120px;
  border-radius: $border-radius;
  background-color: $lightest;
}

.upload {
  position: relative;
  height: 120px;
  padding: 24px;
  border-radius: 4px;
  background-color: #ffffff;
  border: dashed 1px #d8dee5;
  cursor: pointer;
  transition: all $trans-speed ease-in-out;

  :global {
    .icon {
      left: 24px;
      @include vertical-center;
    }
  }

  & > p {
    left: 80px;
    right: 24px;
    color: #79879c;
    @include vertical-center;
  }

  &:hover {
    background-color: $lightest;
  }

  &:active {
    background-color: #ebf0f3;
  }
}
