@import '~scss/variables';

.chart {
  position: relative;
  padding: 0;
  border-radius: 4px;
  background-color: $lightest;

  :global {
    .recharts-xAxis {
      .recharts-cartesian-axis-tick {
        &:first-of-type {
          .recharts-cartesian-axis-tick-value {
            transform: translateX(13px);
          }
        }
        &:last-of-type {
          .recharts-cartesian-axis-tick-value {
            transform: translateX(-13px);
          }
        }
      }
    }
  }
}

.title {
  position: absolute;
  left: 13px;
  top: 8px;
  height: 20px;
  line-height: 20px;
  font-weight: bold;
}
