@import '~scss/variables';

.body {
  padding: 0;
  bottom: 0 !important;
  max-height: calc(100vh - 98px);
}

.containerLog {
  margin-bottom: 0px;
  box-shadow: none !important;

  &Content {
    height: calc(100vh - 160px);
    max-height: none;
  }
}
