@import '~scss/variables';
@import '~scss/mixins';

.modal {
  max-width: 1400px;
}

.body {
  bottom: 80px !important;
  max-height: calc(100vh - 154px);
  padding: 20px;
  overflow-y: auto !important;
}
