.wrapper {
  padding: 20px;

  :global .h5 {
    line-height: 1.5;
    margin-bottom: 12px;

    svg {
      width: 20px;
      height: 20px;
      margin-right: 12px;
      vertical-align: sub;
    }
  }
}
