@import '~scss/variables';
@import '~scss/mixins';

.title {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px 8px 0 0;
  box-shadow: 0 4px 8px 0 rgba(36, 46, 66, 0.06);

  :global {
    .h3 {
      margin-bottom: 8px;
      line-height: 1.33;
      color: #242e42;
      text-shadow: 0 2px 4px rgba(36, 46, 66, 0.1);
    }
  }

  & > p {
    color: #79879c;
  }
}

.links {
  margin-top: 12px;

  a {
    color: $second-text-color;

    :global(.icon) {
      margin-right: 8px;
      vertical-align: text-bottom;
    }

    & + a {
      margin-left: 14px;
    }
  }
}

.tabs {
  position: relative;
  padding: 8px 20px;
  border-radius: 0 0 $border-radius $border-radius;
  background-color: $lightest;
  z-index: 1;

  a + a {
    margin-left: 12px;
  }
}

.item {
  margin-top: 12px;
  border-radius: $border-radius;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(36, 46, 66, 0.06);
  transition: all $trans-speed ease-in-out;

  &:hover {
    box-shadow: 0 6px 16px 0 rgba(33, 43, 54, 0.2);
  }
}

.itemContent {
  position: relative;
  padding: 20px 24px;
  background-color: #ffffff;

  .icon {
    width: 40px;
    height: 40px;
    border-radius: 4px;
  }

  .name {
    :global {
      .h6 {
        font-family: $font-family-id;
        font-size: $size-medium;
        line-height: 1.5;
        word-break: break-all;
      }
    }

    & > p {
      color: #79879c;
    }
  }

  .status {
    & > div {
      color: #242e42;
      font-weight: $font-bold;
    }

    & > p {
      color: #79879c;
    }
  }

  :global .column {
    display: flex;
    align-items: center;
  }
}

.footer {
  position: relative;
  height: 1px;
  margin-top: 21px;
  border-style: solid;
  border-width: 1px 0 0 0;
  border-image-source: radial-gradient(
    circle at 50% 7%,
    #d8dee5,
    rgba(216, 222, 229, 0.16)
  );
  border-image-slice: 1;

  & > p {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 0 8px;
    background-color: #ecf1f7;
    transform: translate(-50%, -50%);
    color: #79879c;
  }
}
