@import '~scss/variables';

.main {
  min-height: auto;
  cursor: pointer;

  & > div:first-child {
    margin-bottom: 0;
  }

  & > div:last-child {
    display: none;
  }
}

.content {
  display: none;
  margin-top: 20px;
}

.expanded {
  min-height: 130px;

  & > div:last-child {
    display: flex;
  }

  .content {
    display: block;
  }

  .arrow {
    transform-origin: center center;
    transform: rotate(180deg);
  }
}

.title {
  display: flex;
  align-items: center;
  line-height: 20px;

  :global .icon {
    margin-right: 8px;
  }
}

.arrow {
  position: relative;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: rgba(85, 188, 138, 0.1);
  transition: all $trans-speed;

  &::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 16.5px;
    height: 16.5px;
    background-color: $green;
    border-radius: 50%;
    z-index: 1;
  }

  :global(.icon) {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
}

.variables {
  width: 100%;

  li {
    display: flex;
    padding: 11px 32px;
    margin-bottom: 8px;
    line-height: 20px;
    background-color: $bg-color;
    border: 1px solid $border-color;
    border-radius: 20px;
    font-size: $body-size;

    &:last-child {
      margin-bottom: 0;
    }

    .name {
      width: 40%;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;

      & + div {
        width: 60%;
        word-break: break-all;
      }
    }
  }
}
