@import '~scss/variables';

.title {
  display: flex;
  margin-bottom: 12px;

  .icon {
    margin-right: 12px;
  }

  .text {
    margin-left: 12px;
    :global .h4 {
      font-family: $font-family-id;
    }

    & > p {
      color: $dark-color01;
    }
  }
}