@import '~scss/variables';
@import '~scss/mixins';

.wrapper {
  position: relative;
}

.name {
  margin: 0 8px;
  @include TypographyTitleH6($white);
}

.options {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 2px;
  overflow: hidden;
  z-index: 10;
  & > .option {
    border-radius: 0;
  }
}

.option {
  position: relative;
  padding: 8px;
  padding-right: 55px;
  border-radius: 2px;
  background-color: $dark-color07;
  color: $white;
  cursor: pointer;
}

.indicator {
  @include vertical-center;
  right: 12px;
}
