@import '~scss/variables';
@import '~scss/mixins';

.empty {
  padding: 32px 0;
  text-align: center;

  .icon {
    display: inline-block;
    padding: 10px;
    border-radius: 100px 0 100px 100px;
    background-color: $bg-color;
  }

  .text {
    margin-top: 12px;
    & > div {
      font-size: $size-normal;
      font-weight: $font-bold;
      line-height: 20px;
    }

    & > p {
      margin: 0 auto;
      width: 520px;
      color: #79879c;
    }
  }
}
