@import '~scss/variables';
@import '~scss/mixins';

.content {
  padding: 12px;
  border-radius: 4px;
  background-color: $card-bg-color;
}

.item {
  display: flex;
  padding: 12px;
  margin-bottom: 8px;
  background-color: $white;
  border: solid 1px $border-color;
  border-radius: 4px;

  &:last-child {
    margin-bottom: 0;
  }

  & > div {
    margin-right: 12px;
    min-width: 20%;
    &:first-child {
      min-width: 35%;
    }
  }
}

.empty {
  padding: 20px;
  color: $light-color08;
  font-size: $size-medium;
  font-weight: 600;
  line-height: 1.5;
  background-color: $th-bg-color;
  border-radius: 4px;
}
