@import '~scss/variables';
@import '~scss/mixins';

.container {
  ul {
    margin-top: 8px;

    & > li {
      height: 44px;
      padding: 12px 32px;
      border-radius: 60px;
      background-color: $bg-color;
      border: solid 1px $border-color;
      font-family: $font-family-id;
      display: flex;

      & + li {
        margin-top: 8px;
      }

      & > span {
        display: inline-block;
        flex: 1;
        @include TypographyParagraph($dark-color01);

        & + span {
          margin-left: 20px;
          @include TypographyTitleH6($dark-color07);
        }
      }
    }
  }
}
