@import '~scss/variables';

.header {
  div > label {
    margin-right: 12px;
  }
}

.body {
  height: calc(100vh - 58px);
  max-height: none;
  background-color: $bg-color;
  padding: 0;
}
.templeHeight {
  height: 740px;
}

.title {
  position: absolute;
  left: 0px;
  top: 0px;
  padding-left: 20px;
  padding-top: 20px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  color: #242e42;
  text-shadow: 0 4px 8px rgba(36, 46, 66, 0.1);
}

.content {
  min-height: none;
}
