@import '~scss/variables';

.content {
  border-radius: 4px;
  background-color: $lightest;
  padding: 12px;
}

.btn_group {
  height: 40px;
  line-height: 32px;
  svg {
    margin-right: 4px;
  }
  button {
    float: right;
    margin-right: 6px;
  }
}

.pre {
  height: 450px;
  padding: 20px;
  overflow: auto;
  white-space: pre-wrap;
  color: white;
  font-size: 12px;
  border-radius: 4px;
  background-color: #242e42;
}
