@import '~scss/variables';

.wrapper {
  margin-top: 0;
  margin-bottom: 0 !important;
  border-radius: 4px;
  background-color: $lightest;

  :global {
    .column {
      padding: 12px 18px;
    }
  }
}
