@import '~scss/variables';
@import '~scss/mixins';

.editorTitle {
  margin: 4px 0 12px 0;
  @include TypographyTitleH6($dark-color07);
  :global .icon {
    margin-right: 8px;
  }

  & > span {
    display: inline-block;
    vertical-align: middle;
  }
}

.editor {
  padding: 8px;
  border-radius: $border-radius;
  border: solid 1px $light-color06;
  background-color: #ffffff;
}

.link {
  float: right;
  color: $blue-color04;

  &:hover {
    color: $blue-color04;
  }
}
