@import '~scss/variables';
@import '~scss/mixins';

.wrapper {
  border-radius: $border-radius;
  overflow: hidden;
}

.tabHeader {
  padding: 4px 12px;
  background-color: $light-color01;

  &Item {
    display: inline-block;
    min-width: 180px;
    padding: 12px;
    cursor: pointer;

    &:hover,
    &.active {
      background-color: #fff;
    }
  }
}

.tabContent {
  padding: 12px;
}

.chartWrapper {
  position: relative;
  background-color: $dark-color07;
  border-radius: $border-radius;
}
