html {
  overflow-y: visible; // overwrite overflow from minireset
  margin-right: calc(100% - 100vw); // fix jumping scrollbar
  background-color: $body-bg-color;
  height: 100%;
}

body {
  font-family: $font-family;
  font-size: $body-size;
  color: $text-color;
  min-width: 960px;
  height: 100%;
  line-height: 1.67;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

button,
input {
  font-family: $font-family;
  font-size: $body-size;
}

a {
  color: $text-color;
  cursor: pointer;
}

a,
a:hover,
a:focus,
a:active,
a:visited {
  text-decoration: none;
}

img {
  user-select: none;
}

div {
  box-sizing: border-box;
}

p {
  margin: 0;
}

pre {
  padding: 0;
  background-color: transparent;
  white-space: pre-wrap;
  font-size: $body-size;
  color: $text-color;
  font-family: $font-family-code;
  overflow: auto;
  -webkit-font-smoothing: unset;
}

@each $header, $size in $headings {
  .#{$header} {
    display: block;
    line-height: map-get($heading-heights, $header);
    font-size: $size;
    font-weight: 600;
    font-style: normal;
    color: $head-color;
    text-shadow: $head-shadow;
  }
}

@each $text, $color in $text-colors {
  .text-#{$text} {
    color: $color;
  }
}

.code {
  display: block;
  padding: 12px;
  border: 1px solid $light-color04;
  background-color: $light-color01;
}

.hover-show {
  visibility: hidden;
}

.item-name {
  display: flex;
  color: $text-color;
  font-family: $font-family-id;
  font-size: $body-size;
  font-weight: 600;

  .icon {
    margin-right: 8px;
    align-self: center;
  }

  &:hover {
    strong {
      color: $primary;
    }
  }
}

.hidden-input {
  position: absolute;
  width: 0;
  opacity: 0;
}

::-moz-selection {
  background: #369a6a;
  color: #fff;
}

::selection {
  background: #369a6a;
  color: #fff;
}

.icon-notification {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 16px;
  width: 16px;
  &.icon-success {
    background-image: $icon-status-success;
  }
  &.icon-info {
    background-image: $icon-status-info;
  }
  &.icon-warning {
    background-image: $icon-status-warning;
  }
  &.icon-error {
    background-image: $icon-status-error;
  }
}

.header-shadow {
  box-shadow: 0 4px 8px 0 rgba(36, 46, 66, 0.06) !important;
}

.apps-dark-header {
  background-color: $dark-color08 !important;
}

.loading {
  display: block;
  margin-top: 150px;
  text-align: center;
}

.custom-icon {
  svg {
    width: 16px;
    height: 16px;
    color: #324558;
    fill: #b6c2cd;
  }

  &:hover {
    svg {
      color: #00aa72;
      fill: #90e0c5;
    }
  }
}

.ks-page {
  &-loading {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
  }

  &-body {
    background-color: $body-bg-color;
  }

  &-side {
    position: fixed;
    top: 88px;
    width: $nav-width;
    padding: 0 20px 40px 20px;
    z-index: 201;

    @media (max-width: 1366px) {
      width: $narrow-nav-width;
    }

    &-title {
      position: relative;
      padding: 24px 8px;

      .icon {
        margin-right: 12px;
      }

      .h3 {
        display: inline-block;
        vertical-align: middle;
        font-size: 23px;
        line-height: 1.33;
        text-shadow: 0 2px 4px rgba(36, 46, 66, 0.1);
      }
    }

    &-bottom {
      position: absolute;
      left: 0;
      bottom: 0;
      height: 2px;
      border-style: solid;
      border-width: 1px 0 0 0;
      border-image-source: radial-gradient(
        circle at 50% 50%,
        #e3e9ef,
        rgba(216, 216, 216, 0)
      );
      border-image-slice: 1;
    }
  }

  &-nav {
    width: auto;
    padding: 0 12px 0 0;
    margin-right: -12px;
    z-index: 1;
    height: calc(100vh - 188px);
    overflow-y: auto;
  }

  &-main {
    overflow-y: auto;
    overflow-x: hidden;
    margin-left: $nav-width - 20px;
    padding: 20px;

    @media (max-width: 1366px) {
      margin-left: $narrow-nav-width - 20px;
    }
  }
}

[data-tooltip]:hover {
  &::before {
    content: attr(data-tooltip);
    position: absolute;
    bottom: -26px;
    display: inline-block;
    padding: 3px 6px;
    border-radius: 2px;
    background: #000;
    color: #fff;
    white-space: nowrap;
    z-index: 100;
  }
}
