.input-password {
  width: 100% !important;
  max-width: 455px;
}

// recharts
.chart {
  &-light {
    color: $dark !important;
    background-color: $lightest !important;
  }

  &-dark {
    color: $white !important;
    background-color: $dark !important;

    .recharts-cartesian-axis {
      text {
        fill: $grey;
      }
    }

    .recharts-cartesian-grid {
      line {
        stroke: $grey;
      }
    }
  }
}

// charts
.charttip {
  &-title {
    padding-left: 5px;
    margin: 0 0 2px;
    color: $white;
    font-weight: 600;
    line-height: 17px;
  }

  &-content {
    min-width: 120px;
    max-width: 220px;
    font-weight: normal;
    line-height: 17px;

    span {
      position: relative;
      display: block;
      padding: 0 0 0 22px;

      &::before {
        content: '';
        position: absolute;
        top: calc(50% + 1px);
        left: 6px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        transform: translate(0, -50%);
      }

      &.white::before {
        background-color: $white;
      }
      &.default::before {
        background-color: $blue;
      }
      &.totals::before {
        background-color: $white;
        opacity: 0.4;
      }
      &.active::before {
        background-color: $green;
      }
      &.warn::before {
        background-color: $yellow;
      }
      &.danger::before {
        background-color: $red;
      }
      &.total::before {
        background-color: $light;
      }
    }
  }
}

.radio-group-button {
  label.radio-button {
    position: relative;
    font-weight: 500;
    min-width: 117px;
    color: #36435c;
    padding: 4px 24px;
    border-radius: 16px !important;
    border: none;
    background-color: transparent;
    box-shadow: none !important;

    &:hover,
    &:active {
      background-color: transparent;
    }

    &.checked {
      background-color: #36435c;
      color: #ffffff;
    }
  }

  .badge-wrapper {
    @include vertical-center;
    right: 4px;
  }

  &.radio-with-badge {
    label.radio-button {
      padding-right: 44px;
    }
  }
}

// calendar
.flatpickr-calendar {
  &.open {
    z-index: 2000 !important;
  }

  .flatpickr-day {
    font-family: $font-family !important;
  }
}

.upload {
  display: block;
}

.ks-tag {
  font-size: $size-small;
  padding: 0 9px;
  border-radius: 1px;
  background-color: #329dce;
  text-shadow: 0 2px 4px rgba(36, 46, 66, 0.1);
  font-weight: 500;
  line-height: 1.33;
  color: #fff;
  cursor: default;

  &-disable {
    background-color: $light-color07;
  }

  & + .ks-tag {
    margin-left: 8px;
  }
}

.badge {
  min-width: 28px;
}

.badge-wrapper > span.badge.is-success {
  background-color: $primary;
}

.control.has-icons-left .icon,
.control.has-icons-right .icon {
  position: absolute;
  top: 50%;
  width: 16px;
  height: 16px;
  transform: translateY(-50%);
}

.control.has-icons-left {
  .input {
    padding-left: 40px;
  }

  .icon.is-left {
    left: 12px;
  }
}

.control.has-icons-right {
  .input {
    padding-right: 40px;
  }

  .icon.is-right {
    right: 12px;
  }
}

.form-group {
  background-color: #fff;
}

.datepicker {
  width: 100%;
}

.select {
  max-width: 100%;
}

.tooltip-desc {
  color: $dark-color01 !important;
}

.tag-critical {
  color: $white;
  background-color: $red-color03;
}