@import '~scss/variables';
@import '~scss/mixins';

.base {
  .info {
    display: flex;
    align-items: center;
  }

  .icon {
    position: relative;
    margin-right: 20px;
    width: 100px;
    height: 100px;
  }

  .words {
    min-width: 200px;
    margin-right: 40px;
  }

  .description {
    margin: -4px 0 32px 120px;
  }

  dl {
    margin-bottom: 8px;
    line-height: 20px;
    vertical-align: middle;
  }

  dd {
    font-weight: bold;
    color: $text-color;
  }

  dt {
    color: $second-text-color;
  }

  .title {
    margin-bottom: 12px;
    line-height: 20px;
    font-size: 14px;
    font-weight: bold;
    color: $title-color;
  }
}
