@import '~scss/variables';

.wrapper {
  position: relative;
}

.input {
  display: block;
  min-height: 32px;
  padding: 6px 12px;
  box-sizing: border-box;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.67;
  caret-color: $dark-color06;
  font-family: Menlo, Monaco, Consolas, Courier New, monospace;
  transition: all $trans-speed ease-in-out;
  outline: none;
}

.suggestions {
  position: absolute;
  top: 34px;
  left: 6px;
  width: 320px;
  padding: 4px 0;
  background-color: $text-color;
  border-radius: $border-radius;
  box-shadow: $card-shadow;
  color: $white;
  z-index: 1000;
}
