@import '~scss/variables';

.content {
  display: flex;
  margin: 0 -6px;
}

.item {
  flex: 1;
  margin: 0 6px;
  padding: 6px;
  border-radius: 4px;
  background-color: $card-bg-color;

  &.cursor {
    cursor: pointer;

    canvas {
      cursor: pointer;
    }

    svg {
      cursor: pointer;
    }
  }
}
