@import '~scss/variables';

.card {
  display: flex;
  padding: 12px;
  margin-bottom: 8px;
  background-color: $white;
  border: solid 1px $border-color;
  border-radius: 4px;
  align-items: center;
  transition: all $trans-speed ease-in-out;

  &:last-child {
    margin-bottom: 0;
  }

  & > div {
    margin-right: 12px;
    min-width: 20%;
    &:first-child {
      min-width: 35%;
    }
  }

  button.action {
    width: auto !important;
  }

  &:hover {
    border-color: $border-hover-color;
    box-shadow: 0 4px 8px 0 rgba(36, 46, 66, 0.2);

    :global .buttons {
      display: block;
    }
  }

  :global .buttons {
    display: none;
    height: 32px;
    padding: 0px 4px;
    border-radius: 4px;
    background-color: #fff;
    text-align: right;

    & > button {
      width: 56px;
      margin-left: 4px;
    }
  }
}
