@import '~scss/variables';

.wrapper {
  display: flex;
  height: 100%;

  .sidebar {
    width: 360px;
    margin-right: 20px;
    flex-shrink: 0;
    overflow: auto;
  }

  .content {
    flex: 1;
    border-radius: 8px;
    background: $white;
    color: $dark-color06;
    overflow: auto;
  }
}