@import '~scss/variables';
@import '~scss/mixins';

.wrapper {
  display: flex;
  width: $apps-content-width;
  padding: 16px 24px;
  margin: 0 auto;

  & > div {
    @include TypographySymbolText();

    & + div {
      position: relative;
      padding-left: 84px;
      &::before {
        content: '';
        @include vertical-center;
        left: 16px;
        height: 1px;
        width: 52px;
        border-bottom: 1px dashed $light-color07;
      }
    }

    & > span {
      display: inline-block;
      vertical-align: middle;
    }
  }
}

.indicator {
  width: 12px;
  height: 12px;
  margin-right: 8px;
  border-radius: 24px;
  box-sizing: border-box;

  &.pending {
    border: solid 2px $light-color08;
    background-color: $white;
  }

  &.current {
    box-shadow: 0 4px 8px 0 rgba(85, 188, 138, 0.2);
    border: solid 2px $primary;
    background-color: $white;
  }

  &.fullfill {
    background-color: $primary;
  }
}
