@import '~scss/variables';
@import '~scss/mixins';

.modal {
  max-width: 1400px;
}

.header {
  background-color: $bg-color;
  border-bottom: none;
}

.body {
  max-height: calc(100vh - 154px);
  padding: 20px;
  overflow-y: auto !important;
}

.title {
  position: relative;
  display: flex;
  padding: 20px;
  border-radius: 4px;
  background-color: $lightest;

  .text {
    width: 100%;
  }

  .text {
    width: 100%;
  }

  & > img {
    margin-right: 20px;
  }

  :global .h4 {
    font-family: $font-family-id;
    line-height: 1.4;
    max-width: calc(100% - 180px);
    overflow: hidden;
    text-overflow: ellipsis;
  }

  p {
    color: #79879c;

    strong {
      color: #242e42;
    }
  }

  button {
    position: absolute;
    @include vertical-center;
    right: 20px;
  }
}

.wrapper {
  margin-top: 12px;
  padding: 12px;
  border-radius: 4px;
  background-color: $lightest;
}

.loading {
  display: block;
  padding: 40px;
  text-align: center;
}

.sectionTitle {
  & > div {
    font-size: $size-normal;
    font-weight: $font-bold;
    line-height: 1.43;
  }

  & > p {
    color: #5f708a;
    margin-top: 4px;
    margin-bottom: 20px;
  }
}

.matchWrapper {
  position: relative;
  padding: 12px;
  border-radius: 4px;
  border: solid 1px $light-color03;
  background-color: #ffffff;

  ul {
    li {
      padding: 8px 12px;
      border-radius: 4px;
      background-color: $lightest;
      vertical-align: middle;

      & + li {
        margin-top: 4px;
      }

      & > strong {
        display: inline-block;
        vertical-align: middle;
        width: 200px;
        margin-left: 12px;
      }
    }
  }
}

.matchArrow {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  :global .icon {
    transform: rotate(90deg);
  }
}

.matchVersion {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px;
  height: 100%;
  border-radius: 2px;
  background-color: $lightest;
  text-align: center;
}

.governor {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffffe8;
  text-align: center;
  z-index: 2;
}

.barWrapper {
  padding: 4px;
  border-radius: 4px;
  border: solid 1px $light-color03;
  background-color: #ffffff;
}

.bar {
  padding: 5px;
  border-radius: 2px;
  background-color: #329dce;
  text-align: center;
  color: #ffffff;
  font-weight: $font-bold;
}

.mirrorBar {
  background-color: $light-color07;
}

.mirror {
  display: flex;
  .barWrapper {
    width: calc(50% - 32px);
    height: 40px;
  }
}

.mirrorIcon {
  padding: 7px 20px;
  text-align: center;

  img {
    width: 24px;
    height: 24px;
  }
}

.revertMirrorIcon {
  img {
    transform: scaleX(-1);
  }
}

.monitor {
  margin-top: 20px;
}
