@import '~scss/variables';
@import '~scss/mixins';

.body {
  padding: 0;
  overflow: hidden;
  max-height: none;
}

.switch {
  position: absolute;
  top: 50%;
  right: 72px;
  transform: translateY(-50%);
}

.close {
  position: absolute;
  @include vertical-center;
  right: 20px;
  width: 32px;
  height: 32px;
  padding: 6px;
  border-radius: $border-radius;
  background-color: #242e42;
  cursor: pointer;
}
