@import '~scss/variables';

.chart {
  position: relative;
  padding: 0;
  border-radius: 4px;
  background-color: $lightest;
}

.title {
  position: absolute;
  left: 2px;
  top: 0;
  height: 20px;
  line-height: 20px;
  white-space: nowrap;
  color: $dark-color01;
}

.dark {
  .title {
    color: #fff;
  }
}