@import '~scss/variables';
@import '~scss/mixins';

.templateParams {
  padding: 12px;
}

.container {
  padding: 12px;
  border-radius: 4px;
  background-color: $lightest;

  .params {
    min-height: 400px;
    border: 1px solid #ccd3db;
    background: #fff;
    position: relative;
  }
}
.params_container {
  padding: 12px;
  .itemWrapper {
    display: inline-block;
    width: 48.8%;
    margin-bottom: 12px;
    margin-right: 20px;
    &:nth-child(2n) {
      margin-right: 0;
    }
  }
}

.content {
  min-height: 400px;
}

.empty {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

  p {
    font-size: 14px;
    font-weight: 600;
    margin-top: 20px;
  }

  .icon {
    width: 60px;
    height: 60px;
    display: inline-block;
    padding: 6px;
    border-radius: 100px 0 100px 100px;
    background-color: $bg-color;
    img {
      width: 48px;
      height: 48px;
    }
  }
}

.timeOut {
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  p {
    font-size: 14px;
    font-weight: 600;
    margin-top: 20px;
  }

  .icon {
    width: 60px;
    height: 60px;
    display: inline-block;
    padding: 6px;
    border-radius: 100px 0 100px 100px;
    background-color: $bg-color;
    img {
      width: 48px;
      height: 48px;
    }
  }
}
