@import '~scss/variables';

.wrapper {
  border-radius: 4px;
  background-color: $card-bg-color;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
  border-bottom: 1px solid #d8dee5;

  :global {
    .radio-default {
      width: 313px;
    }

    .radio-group label.radio-button.is-small {
      font-size: 11px;
    }
  }

  .actions {
    display: flex;
    justify-content: flex-end;

    .select {
      width: 240px;
      margin-left: 12px;
    }

    .monitorTargetTips {
      height: 32px;
      margin-left: 10px;
    }
  }
}

.content {
  position: relative;
}

.box {
  height: 500px;
  max-height: calc(100vh - 260px);
  min-height: 300px;
  padding: 12px;

  .workloads {
    justify-content: flex-start;
  }
}

.item {
  display: flex;
  align-items: center;
  padding: 12px;
  border: 1px solid $light-color03;
  border-radius: 4px;
  background-color: $white;
  transition: box-shadow $trans-speed;
  cursor: pointer;
  user-select: none;

  & + .item {
    margin-top: 8px;
  }

  &:hover {
    box-shadow: $card-selector-shadow;

    .info {
      .checkbox {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  strong {
    display: block;
    line-height: 20px;
    font-size: $size-normal;
  }

  .info {
    flex: 0 0 auto;
    display: flex;
    align-items: center;

    .head {
      position: relative;
      width: 40px;
      height: 40px;
      margin: 0 12px;
    }

    .desc {
      width: 160px;
      margin: 0 12px;
    }

    .icon {
      position: relative;
      width: 40px;
      height: 40px;

      img {
        width: 100%;
        height: 100%;
      }

      .status {
        position: absolute;
        right: 2px;
        bottom: 2px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: $yellow;
        box-shadow: 0 4px 8px 0 rgba(245, 166, 35, 0.32);

        &.active {
          background-color: $green;
          box-shadow: 0 4px 8px 0 rgba(85, 188, 138, 0.32);
        }
      }
    }

    .checkbox {
      visibility: hidden;
      opacity: 0;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background-image: radial-gradient(
        circle at 50% 50%,
        #ffffff,
        rgba(255, 255, 255, 0.74) 59%,
        rgba(255, 255, 255, 0.68)
      );
      transition: all $trans-speed;

      &.checked {
        visibility: visible;
        opacity: 1;
      }

      & > * {
        pointer-events: none;
      }
    }
  }

  .metrics {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 20px;
    border-left: 1px dashed #d8dee5;

    & > div {
      width: 120px;
    }
  }
}
