@import '~scss/variables';

.modal {
  background: $light-color01;
  .body {
    position: static;
    top: 0;
    bottom: 0;
    padding: 0;
    max-height: unset;
    height: 100vh;
  }
}

.close {
  position: fixed;
  top: 20px;
  right: 20px;
  cursor: pointer;
  border-radius: 4px;
  padding: 3px !important;
  z-index: 10;
  :global {
    .icon {
      width: 24px;
      height: 24px;
    }
  }
}
