@import '~scss/variables';
@import '~scss/mixins';

.option {
  display: block;
  position: relative;
  width: 100%;
  @include ellipsis;
  & > span {
    margin-right: 6px;
    width: 16px;
    height: 16px;
  }
}

.select {
  margin-bottom: 4px;
}

.multi-repo {
  //cursor: pointer;
  margin-top: 4px;
  :global {
    .text-action {
      color: #329dce;
      font-weight: 600;
      line-height: 20px;
    }
  }
  &:hover {
    :global {
      .text-action {
        cursor: pointer;
      }
    }
    color: #242e42;
  }
}
