@import '~scss/variables';

.wrapper {
  padding: 0 20px;
  min-height: calc(100vh - 68px);
}

.header {
  display: flex;
  padding: 16px 0;
}

.sider {
  width: 354px;
  min-width: 354px;
}

.main {
  margin-left: 20px;
}

.nav {
  display: flex;
  align-items: center;
  height: 56px;
  padding: 0 8px;
  border-radius: $border-radius;
  background-color: $dark;
  margin: 0 0 12px;

  &Item {
    min-width: 96px;
    height: 32px;
    line-height: 32px;
    margin: 0 6px;
    padding: 0 14px;
    font-weight: 500;
    color: $white;
    border: 1px solid transparent;
    text-align: center;
    transition: all $trans-speed;

    &:first-child {
      margin-left: 0;
    }

    &.active {
      border-radius: 100px;
      box-shadow: $btn-primary-shadow;
      background-color: $primary;
      border-color: $primary;

      &:hover {
        color: $white;
      }
    }
  }
}

.loading {
  text-align: center;
  padding: 30px 0;
}
