@import '~scss/variables';
@import '~scss/mixins';

:global {
  .notify-wrapper {
    .kube-notify {
      position: fixed;
      background-color: transparent;
      padding: 0;
      border: none;
      top: 0;
      z-index: 2010;
      pointer-events: none;
      .kube-notice {
        box-shadow: 0 8px 16px 0 rgba(72, 91, 127, 0.2);
        width: 376px;
        position: relative;
        border-radius: $border-radius;
        border: solid 1px $white;
        background-color: $white;
        margin: 10px 0 20px;
        color: $third-text-color;
        pointer-events: auto;

        &-error {
          border-color: #ca2621;

          .kube-notify-icon {
            background-color: #ca2621;
          }

          .kube-notify-title {
            color: #a80600;
          }

          .kube-notice-close {
            color: #a80600;
          }
        }

        &-warning {
          border-color: #f5c414;

          .kube-notify-icon {
            background-color: #f5c414;
          }

          .kube-notify-title {
            color: #d6a800;
          }

          .kube-notice-close {
            color: #d6a800;
          }
        }

        &-success {
          border-color: #55bc8a;

          .kube-notify-icon {
            background-color: #55bc8a;
          }

          .kube-notify-title {
            color: #55bc8a;
          }

          .kube-notice-close {
            color: #55bc8a;
          }
        }

        &-info {
          border-color: #51a6d3;

          .kube-notify-icon {
            background-color: #51a6d3;
          }

          .kube-notify-title {
            color: #51a6d3;
          }

          .kube-notice-close {
            color: #51a6d3;
          }
        }
      }
    }

    .kube-notify-with-icon {
      position: relative;
      .kube-notify-icon {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 56px;
        text-align: center;
        .icon {
          height: 100% !important;
        }
      }
      .kube-notify-text {
        height: 100%;
        margin-left: 56px;
        padding: 7px 16px;
      }

      .kube-notify-title {
        font-weight: 500;
        line-height: 20px;
        padding-right: 40px;
      }

      .kube-notify-content {
        font-family: $font-family-id;
        font-weight: $font-bold;
        line-height: 20px;
        color: $third-text-color;
        @include break-all;
      }
    }
    .kube-notice-close {
      position: absolute;
      top: 7px;
      right: 16px;
      height: 20px;
      width: auto;
      padding: 0;
      font-size: $body-size;
      font-weight: $font-thin;
      line-height: 20px;
    }
  }
}
