@import '~scss/variables';

.title {
  display: flex;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 12px;
}

.subTitle {
  margin-top: -12px;
  margin-bottom: 4px;
  color: $dark-color01;
}

.row {
  margin-bottom: 12px;
}

.wrapper {
  max-width: 455px;
}

.item {
  padding: 12px;
  border: solid 1px $light-color06;
  border-radius: 4px;
  background-color: white;
}

.boxWrapper {
  max-width: 455px;
  margin-top: 4px;
  padding: 12px;
  background-color: $light-color01;
  border-radius: 4px;
  min-height: 80px;

  .empty {
    text-align: center;
    color: $dark-color01;
    line-height: 56px;
  }
}

.tag {
  margin-bottom: 4px;

  :global {
    .icon {
      margin-left: 8px;
    }
  }
}

.tag + .tag {
  margin-left: 8px;
}
