@import '~scss/variables';

.wrapper {
  width: 487px;
  padding: 0 20px 0 12px;

  :global {
    .h5 {
      margin-bottom: 12px;
      line-height: 20px;
      font-size: 12px;
      text-shadow: none;
    }
  }
}

.upload {
  margin-top: 20px;
}

.uploadIcon {
  display: flex;

  .iconShow {
    width: 96px;
    height: 96px;
    line-height: 96px;
    margin-right: 20px;

    .image {
      top: 0;
      transform: translateY(0);
    }
  }

  .word {
    .note {
      margin: 8px 0 12px;
      color: $second-text-color;
    }
  }
}

.error {
  margin: 8px 0;
  color: $red;
}
