@import '~scss/variables';
@import '~scss/mixins';

.wrapper {
  :global {
    .code {
      display: inline-block;
      height: 20px;
      padding: 0 4px;
      border-radius: 1px;
      background-color: $light-color04;
      @include TypographyParagraphCode;
      line-height: 20px;
    }
  }
}

.title {
  display: flex;
  align-items: center;
  position: relative;
  padding: 8px;

  :global .spin {
    margin-right: 18px;
  }
}

.content {
  padding: 12px;
  margin-top: 12px;
  border-radius: $border-radius;
  background-color: $light-color01;
}

.card {
  position: relative;
  padding: 12px;
  border-radius: 4px;
  border: solid 1px $light-color06;
  background-color: #ffffff;

  & + .card {
    margin-top: 8px;
  }
}

.copy {
  position: absolute;
  top: 17px;
  right: 12px;
}

.action {
  @include vertical-center;
  right: 12px;
}
