@import '~scss/variables';

.table {
  margin: 0 -20px;
  border-radius: $border-radius;
  overflow: hidden;
}

.card_content {
  height: 80px;
  border-radius: 4px;
  background-color: $lightest;
  padding: 20px;
  display: flex;
}

.icon {
  margin-right: 20px;
}

.info {
  .name {
    font-size: 14px;
    font-weight: bold;
    line-height: 1.43;
    line-height: 20px;
    color: #242e42;
  }
  .desc {
    font-size: 12px;
    color: #79879c;
  }
}
