@import '~scss/variables';
@import '~scss/mixins';

.container {
  margin-bottom: 12px;
  padding: 8px 12px 8px 12px;
  border: 1px solid $light-color03;
  box-sizing: border-box;
  border-radius: 4px;
  background: #fff;
}

.containerSelect {
  width: 100%;
}
