@import '~scss/variables';

.manage {
  width: 92px;
  height: 32px;
  border-radius: 16px;
  border: 1px solid #ccd3db;
  background: #eff4f9;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;

  :global {
    .popper.dropdown.is-active {
      margin-top: 4px;
    }
  }

  .button {
    height: 100%;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      margin-right: 4px;
    }
  }

  div {
    width: 210px;
  }
}
