@import '~scss/variables';

.content {
  display: flex;
}

.totalResult {
  flex-basis: 14%;
  height: 120px;
  padding-top: 22px;
  border-radius: 4px;
  text-align: center;
  .icon {
    margin-bottom: 8px;
  }
  & > :last-child {
    line-height: 24px;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
  }
}

.otherCards {
  flex-grow: 1;
  height: 112px;
  padding: 0px 4px;
  margin-top: 4px;
  border-radius: 4px;
  background-color: $lightest;
  display: flex;
  justify-content: space-around;
}

.resultCard {
  width: 25%;
  margin: 8px 4px;
  height: 96px;
  border-radius: 4px;
  border: solid 1px $light-color03;
  background-color: #ffffff;
  padding: 22px 20px;

  .title {
    height: 20px;
    font-weight: 600;
    color: #404e68;
    :global(.icon) {
      margin-top: -3px;
      margin-right: 4px;
    }
  }

  .value {
    height: 32px;
    text-shadow: 0 2px 4px rgba(36, 46, 66, 0.1);
    font-family: $font-family-id;
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #404e68;
    .unit {
      font-size: 10px;
      margin-left: 4px;
    }
  }
}

.success {
  background-image: linear-gradient(to bottom, #46d18e, #329dce);
}

.error {
  background-image: linear-gradient(to bottom, #f5515f, #b71a2f 72%, #9f041b);
}

.totalResult {
  color: white;
}

.A,
.B {
  font-size: 12px;
  font-weight: bold;
  color: #ffffff;
  display: inline-block;
  line-height: 14px;
  margin-left: 4px;
  text-align: center;
  width: 14px;
  height: 14px;
  border-radius: 3px;
  box-shadow: 0 2px 4px 0 rgba(245, 166, 35, 0.36);
  background-color: $green;
}

.C,
.D {
  font-size: 12px;
  font-weight: bold;
  color: #ffffff;
  display: inline-block;
  line-height: 14px;
  text-align: center;
  margin-left: 4px;
  width: 14px;
  height: 14px;
  border-radius: 3px;
  box-shadow: 0 2px 4px 0 rgba(245, 166, 35, 0.36);
  background-color: $yellow;
}

.logo {
  cursor: pointer;
  display: inline-block;
  width: 83px;
  height: 21px;
  background-image: url('/assets/sonarqube.svg');
}
