@import '~scss/variables';
@import '~scss/mixins';

.probe {
  position: relative;
  height: 64px;
  border-radius: 4px;
  border: solid 1px $border-color;
  background-color: $white;

  .content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 12px 200px 12px 64px;

    & > div {
      min-width: 100px;

      &:first-of-type {
        margin-right: 20px;
      }

      & + div {
        margin-left: 20px;
      }

      & > strong {
        color: $text-color;
      }

      & > p {
        color: $second-text-color;
      }
    }

    :global {
      .icon {
        position: absolute;
        @include vertical-center;
        left: 12px;
      }
    }
  }

  :global {
    .buttons {
      display: none;
      position: absolute;
      top: 50%;
      right: 12px;
      transform: translateY(-50%);

      & > button {
        margin: 0;
      }
    }
  }

  &:hover {
    :global .buttons {
      display: block;
    }
  }
}

.empty {
  padding: 12px;
  border-radius: 4px;
  border: dashed 1px $border-color;
  background-color: $white;
  cursor: pointer;
  transition: border-color $trans-speed ease-in-out,
    box-shadow $trans-speed ease-in-out;

  &:hover {
    box-shadow: 0 4px 8px 0 rgba(36, 46, 66, 0.2);
    border-color: $input-hover-color;
  }
}

.form {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}
