@import '~scss/variables';

.card {
  position: relative;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(36, 46, 66, 0.06);
  transition: all $trans-speed ease-in-out;

  & + .card {
    margin-top: 12px;
  }

  &:hover {
    box-shadow: 0 6px 16px 0 rgba(33, 43, 54, 0.2);

    .view {
      opacity: 1;
    }
  }
}

.icon {
  width: 40px;
  height: 40px;
  padding: 8px;
  border-radius: 20px 0 20px 20px;
  background-color: $bg-color;

  img {
    width: 24px;
    height: 24px;
    padding: 2px;
  }
}

.title {
  margin-bottom: 32px;
}

.create {
  width: 96px;
}

.content {
  padding: 20px 24px;
  border-radius: 4px 4px 0 0;

  strong {
    font-family: $font-family-id;
  }

  :global {
    .column {
      display: flex;
      align-items: center;
    }
  }
}

.footer {
  position: relative;
  height: 43px;
  padding: 11px 20px;
  border-radius: 0 0 4px 4px;
  background-color: $lightest;

  .view {
    position: absolute;
    top: 50%;
    right: 20px;
    opacity: 0;
    transform: translateY(-50%);
    transition: opacity 0.1s ease-in-out;
  }
}

.metrics {
  span {
    display: inline-block;
    vertical-align: middle;
    margin-right: 36px;
    color: #79879c;

    strong {
      color: #242e42;
    }
  }
}
