@import '~scss/variables';
@import '~scss/mixins';

@mixin item {
  .title {
    display: flex;
    font-size: 12px;
    line-height: 20px;
    color: $dark-color07;
    align-items: center;

    .toolTip {
      margin-left: 6px;
    }
  }

  .des {
    display: block;
    font-size: 12px;
    line-height: 20px;
    color: $dark-color01;

    .mode_title {
      display: flex;
    }

    .toolTip {
      margin-left: 6px;
    }
  }
}

.ItemBox {
  display: flex;

  .leftBox {
    min-width: 20%;
    display: flex;

    .rightBox {
      margin-left: 12px;
      @include item();
    }
  }

  .titleBox {
    width: 20%;
    margin-left: 107px;
    @include item();
  }
}

.IconLine {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;

  .cardBox {
    width: 32.5%;
    height: 64px;
    padding: 17px;
    background: $light-color01;
    border-radius: 4px;
    display: flex;
    align-items: center;

    .text {
      margin-left: 12px;
      @include item();
    }
  }
}
