@import '~scss/variables';
@import '~scss/mixins';

.title {
  margin-bottom: 12px;
  color: $text-color;
  font-weight: bold;
}

.screenshot {
  padding: 12px;
  border-radius: $border-radius;
  background-color: $bg-color;
  overflow: hidden;

  .pictures {
    li {
      display: inline-block;
      position: relative;
      margin-right: 12px;
      margin-bottom: 8px;
      width: 160px;
      height: 90px;
      line-height: 90px;
      background-color: $white;
      text-align: center;

      &.upload {
        border: 1px dashed $border-color;
        cursor: pointer;

        .add {
          opacity: 0.32;
        }
      }

      &:hover {
        .delete {
          display: block;
        }
      }

      .delete {
        display: none;
        position: absolute;
        top: 0;
        width: 160px;
        height: 92px;
        background-color: rgba($dark-color08, 0.8);
        color: $white;

        >label {
          display: inline-block;
          line-height: 20px;
          cursor: pointer;
          .icon {
            float: left;
            margin-right: 4px;
          }
        }
      }

    }
  }

  .error {
    padding: 8px 0;
    color: $red;
  }

  .words {
    font-size: 12px;
    line-height: 20px;
    color: $second-text-color;

    .upload {
      display: inline-block;
      margin: 0 12px;
      color: $blue;
      font-weight: bold;
      cursor: pointer;

      &.disabled {
        cursor: not-allowed;
        opacity: 0.5;
      }
    }

    .deleteAll {
      float: right;
      color: $blue;
      font-weight: bold;
      cursor: pointer;

      &.disabled {
        cursor: not-allowed;
        opacity: 0.5;
      }
    }
  }
}
