@import '~scss/variables';

.wrapper {
  display: flex;

  .text {
    flex: none;
    height: 32px;
    padding: 6px 10px;
    font-size: $body-size;
    font-family: $font-family-id;
    line-height: 1.67;
    color: $text-color;
    border: 1px solid $input-border-color;
    background-color: #eff4f9 !important;

    &:nth-of-type(1) {
      border-radius: 4px 0 0 4px;
      margin-right: -1px;
    }

    &:nth-of-type(2) {
      border-left: none;
      border-radius: 0 4px 4px 0;
    }
  }

  :global {
    .select,
    input {
      max-width: 455px;
      flex-grow: 1;

      &.ks-input-addons-prefix {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;

        .select-control {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
      }

      &.ks-input-addons-suffix {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;

        .select-control {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }
      }
    }

    .select-options {
      width: auto !important;
      min-width: 187.36px;
    }
  }
}
