@import '~scss/variables';
.wrapper {
  display: flex;
  margin: 12px 0;
  box-shadow: none;

  .text {
    flex: 1;
  }

  .switch {
    width: 111px;

    span {
      min-width: 39px;
    }
  }
}

.selectBox {
  background: $light-color01;
  border-radius: 4px;
  padding: 12px;

  .line {
    background: $light-color02;
    border: 1px solid $light-color06;
    border-radius: 22px;
    padding: 6px 20px 6px 20px;
    height: 44px;
    display: flex;
    margin-bottom: 8px;

    &:last-of-type {
      margin-bottom: 0px;
    }
  }
}

.labelSelect {
  width: 152px;
  margin-right: 12px;

  &:last-of-type {
    flex: 1;
    margin-right: 0px;
  }
}

.operator {
  width: 112px;
  margin-right: 12px;
}
