name: Main

on:
  push:
    # Publish `master` as Docker `latest` image.
    branches:
      - master
      - dev
      - release-*

    # Publish `v1.2.3` tags as releases.
    tags:
      - v*

  # Run build for any PRs.
  pull_request:

env:
  IMAGE_NAME: ks-console
  DOCKERHUB_REPO: kubespheredev

jobs:
  build-and-push:
    runs-on: self-hosted

    strategy:
      matrix:
        node-version: [12.18.x]

    steps:
    - uses: actions/checkout@v2

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}

    - name: Install Dependencies
      run: yarn

    - name: Build
      run: yarn build

    - name: Test
      run: yarn test

    - name: Build image
      if: github.event_name == 'push'
      run: docker build  --pull --file Dockerfile --tag $IMAGE_NAME  . 

    - name: Docker login
      if: github.event_name == 'push'
      uses: azure/docker-login@v1
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_PASSWORD }}

    - name: Push image
      if: github.event_name == 'push'
      run: |
          IMAGE_ID=$DOCKERHUB_REPO/$IMAGE_NAME
          # Strip git ref prefix from version
          VERSION=$(echo "${{ github.ref }}" | sed -e 's,.*/\(.*\),\1,')
          # Use Docker `latest` tag convention
          echo IMAGE_ID=$IMAGE_ID
          echo VERSION=$VERSION
          docker tag $IMAGE_NAME $IMAGE_ID:$VERSION
          docker push $IMAGE_ID:$VERSION
