@import '~scss/variables';

.nav {
  &>p {
    color: #79879c;
    margin-bottom: 12px;
  }

  &>.menu {
    margin-bottom: 20px;

    &>.subMenu,
    &>.menuItem {
      border-radius: 18px;
      border: solid 1px transparent;
      transition: all $trans-speed ease-in-out;

      &>.title,
      &>a {
        display: block;
        padding: 9px 12px;
        color: #4a5974;
        font-weight: 500;
        cursor: pointer;

        @media (max-width: 1366px) {
          padding: 7px 0;
        }
      }

      :global {
        .icon {
          margin-right: 8px;
          vertical-align: text-bottom;
        }

        .kubed-icon-chevron-down {
          margin-top: 4px;
          transition: all $trans-speed ease-in-out;
        }
      }
    }

    .menuItem {

      &.select,
      &:hover,
      &:active {
        &>a {
          color: $primary;
        }
      }
    
      &.disabled {
        opacity: 0.7;
    
        &.select,
        &:hover,
        &:active {
          &>a {
            color: #4a5974;
            cursor: not-allowed;
          }
        }
      }
    }
  }
}



.subMenu {

  &.select,
  &:hover,
  &:active {
    &>.title {
      :global {
        .kubed-icon-chevron-down {
          transform: rotate(-180deg);
        }
      }
    }
    &>.innerNav {
      &>.subMenu {
        height: auto;
        opacity: 1;
      }

      &>.menuItem {
        height: 28px;
        line-height: 28px;
        opacity: 1;
      }
    }
  }

  &.disabled {
    opacity: 0.7;

    &.select,
    &:hover,
    &:active {
      &>.title {
        color: #4a5974;
        cursor: not-allowed;
        :global {
          .kubed-icon-chevron-down {
            transform: none;
          }
        }
      }
      &>.innerNav{
        display: none;
      }
    }
  }
}

.innerNav {
  padding-left: 40px;

  @media (max-width: 1366px) {
    padding-left: 29px;
    &>.title {
      padding-right: 0;
    }
  }

  :global {
    .icon {
      display: none;
    }
  }

  &>.subMenu {
    height: 0;
    opacity: 0;

    &>.title {
      padding: 4px 12px 4px 0;
      cursor: pointer;
    }

    @media (max-width: 1366px) {
      &>.title {
        padding-right: 0;
      }
    }

    &>.innerNav {
      padding-left: 20px;
    }
  }

  .menuItem {
    height: 0px;
    opacity: 0;
    overflow: hidden;
    transition: height .3s ease-in-out, opacity .3s ease-in-out .1s;
  }
}

.rightIcon {
  float: right;
  margin-right: 0 !important;
  display: inline-flex !important;
}