.status__container {
  margin-bottom: 12px;
  display: flex;
  .warper__container {
    flex: 1 1;
    padding: 12px;
    background: #fff;
    margin-right: 12px;

    &:last-child {
      margin-right: 0;
    }
  }
  .warper__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
