@import '~scss/variables';

.wrapper {
  box-shadow: 0 -1px 0 0 $light-color04;
}

.tabs {
  display: flex;
  background-color: $light-color02;
}

.tab {
  display: flex;
  align-items: center;
  padding: 12px;
  cursor: pointer;
  flex: 1;
}

.on {
  background-color: #fff;
}

.disc {
  margin-left: 12px;
  color: $dark-color01;
}

.dictitle {
  color: $dark-color07;
  font-weight: 600;
}

.rulemenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 20px 0;
  height: 44px;
  border-radius: 4px;
  padding: 0 12px;
  background-color: $light-color01;
}

.rulebody {
  padding: 20px;
}

.rulegroup {
  &:first-child {
    margin-bottom: 12px;
  }
}

.subtitle {
  color: $dark-color06;
  line-height: 1.67;
  font-weight: 600;
}

.disp {
  color: $dark-color01;
  line-height: 1.67;
}

.row {
  display: flex;
  background-color: $light-color02;
  border: 1px solid $light-color06;
  border-radius: 22px;
  margin-top: 8px;
  justify-content: space-between;
  align-items: center;

  & > :last-child {
    flex: none;
    margin: 0 20px;
    cursor: pointer;
  }
}

.prow {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.cell {
  margin: 12px 20px;

  & > :first-child {
    margin-right: 8px;
  }

  b {
    margin-right: 8px;

    span {
      padding: 0 2px;
    }
  }

  :global {
    label {
      color: $dark-color01;
    }
  }
}

.pcell {
  margin: 12px 20px 12px 40px;

  & > :first-child {
    margin-right: 8px;
  }

  :global {
    label {
      color: $dark-color01;
    }
  }
}

.port {
  margin: 12px 12px 12px 10px;
}
