@import '~scss/variables';
@import '~scss/mixins';

.main {
  position: relative;
  min-height: 40px;
  padding: 12px;
  background-color: $light-color01;

  .loading {
    display: flex;
    justify-content: center;
    padding: 20px 0;
  }

  .empty {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
  }
}

.itemMain ul {
  display: table;
  table-layout: fixed;
  width: 100%;
  margin-bottom: 4px;
  background-color: $white;

  li {
    position: static;
    display: table-cell;
    vertical-align: middle;
    padding: 8px 12px;
    line-height: 20px;

    &.time {
      color: #79879c;
      text-align: right;
    }
  }
}
